@import 'core';

:host {
  display: inline-flex;
  align-items: center;

  width: var(--btn-wdh, auto);
  min-height: var(--btn-hgt, rem(58));

  outline: none;

  &.--nowrap {
    .__button {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
    }
  }

  //* Disabled styles

  &.--disabled,
  & > .__button:disabled {
    opacity: $disabled-opacity;

    pointer-events: none !important;
  }

  &.--disabled > .__button,
  & > .__button:disabled {
    color: $button-primary-disabled-color !important;

    background: $button-primary-disabled-bg-color !important;
  }

  &.--blink {
    .__button {
      animation: pulse 15s 2s infinite !important;
    }
  }
}

.__button {
  width: inherit;
  height: auto;
  min-height: inherit;
  min-width: var(--btn-min-wdh, rem(185));

  padding: var(--btn-pdd, #{0 rem(24)});

  font-family: $font-family-primary;
  font-size: var(--btn-font-size, rem(16));
  font-weight: bold;
  color: var(--cl-white);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  border-radius: var(--btn-rd, rem(35));
  background: var(--btn-bg, $cl-primary);
  border: none;

  user-select: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

@include max-wide(phones) {
  :host {
    &.--mobile-over-text {
      &,
      .__button {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

@include only-mouse {
  :host {
  }

  .__button {
    transition: $button-transition;
    will-change: transform;

    &:hover {
      background-color: var(--cl-pink-dark);
    }

    &:active {
      transform: var(--btn-transform, translate(0, 2px));
    }
  }
}

/*
@include only-touch {
  :host {

  }
}
*/

@include keyframes(button-touch) {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 2px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@include keyframes(pulse) {
  0% {
    box-shadow: 0 0 rem(0) rem(0) $cl-primary;
  }

  50% {
    box-shadow: 0 0 rem(3) rem(12) rgba(clr('pink'), 0.09);
  }

  100% {
    box-shadow: 0 0 rem(0) rem(0) $cl-primary;
  }
}
