@import '../../../node_modules/swiper/swiper.scss';

//.swiper-wrapper {
//  align-items: center;
//}
//
//.swiper-slide {
//  display: flex;
//  align-items: center !important;
//
//  background: transparent;
//}

//.swiper {
//  overflow: unset;
//
//  &:before, &:after {
//    position: absolute;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    z-index: 10;
//
//    width: 20vw;
//
//    content: '';
//
//    background: $gr-light-fade;
//
//  }
//
//  &:after {
//    right: 0;
//    left: auto;
//  }
//
//  &:before {
//    transform: scaleX(-1);
//  }
//
//  @include max-wide(phones) {
//    &:before, &:after {
//      content: none;
//    }
//  }
//}

.swiper-button-next, .swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;

  width: rem(48);
  height: rem(48);

  padding: 0;

  color: var(--cl-white);

  border-radius: 50%;
  background: $cl-primary;
  box-shadow: none;
  cursor: pointer;

  &:before {
    @include pseudo-icon($hpi-arrow-right, 24);
  }

  @include only-mouse {
    &:hover {
      background: var(--cl-pink-dark);
    }
  }
}

.swiper-button-prev {
  &:before {
    content: $hpi-arrow-left !important;
  }
}
