<article class="__cookies">

  <h2 class="__h2 gm-mrg">We use cookies</h2>
  <p class="__p gm-mrg">
    They allow us to improve your browsing experience and analyze website traffic.
    To<a href routerLink="privacy-policy"> learn more...</a>
  </p>

  <div class="__btns">
    <hope-button (click)="accept($event)">Accept</hope-button>
    <hope-button (click)="decline($event)">Decline</hope-button>
  </div>
</article>
