@import "core";

:host {
  --slide-is-translate-from: -50%, 50vh;
  --slide-is-translate-end: -50%, 0;

  --btn-min-wdh: #{rem(100)};
  --btn-pdd: #{0 rem(10)};
  --btn-hgt: #{rem(36)};
  --btn-font-size: #{rem(14)};
  --link-color: #{$cl-primary};

  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: z-index(modal) + $z-index-step;

  display: flex;
  width: 88%;
  max-width: rem(570);

  height: max-content;

  transform: translate(-50%, 0vh);
}

.__cookies {
  display: grid;
  grid-gap: rem(10);


  margin: rem(10) auto 0;
  padding: $contentGutterX2;

  border: rem(3) solid $cl-secondary;
  border-bottom: 0;
  border-radius: rem(16) rem(16) 0 0;

  background: var(--cl-white);
  box-shadow: $sh-card;
}

.__h2 {
  grid-area: 1/1;

  font-size: rem(20);
  font-weight: 700;
}

.__p {
  grid-area: 2/1;

  font-size: rem(14);
  font-weight: 500;
}

.__btns {
  display: grid;
  grid-auto-flow: row;
  grid-gap: rem(10);
  grid-area: 2 span /2;

  align-content: space-evenly;
  align-self: center;
}
