
.list {
  padding: 0;

  font-size: rem(15);
  list-style: none;

  color: var(--cl-slate-grey);
  line-height: 150%;

  li {
    position: relative;

    padding: 0 0 0 rem(30);

    &:before {
      position: absolute;
      top: rem(5);
      left: 0;

      width: rem(8);
      height: rem(8);

      content: '';

      background: $cl-primary;
    }

    &:not(:first-child) {
      margin-top: rem(20);
    }

    ul {
      margin-top: rem(20);
    }
  }

  &.--gap-small {
    li {
      &:not(:first-child) {
        margin-top: rem(12);
      }
    }
  }

  &.--normal {
    font-size: inherit;

    li {
      margin-left: rem(20);
    }
  }

  &.--center-mark {
    li {
      &:before {
        top: 50%;

        width: rem(10);
        height: rem(10);

        transform: translate(0, -50%);
      }
    }
  }
  &.--hide-mark {
    &> li{
      padding-left: 0;

      &:before{
        content: none;
      }
    }
  }
}

.list-caption {
  margin: 0 0 rem(24);

  font-size: rem(32);
  line-height: 138%;
  color: $cl-primary;

  &.--small{
    font-size: rem(20);
  }


  @include max-wide(phonesLg) {
    font-size: rem(24);

    &.--small{
      font-size: rem(18);
    }
  }

}
