@import '../../../node_modules/@ng-select/ng-select/scss/default.theme';

.ng-select {
  width: 100%;

  height: auto;

  font-family: inherit;
  font-size: rem(16);
  font-weight: 600;
  letter-spacing: normal;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .ng-select-container {
    width: auto !important;

    border: none;
    outline: none;
    border-bottom: rem(2) solid #E6EAEE;
    background: transparent;

    &:focus,
    &:hover {
      box-shadow: none !important;

      outline: none;
    }

    .ng-value-container, .ng-input {
      padding-left: rem(24) !important;
    }

    .ng-input {
      top: 0 !important;

      display: none !important;
      align-items: center;

      height: 100%;

      input {
        cursor: initial !important;

        outline: none;
        box-shadow: none !important;
      }
    }
  }

  .ng-dropdown-panel {
    border: none !important;
    overflow: hidden;

    &.ng-select-top {
      bottom: rem(40);
    }

    &.ng-select-bottom {
      margin-top: 0;
    }
  }

  .ng-dropdown-panel-items {
    max-height: $ng-select-items-height !important;

    .ng-option {
      padding: rem(8) rem(24);

      border: 0.5px solid transparent;
      border-left: none;
      border-right: none;


      @include only-mouse {
        &:hover {

          background-color: var(--cl-gray-lighten);
        }
      }

      &.ng-option-selected {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $cl-primary !important;
        font-weight: 700;

        //background-color: var(--cl-gray-lighten) !important;
      }
    }

    &.scroll-host {
      --scroll-size: #{rem(4)};

      @extend %scroll-small;
    }

    @include max-wide(phones) {
      max-height: rem(138) !important;
    }
  }

  .ng-arrow-wrapper {
    padding: rem(5) rem(8) rem(5) rem(10);

    &,
    .ng-arrow {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      height: max-content !important;
      width: max-content !important;
    }


    &:hover {
      .ng-arrow {
        color: $cl-primary;
      }
    }

    .ng-arrow {
      top: 0 !important;

      border: none;

      color: inherit;

      &:before {
        display: inline-flex;

        @include pseudo-icon($hpi-arrow-down, 12);
        transform: scaleY(-1) !important;
      }
    }
  }

  &.ng-select-opened > .ng-select-container .ng-arrow {
    &:before {
      transform: scaleY(1) !important;
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      border-bottom-color: $cl-primary;

      background: transparent !important;
    }

    .ng-dropdown-panel {
      border-radius: 0 !important;
      border-color: transparent;
    }

    .ng-select-container {
      border-color: $cl-primary !important;
      box-shadow: none !important;
    }

    .ng-dropdown-panel {
      box-shadow: $sh-card;
    }
  }

  &.ng-invalid {
    position: relative;

    .ng-select-container {
      border-color: $ng-select-error-color !important;
    }

    &:before {
      position: absolute;
      top: 100%;
      left: rem(8);
      right: rem(5);

      font-weight: 500;
      font-size: rem(10);
      color: $cl-red;
      content: 'Please select';

      text-align: right;
    }
  }

  .ng-placeholder {
    color: $cl-placeholder;
  }
}
