.ngx-spinner {
  top: 50% !important;
  left: 50% !important;
  //z-index: 1;

  transform: translate(-50%, -50%);

  box-shadow: 0 0 120vw 120vw rgba(#fff, 0.9);
  backdrop-filter: blur(9px);
  background: rgba(#fff, 0.9);;
}

.ngx-bar {
  position: fixed;
  top: auto !important;
  left: 0;
  right: 0;
  bottom: 0;

  height: max-content!important;

  background: $cl-primary!important;
  background: linear-gradient(90deg, $cl-primary 0%, $cl-primary 50%, var(--cl-pink-dark) 100%) !important;

  &:before {
    padding: rem(2) rem(20);

    content: 'loading page ...';

    font-weight: 600;
    font-size: rem(12);
    letter-spacing: 1px;
    color: var(--cl-white);
    white-space: nowrap;
  }
}
