<section>
  <div class="container">
    <figure class="__figure">
      <svg viewBox="0 0 364 180" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M69.939 80.1971C69.939 106.658 53.178 129.721 53.178 129.721C53.178 129.721 39.8557 114.784 36.9725 89.7715L40.0017 90.6362L36.8294 88.4258C36.5659 85.786 36.4199 83.0431 36.4199 80.1971C36.4199 75.5903 36.7234 71.4759 37.2846 67.8426L45.1096 72.0915L37.9374 64.3037C40.5772 52.2441 46.4095 46.5149 53.1809 46.5149C57.404 46.5149 61.255 48.7395 64.1983 53.3349L58.1656 58.314L65.4495 55.5424C67.783 60.1807 69.3549 66.6515 69.8073 75.0634L64.9084 77.9896L69.8874 76.9159C69.9218 77.981 69.939 79.0719 69.939 80.1971Z"
          fill="#EAEEF7"
        />
        <path
          d="M53.1825 158.831C59.1977 158.831 64.074 158.015 64.074 157.007C64.074 156 59.1977 155.184 53.1825 155.184C47.1673 155.184 42.291 156 42.291 157.007C42.291 158.015 47.1673 158.831 53.1825 158.831Z"
          fill="#CCDFFF"
        />
        <path
          d="M53.9035 91.7744L60.3285 85.3495C60.6119 85.066 60.6119 84.6108 60.3285 84.3273C60.045 84.0468 59.5898 84.0468 59.3063 84.3273L53.9035 89.7301V67.93L58.8167 63.0168C59.1002 62.7334 59.1002 62.2781 58.8167 61.9947C58.5333 61.7112 58.078 61.7112 57.7946 61.9947L53.9035 65.8857V57.8746C53.9035 57.4766 53.58 57.1531 53.182 57.1531C52.784 57.1531 52.4605 57.4766 52.4605 57.8746V68.8405L47.2639 63.6439C46.9804 63.3604 46.5252 63.3604 46.2417 63.6439C45.9583 63.9245 45.9583 64.3826 46.2417 64.666L52.4576 70.8819V92.6105L45.0707 85.2235C44.7872 84.9429 44.332 84.9429 44.0485 85.2235C43.7651 85.507 43.7651 85.9622 44.0485 86.2457L52.4576 94.6548V115.685L46.3076 109.535C46.0241 109.251 45.5689 109.251 45.2854 109.535C45.002 109.818 45.002 110.273 45.2854 110.557L52.4576 117.729V156.284C52.4576 156.682 52.7812 157.006 53.1792 157.006C53.5771 157.006 53.9007 156.682 53.9007 156.284V115.204L59.7072 109.4C59.9906 109.119 59.9906 108.661 59.7072 108.378C59.4237 108.094 58.9685 108.094 58.685 108.378L53.9007 113.162V91.7744H53.9035Z"
          fill="white"
        />
        <path
          d="M335.441 156.086C335.911 160.475 334.542 164.558 332.005 167.627H131.876C127.676 162.539 125.156 155.997 125.156 148.876C125.156 132.568 138.378 119.346 154.695 119.346C158.446 119.346 162.034 120.041 165.321 121.318C172.45 110.384 184.011 102.613 197.451 100.517C197.451 88.057 216.457 79.6192 229.639 79.6192C243.783 79.6192 268.824 83.9598 268.824 109.743C270.161 109.519 271.538 109.402 272.938 109.402C286.029 109.402 296.74 119.563 297.622 132.43C304.665 133.527 310.735 137.604 314.471 143.342C316.387 142.594 318.494 142.228 320.707 142.32C328.28 142.626 334.634 148.544 335.441 156.086Z"
          fill="white"
        />
        <path
          d="M213.149 131.036C208.21 131.036 204.207 135.039 204.207 139.978H222.087C222.09 135.039 218.088 131.036 213.149 131.036Z"
          fill="#EAEBFE"
        />
        <path
          d="M218.735 89.7261C215.588 89.7261 213.037 92.2772 213.037 95.4238H224.432C224.432 92.2772 221.881 89.7261 218.735 89.7261Z"
          fill="#EAEBFE"
        />
        <path
          d="M199.517 111.905C195.895 111.905 192.957 114.842 192.957 118.464H206.079C206.079 114.842 203.141 111.905 199.517 111.905Z"
          fill="#E8F1FF"
        />
        <path
          d="M258.279 158.482C283.115 158.482 303.248 156.858 303.248 154.854C303.248 152.851 283.115 151.226 258.279 151.226C233.444 151.226 213.311 152.851 213.311 154.854C213.311 156.858 233.444 158.482 258.279 158.482Z"
          fill="#EAEBFE"
        />
        <path
          d="M92.3691 179.381C117.208 179.381 137.344 177.536 137.344 175.261C137.344 172.986 117.208 171.141 92.3691 171.141C67.5303 171.141 47.3945 172.986 47.3945 175.261C47.3945 177.536 67.5303 179.381 92.3691 179.381Z"
          fill="#EAEBFE"
        />
        <path
          d="M301.418 117.936C301.418 117.936 278.421 106.819 279.255 96.5056C279.947 87.9075 286.178 87.8044 287.349 87.8187C292.583 87.8846 296.932 97.3903 297.536 91.7126C298.14 86.0321 285.931 76.2372 286.813 65.2914C287.695 54.3455 293.258 47.305 301.868 47.9979C310.477 48.6908 316.298 56.6532 315.829 62.4883C315.359 68.3263 311.425 73.0019 309.49 79.1605C307.603 85.1674 310.569 87.6183 313.781 87.8788C316.991 88.1365 327.344 83.6127 326.54 93.608C325.735 103.603 301.811 117.965 301.811 117.965L301.418 117.936Z"
          fill="#EAEEF7"
        />
        <path
          d="M315.131 95.1535L314.106 93.7276L302.834 101.845V69.6656L309.007 63.4926L307.764 62.25L302.834 67.1804V61.1048H301.076V76.0161L292.816 67.0888L291.524 68.2799L300.967 78.487L301.076 78.3868V106.764L290.29 97.8076L289.168 99.1619L301.076 109.048V151.672H302.834V104.009L315.131 95.1535Z"
          fill="white"
        />
        <path
          class="__path-numb-1"
          d="M282.893 131.553H278.587V145.626C278.587 150.722 274.455 154.854 269.359 154.854H264.592C259.495 154.854 255.364 150.722 255.364 145.626V131.553H216.605C211.509 131.553 207.377 127.422 207.377 122.325V117.856C207.377 116.006 207.932 114.202 208.972 112.673L253.923 46.4743C255.641 43.9461 258.499 42.4315 261.557 42.4315H269.356C274.452 42.4315 278.584 46.563 278.584 51.6595V113.1H282.89C287.986 113.1 292.118 117.232 292.118 122.328C292.118 127.422 287.989 131.553 282.893 131.553ZM255.364 113.097V94.0257C255.364 90.8476 255.492 86.235 255.747 80.1851C256.002 74.1381 256.208 70.625 256.363 69.6516H255.747C253.849 73.8547 251.57 77.9576 248.904 81.9546L228.295 113.097H255.364Z"
          fill="#FF6A95"
        />
        <path
          d="M146.863 134.469C144.595 134.469 142.428 134.892 140.438 135.663C136.129 129.054 129.14 124.353 121.014 123.088C120.004 108.251 107.649 96.5374 92.5604 96.5374C76.8015 96.5374 64.0318 109.307 64.0318 125.066C64.0318 125.484 64.0375 125.893 64.0576 126.306C62.8636 126.117 61.6382 126.014 60.3927 126.014C47.6803 126.014 37.3672 136.318 37.3672 149.033C37.3672 154.588 39.3399 159.687 42.6182 163.661H133.068H142.193H160.658C163.197 160.583 164.721 156.629 164.721 152.326C164.718 142.463 156.727 134.469 146.863 134.469Z"
          fill="#F4F7FF"
        />
        <path
          d="M103.944 135.195C99.0047 135.195 95.002 139.198 95.002 144.137H112.882C112.885 139.198 108.883 135.195 103.944 135.195Z"
          fill="#FFF7FA"
        />
        <path
          d="M90.3154 116.061C86.6935 116.061 83.7559 118.999 83.7559 122.621H96.8777C96.8749 118.999 93.9373 116.061 90.3154 116.061Z"
          fill="white"
        />
        <path
          d="M270.129 141.856C272.065 141.856 273.914 142.216 275.612 142.875C279.289 137.237 285.252 133.226 292.184 132.147C293.046 119.489 303.585 109.493 316.458 109.493C329.904 109.493 340.798 120.388 340.798 133.833C340.798 134.188 340.792 134.54 340.775 134.889C341.794 134.729 342.839 134.64 343.902 134.64C354.747 134.64 363.546 143.433 363.546 154.279C363.546 159.017 361.865 163.366 359.065 166.759H281.894H274.109H258.356C256.189 164.134 254.889 160.758 254.889 157.088C254.894 148.676 261.714 141.856 270.129 141.856Z"
          fill="#F4F7FF"
        />
        <path
          class="__path-numb-3"
          d="M125.46 151.384H121.048V165.806C121.048 171.028 116.813 175.263 111.591 175.263H106.703C101.481 175.263 97.2462 171.028 97.2462 165.806V151.384H57.5312C52.3088 151.384 48.0742 147.15 48.0742 141.927V137.346C48.0742 135.451 48.644 133.601 49.7062 132.035L95.7716 64.1952C97.5325 61.604 100.461 60.0522 103.594 60.0522H111.588C116.81 60.0522 121.045 64.2868 121.045 69.5092V132.473H125.457C130.679 132.473 134.914 136.708 134.914 141.93C134.917 147.15 130.682 151.384 125.46 151.384ZM97.249 132.473V112.929C97.249 109.674 97.3807 104.944 97.6441 98.745C97.9076 92.5462 98.1166 88.9472 98.274 87.9509H97.6441C95.7001 92.2571 93.3609 96.4631 90.6294 100.56L69.5107 132.476H97.249V132.473Z"
          fill="#FF6A95"
        />
        <path
          class="__path-numb-2"
          d="M210.3 57.2177C210.3 76.5154 207.139 90.7968 200.818 100.065C194.496 109.336 184.761 113.971 171.61 113.971C158.864 113.971 149.255 109.184 142.781 99.6125C136.308 90.0409 133.072 75.9112 133.072 57.2205C133.072 37.7252 136.219 23.355 142.518 14.1099C148.814 4.86187 158.511 0.240723 171.61 0.240723C184.354 0.240723 193.989 5.0766 200.514 14.7484C207.039 24.423 210.3 38.5785 210.3 57.2177ZM156.27 57.2177C156.27 70.769 157.441 80.4808 159.783 86.3503C162.125 92.2198 166.067 95.1517 171.608 95.1517C177.048 95.1517 180.979 92.1797 183.395 86.2358C185.815 80.2919 187.023 70.6201 187.023 57.2177C187.023 43.6663 185.8 33.9316 183.358 28.0134C180.913 22.0952 176.996 19.1347 171.608 19.1347C166.116 19.1347 162.188 22.0952 159.82 28.0134C157.455 33.9316 156.27 43.6663 156.27 57.2177Z"
          fill="#FF6A95"
        />
        <path
          d="M148.687 88.0312C148.71 88.0712 148.673 88.0541 148.641 88.0455H148.633L148.673 88.014L148.687 88.0312Z"
          fill="#0000FF"
        />
        <path
          d="M16.9941 170.79C22.2408 170.79 26.4941 170.077 26.4941 169.198C26.4941 168.319 22.2408 167.606 16.9941 167.606C11.7474 167.606 7.49414 168.319 7.49414 169.198C7.49414 170.077 11.7474 170.79 16.9941 170.79Z"
          fill="#EAEBFE"
        />
        <path
          d="M21.7867 73.5494C21.5519 74.9695 21.7352 76.3896 22.01 77.8098C22.156 78.5198 22.3507 79.2299 22.5712 79.94C22.806 80.65 23.0264 81.3601 23.433 82.0702C24.2089 83.4903 25.609 84.9104 26.4737 86.3305C27.3498 87.7507 27.4615 89.1708 27.1952 90.5909C27.0606 91.301 26.7944 92.0111 26.4651 92.7211C26.1244 93.4312 25.7092 94.1412 25.3256 94.8513C24.9362 95.5614 24.5726 96.2714 24.332 96.9815C24.0858 97.6916 23.9656 98.4016 23.977 99.1117C23.9827 99.4667 24.0257 99.8218 24.0973 100.177C24.1803 100.532 24.2519 100.887 24.4523 101.242C24.8302 101.952 25.5804 102.662 26.5911 103.372C28.664 104.792 31.5272 106.212 32.5092 107.632C33.0475 108.343 33.1134 109.053 33.0275 109.763C32.9416 110.473 32.6724 111.183 32.2086 111.893C31.9796 112.248 31.7133 112.603 31.3897 112.958C31.2265 113.135 31.0805 113.313 30.9001 113.491L30.3504 114.023C29.6375 114.733 28.8358 115.443 28.1 116.153C27.3527 116.863 26.7457 117.573 26.2504 118.283C25.7722 118.993 25.4687 119.704 25.3141 120.414C24.9906 121.834 25.4859 123.254 26.4508 124.674C27.367 126.094 28.4264 127.514 28.5352 128.934C28.6211 129.644 28.4607 130.355 28.2374 131.065C28.0198 131.775 27.7507 132.485 27.4214 133.195C26.7657 134.615 25.8696 136.035 24.6584 137.455C23.4416 138.875 21.9699 140.295 19.7968 141.716C18.0417 142.864 15.837 142.792 14.185 141.716C12.0119 140.295 10.5402 138.875 9.32335 137.455C8.11223 136.035 7.21607 134.615 6.5604 133.195C6.23114 132.485 5.962 131.775 5.7444 131.065C5.52107 130.355 5.36074 129.644 5.44663 128.934C5.55257 127.514 6.61194 126.094 7.53101 124.674C8.4959 123.254 8.99123 121.834 8.66769 120.414C8.51308 119.704 8.20958 118.993 7.73143 118.283C7.23611 117.573 6.62912 116.863 5.88183 116.153C5.14314 115.443 4.34431 114.733 3.63139 114.023L3.08166 113.491C2.90414 113.313 2.75812 113.135 2.59206 112.958C2.26566 112.603 1.99938 112.248 1.77319 111.893C1.30936 111.183 1.04022 110.473 0.95433 109.763C0.865572 109.053 0.934288 108.343 1.47256 107.632C2.45463 106.212 5.31779 104.792 7.39072 103.372C8.40141 102.662 9.15156 101.952 9.5295 101.242C9.73278 100.887 9.8015 100.532 9.88453 100.177C9.95611 99.8218 9.99906 99.4667 10.0048 99.1117C10.0162 98.4016 9.89599 97.6916 9.64975 96.9815C9.40925 96.2714 9.04563 95.5614 8.65624 94.8513C8.27257 94.1412 7.85741 93.4312 7.5167 92.7211C7.18743 92.0111 6.9183 91.301 6.78659 90.5909C6.52318 89.1708 6.63198 87.7507 7.50811 86.3305C8.37565 84.9104 9.77573 83.4903 10.5488 82.0702C10.9554 81.3601 11.1758 80.65 11.4106 79.94C11.6311 79.2299 11.8229 78.5198 11.9718 77.8098C12.2438 76.3896 12.4299 74.9695 12.1951 73.5494C11.757 70.901 13.5494 68.4014 16.1949 67.9634C18.8434 67.5253 21.3429 69.3176 21.781 71.9632C21.8726 72.4957 21.8669 73.0426 21.7867 73.5494Z"
          fill="#F8E6F2"
        />
        <path
          d="M17.6236 112.3L23.2268 106.696C23.4731 106.45 23.4731 106.052 23.2268 105.806C22.9806 105.56 22.5826 105.56 22.3364 105.806L17.6236 110.519V91.5045L21.9098 87.2184C22.156 86.9721 22.156 86.5742 21.9098 86.3279C21.6636 86.0817 21.2656 86.0817 21.0193 86.3279L17.6236 89.7236V82.7347C17.6236 82.3854 17.343 82.1048 16.9937 82.1048C16.6473 82.1048 16.3638 82.3854 16.3638 82.7347V92.3005L11.8315 87.7681C11.5852 87.5219 11.1872 87.5219 10.941 87.7681C10.6948 88.0143 10.6948 88.4123 10.941 88.6585L16.3638 94.0814V113.036L9.91887 106.591C9.67263 106.344 9.27466 106.344 9.02842 106.591C8.78219 106.837 8.78219 107.235 9.02842 107.481L16.3638 114.816V133.158L10.9983 127.792C10.752 127.546 10.3541 127.546 10.1078 127.792C9.8616 128.038 9.8616 128.436 10.1078 128.683L16.3638 134.939V168.569C16.3638 168.919 16.6444 169.199 16.9937 169.199C17.3402 169.199 17.6236 168.919 17.6236 168.569V132.734L22.6886 127.672C22.9348 127.426 22.9348 127.028 22.6886 126.782C22.4423 126.535 22.0444 126.535 21.7981 126.782L17.6236 130.953V112.3Z"
          fill="white"
        />
        <path
          d="M330.272 145.071C325.333 145.071 321.33 149.074 321.33 154.013H339.211C339.213 149.074 335.211 145.071 330.272 145.071Z"
          fill="white"
        />
        <path
          d="M295.381 140.602C292.235 140.602 289.684 143.153 289.684 146.299H301.079C301.079 143.153 298.528 140.602 295.381 140.602Z"
          fill="white"
        />
        <path
          d="M316.64 125.938C313.018 125.938 310.08 128.876 310.08 132.498H323.202C323.202 128.876 320.264 125.938 316.64 125.938Z"
          fill="white"
        />
      </svg>
    </figure>

    <hope-caption content="Page not found"></hope-caption>

    <p class="__text">The page you are looking for doesn’t exist or an other error occurred.</p>

    <hope-button routerLink="/">Take me to Homepage</hope-button>
  </div>
</section>
