@import 'core';

:host {
  --btn-wdh: max-content;

  @extend %show-fade;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  padding-bottom: $contentGutterX3 * 2;

  min-height: calc(100vh - (var(--header-hgt) + #{rem(373.5)}));

  text-align: center;
}

.__figure {
  padding-top: $contentGutterX4;

  margin: 0 auto rem(38);

  max-width: rem(364);

  overflow: hidden;
  cursor: crosshair;

  svg {
    overflow: initial;
  }

  path:not(.__path-numb-1):not(.__path-numb-2):not(.__path-numb-3) {
    animation: smooth-opacity 0.5s both ease-in;
  }
}

.__path {
  &-numb-1 {
    --slide-is-translate-from: #{0, rem(200)};

    animation: slide-is 2.3s both cubic-bezier(1, -0.39, 0, 1.36);
  }

  &-numb-2 {
    --slide-is-translate-from: #{0, rem(-250)};

    animation: slide-is 1.9s both cubic-bezier(1, -0.39, 0, 1.36);
  }

  &-numb-3 {
    --slide-is-translate-from: #{0, rem(250)};

    animation: slide-is 1.6s both cubic-bezier(1, -0.39, 0, 1.36);
  }
}

.__text {
  margin: $contentGutter auto $contentGutterX2;

  color: var(--cl-gray-light);
}

@include max-wide(laptop) {
  :host {
    padding-bottom: $contentGutterX3;
  }

  .__figure {
    padding-top: ($contentGutterX3 * $multiplier);
  }
}

@include max-wide(phonesLg) {
  .__figure {
    padding-top: $contentGutterX3;
  }

  .__figure {
    margin: 0 auto rem(33);

    max-width: rem(260);
    max-height: initial;
  }
}

@include min-wide(notebookLg) {
  .__figure {
    max-width: rem(480);
    max-height: initial;
  }
}
