@import "core";

:host {
  --btn-min-wdh: #{rem(262)};
  --link-color-hover: #{$cl-primary};

  position: relative;
  z-index: 1;

  padding: rem(48) 0 0;

  &:before {
    display: flex;

    height: rem(100);

    content: '';

    background: url("#{$assets-path}vawe-bg.svg") no-repeat top center/ var(--footer-line-bs, 100% #{calc(100% * 2)});
  }

  &.--offset {
    padding: 0;

    &:before {
      margin-top: rem(-61);
    }
  }

  &.--small {
    .__content {
      display: none !important;
    }

    &:before {
      content: none;
    }
  }
}

.__main {
  background: var(--cl-white);
}

.__content {
  padding-top: rem(36);
  padding-bottom: rem(36);
}

.__soc {
  margin: 0 rem(60) 0 rem(92);
}

.__contact {
  margin: 0 auto 0 0;
}

.__link {
  display: inline-flex;
  align-items: center;

  max-width: rem(331);

  text-decoration: none;

  &.--soc {
    justify-content: center;
    width: rem(40);
    height: rem(40);

    color: var(--cl-white);

    border-radius: 50%;
    background: $cl-secondary;

    @include only-mouse {
      &:hover {
        background: $cl-primary;
      }
    }
  }

  &.--icon {
    width: auto !important;
    height: auto !important;

    font-size: rem(24) !important;
    color: $cl-secondary;

    background: transparent;

    @include only-mouse {
      &:hover {
        color: $cl-primary;
      }
    }
  }

  &:not(.--soc):not(.--icon) {
    position: relative;

    padding: rem(2) rem(14);

    font-weight: bold;
    font-size: rem(18);
    line-height: 106%;

    &:before {
      position: absolute;
      top: 0;
      left: 0;

      width: rem(3);
      height: 100%;

      border-radius: rem(6);
      content: '';

      background: $cl-primary;
    }
  }
}

.__down {
  min-height: rem(26);

  font-weight: 600;
  color: var(--cl-white);

  background: $cl-secondary;
}

@include max-wide(laptop) {
  :host {
    --footer-line-bs: 120% 160%
  }

  .__btn {
    margin: rem(48) auto 0;
  }
}

@include max-wide(phonesLg) {
  .__soc {
    margin: 0 4vw 0 auto;
  }

  .__content {
    padding-top: rem(10);
  }

  .__contact {
    margin-top: rem(-25);
  }

  .__down {
    padding: rem(10) 0;
  }
}

@include max-wide(phones) {
  :host {
    &:before {
      height: rem(70);
    }
  }
}

@include min-wide(notebook) {
  :host {
    --footer-line-bs: cover;
  }
}

@include min-wide(retina) {
  :host {
    --footer-line-bs: 100% 260%
  }
}

