<footer class="__main">
  <div class="container __content" fxLayout=" row">
    <hope-logo class="--blue"></hope-logo>

    <div class="__soc" gdGap="0.5rem">
      <a href class="__link --soc hpi-soc-fb" [attr.href]="facebook" target="_blank" rel="nofollow"></a>
      <a href class="__link --soc hpi-soc-in" [attr.href]="linkedin" target="_blank" rel="nofollow"></a>
      <a href class="__link --soc hpi-soc-inst" [attr.href]="instagram" target="_blank" rel="nofollow"></a>
    </div>

    <div class="__contact" gdGap="0.875rem">
      <div fxLayout="row nowrap"
           fxLayoutAlign="flex-start center center "
           fxLayoutGap="0"
           fxLayoutGap.lt-sm="1rem">
        <a href class="__link " [attr.href]="'tel:' + phoneLink">{{phone}}</a>
        <a href class="__link --icon  hpi-soc-viber" [attr.href]="watsapp" target="_blank"></a>
      </div>

      <a href class="__link " [attr.href]="'mailto:' + email" target="_blank">{{email}}</a>
      <a href class="__link " [attr.href]="addressLink" target="_blank" rel="nofollow">{{address}}</a>
    </div>

    <div class="__btn" fxLayoutAlign="center center">
      <hope-button (click)="openConsultationAside()">Get In Touch</hope-button>
    </div>
  </div>

  <div class="__down" fxLayoutAlign="space-between center">
    <div class="container" fxLayoutAlign="space-between" gdAuto.lt-sm="row" gdGap.lt-sm="1rem">
      <span>© New Hope 2012-2023. Surrogacy and IVF in Ukraine. All Rights Reserved.</span>

      <a href routerLink="privacy-policy" fxFlexOrder.xs="-1">Privacy Policy</a>
    </div>
  </div>
</footer>
