@import "core";

:host {
  &.--invert {
    .__pic {
      order: -1;

      margin-right: rem(72) !important;

      &:before {
        top: auto;
        left: auto;
        bottom: rem(-16);
        right: rem(-28);
      }

      &:after {
        top: rem(-28);
        right: rem(-8);
        bottom: auto;
      }
    }

    .__info {
      text-align: left;
    }
  }
}

.__pic {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: fit-content;
  width: fit-content;

  margin: auto 0;

  img {
    position: relative;
    z-index: 3;

    width: calc(#{rem(338)} - var(--team-item-delta, 0px));
    height: calc(#{rem(338)} - var(--team-item-delta, 0px));

    object-fit: cover;
    object-position: center;

    border-radius: 50%;
    overflow: hidden;
  }

  &:before, &:after {
    position: absolute;

    content: '';

    border-radius: 50%;
  }

  &:before {
    top: rem(-24);
    right: rem(-24);
    z-index: 2;

    width: calc(#{rem(361)} - var(--team-item-delta, 0px));
    height: calc(#{rem(361)} - var(--team-item-delta, 0px));

    background: $cl-secondary;
  }

  &:after {
    bottom: rem(-24);
    right: rem(-24);
    z-index: 1;

    width: calc(#{rem(317)} - var(--team-item-delta, 0px));
    height: calc(#{rem(317)} - var(--team-item-delta, 0px));

    background: $cl-primary;
  }
}

.__info {
  max-width: rem(556);

  text-align: right;
}

.__name {
  margin: 0 0 rem(5);

  font-weight: bold;
  font-size: rem(32);
  line-height: 110%;
  color: $cl-primary;
}

.__pos {
  font-weight: bold;
  font-size: rem(24);
  line-height: 110%;
  color: $cl-secondary;
}

.__text {
  margin: rem(24) 0;

  font-size: rem(16);
  line-height: 160%;
}

.__soc {
  --link-color: #{$cl-secondary};
  --link-color-hover: #{$cl-primary};

  display: inline-grid !important;
}

@include max-wide(tablet) {
  :host {
    --team-item-delta: 10vw;
  }
}

@include max-wide(phonesLg) {
  :host {
    --team-item-delta: 20vw;

    &.--invert {
      .__pic {
        margin: 0 auto rem(48) !important;
      }
    }
  }

  .__info {
    text-align: center !important;
  }

  .__pic {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}




