<div class="__body" fxLayout.lt-sm="column " fxLayoutAlign.gt-xs="1rem" fxLayoutAlign.gt-xs="center" fxLayoutGap="3rem">
  <div class="__info">
    <h3 class="__name">{{name}}</h3>
    <mark class="__pos">{{position}}</mark>

    <p class="__text">
      <ng-content></ng-content>
    </p>

    <div class="__soc" gdAuto="column" gdGap="1.875rem">
      <a class="__link hpi-soc-fb" [attr.href]="socFb" rel="nofollow" target="_blank" *ngIf="socFb"></a>
      <a class="__link hpi-soc-in" [attr.href]="socIn" rel="nofollow" target="_blank" *ngIf="socIn"></a>
      <a class="__link hpi-soc-inst" [attr.href]="socIns" rel="nofollow" target="_blank" *ngIf="socIns"></a>
    </div>
  </div>

  <picture class="__pic" fxFlexOrder.lt-sm=" -1">
    <img [attr.src]="'assets/img/' + image" [attr.alt]="'New Hope person ' + name" type="New Team">
  </picture>
</div>
