<article class="__item">
  <header class="__head" fxLayoutAlign="space-between center center">{{caption}}</header>

  <ng-container>
    <div class="__text" [class.--is-show]="trigger">
      <ng-content></ng-content>
    </div>
  </ng-container>
</article>
