@import "core";

:host {
  &.--is-active {
    .__head:after {
      content: $hpi-minus !important;
    }

    .__head {
      color: $cl-primary;
    }
  }
}

.__item {
  padding: rem(32);

  background: var(--cl-white);
  box-shadow: $sh-card;
  border-radius: rem(16);
}

.__head {
  font-weight: 600;
  font-size: rem(24);
  line-height: 128%;
  color: var(--cl-black); //var(--cl-gray-light);

  cursor: pointer;

  transition: color .2s linear;

  &:after {
    margin: 0 0 0 rem(16);

    @include pseudo-icon($hpi-plus, 14);
    color: $cl-secondary
  }

  @include only-mouse {
    &:hover {
      color: $cl-primary;
    }
  }
}

.__text {
  height: 0;
  max-height: 0;

  font-weight: normal;
  font-size: rem(16);
  line-height: 150%;

  opacity: 0;

  transition: max-height .4s linear, margin .2s linear, opacity .8s cubic-bezier(.17, .67, .31, 1.42);

  overflow: hidden;

  &.--is-show {
    height: max-content !important;
    max-height: rem(1200) !important;

    margin-top: rem(32);

    opacity: 1;
  }
}

@include max-wide(tablet) {
  .__item {
    padding: rem(24);
  }

  .__head {
    font-size: rem(20);
  }
}
