<!--Blog data dor editing-->
<article>
  <p>Being pregnant with more than one baby is exciting and is often a happy event for many couples. However, multiple
    pregnancy has increased risks for complications. The most common complications include the following:</p>
  <ul class="list">
    <li>
      <h4 class="list-caption --small">Preterm labor and birth</h4>
      <br>
      <p>Over 60 percent of twins and nearly all higher-order multiples are premature (born before 37 weeks). The higher
        the number of fetuses in the pregnancy, the greater the risk for early birth. Premature babies are born before
        their bodies and organ systems have completely matured. These babies are often small, with low birthweights
        (less than 2,500 grams or 5.5 pounds), and they may need help breathing, eating, fighting infection, and staying
        warm. Very premature babies, those born before 28 weeks, are especially vulnerable. Many of their organs may not
        be ready for life outside the mother's uterus and may be too immature to function well. Many multiple birth
        babies will need care in a neonatal intensive care unit (NICU).</p>
    </li>
    <li>
      <h4 class="list-caption --small">Gestational hypertension</h4>
      <br>
      <p>Women with multiple fetuses are more than twice as likely to develop high blood pressure of pregnancy. This
        condition often develops earlier and is more severe than pregnancy with one baby. It can also increase the
        chance of placental abruption (early detachment of the placenta).</p>
    </li>
    <li>
      <h4 class="list-caption --small">Anemia</h4>
      <br>
      <p>Anemia is more than twice as common in multiple pregnancies as in a single birth.</p>
    </li>
    <li>
      <h4 class="list-caption --small">Birth defects</h4>
      <br>
      <p>Multiple birth babies have about twice the risk of congenital (present at birth) abnormalities including neural
        tube defects (such as spina bifida), gastrointestinal, and heart abnormalities.</p>
    </li>
    <li>
      <h4 class="list-caption --small">Miscarriage</h4>
      <br>
      <p>A phenomenon called the vanishing twin syndrome in which more than one fetus is diagnosed, but vanishes (or is
        miscarried), usually in the first trimester, is more likely in multiple pregnancies. This may or may not be
        accompanied by bleeding. The risk of pregnancy loss is increased in later trimesters as well.</p>
    </li>
    <li>
      <h4 class="list-caption --small">Abnormal amounts of amniotic fluid</h4>
      <br>
      <p>Amniotic fluid abnormalities are more common in multiple pregnancies, especially for twins that share a
        placenta.</p>
    </li>
    <li>
      <h4 class="list-caption --small">Cesarean delivery</h4>
      <br>
      <p>Abnormal fetal positions increase the chances of cesarean birth.</p>
    </li>
    <li>
      <h4 class="list-caption --small">Postpartum hemorrhage</h4>
      <br>
      <p>The large placental area and over-distended uterus place a mother at risk for bleeding after delivery in many
        multiple pregnancies.
      </p>
    </li>
  </ul>
</article>

<!--<article>
  <p>The global Covid-19 pandemic has drastically changed our lives and caused massive disruption as well as travel bans
    and countrywide lockdowns. The impact of the COVID-19 pandemic has rapidly spread to affect most people, businesses
    and industries. Surrogacy in Ukraine is facing enormous challenges resulting from the pandemic. Global travel
    restrictions are causing logistical difficulties for the intended parents, surrogates and surrogate born
    children.</p>

  <p>International surrogacy is already a difficult choice for the intended parents but Covid-19 pandemic creates
    additional delay, anxiety and worry, as well as financial and complex legal issues. Many of these problems are time
    sensitive, particularly where intended parents need to travel urgently for the birth of their child to Ukraine or
    need to return home post birth to access essential medical care for their newborn. These issues will often require
    creative solutions involving surrogacy and egg donor agencies, surrogates, intended parents, healthcare
    professionals and lawyers.</p>

  <p>New Hope is here to help you through surrogacy in these unprecedented times and we decided to answer the most
    frequently asked questions during Covid-19 outbreak.</p>
  <h4 class="list-caption &#45;&#45;small">1. Is New Hope accepting surrogate applications during COVID-19?</h4>
  <p>Yes! We are still accepting applications and helping women become surrogates during the COVID-19 pandemic.
    Surrogates engage in the process to provide a better future for themselves and their children and we continue
    recruiting them in this difficult time.</p>

  <h4 class="list-caption &#45;&#45;small">2. Does New Hope accept surrogate candidates that are not vaccinated?</h4>
  <p>No, we decided we will not be accepting the candidates who aren’t vaccinated into our programs.
    <br>
  <p>Vaccination against COVID-19 significantly decreases the risk of infection and severe disease at all stages of
    pregnancy. Therefore, surrogate mother candidates who are planning to join our agency should become vaccinated
    against COVID-19 with any of the available vaccines.</p>
  </p>
  <h4 class="list-caption &#45;&#45;small">3. Are pregnant women at higher risk from COVID-19?</h4>
  <p>Pregnant women do not seem to be at higher risk of getting COVID-19. However, studies have shown an increased risk
    of developing severe COVID-19 if they are infected, compared with non-pregnant women of a similar age. COVID-19
    during
    pregnancy has also been associated with an increased likelihood of preterm birth.<br>
    Pregnant women who are older, overweight, or have pre-existing medical conditions such as hypertension (high blood
    pressure) and diabetes are at particular risk of serious outcomes of COVID-19.</p>

  <h4 class="list-caption &#45;&#45;small">4. Can COVID-19 be passed from a woman to her unborn or newborn baby?</h4>
  <p>We still do not know if a pregnant woman with COVID-19 can pass the virus to her fetus or baby during pregnancy or
    delivery. We had only one case when the surrogate got infected with COVID-19 before giving birth but the baby tested
    negative. To date, we didn’t have any COVID-19 infections in babies.</p>

  <h4 class="list-caption &#45;&#45;small">5. What do you do if the surrogate gets COVID-19 during pregnancy?</h4>
  <p>If the surrogate gets COVID-19 during pregnancy then she will be monitored by a local GP like all other people. We
    will have to reschedule all appointments in our partner clinic for her prenatal checkups when she is free from
    COVID-19.</p>

  <h4 class="list-caption &#45;&#45;small">6. Is there a travel restriction between cities in Ukraine?</h4>
  <p>Yes, there are green, yellow and red zones in Ukraine and travels are restricted between the cities in yellow or
    red
    zones. The surrogate mothers traveling for their appointments to Kiev from their towns or cities have to present a
    valid vaccination certificate or negative COVID-19 test on a bus or train.</p>

  <h4 class="list-caption &#45;&#45;small">7. What if the surrogate gets COVID-19 before giving birth?</h4>
  <p>There are only 2 maternity hospitals in Kiev where pregnant women COVID-19 positive can deliver babies. These
    hospitals are public and the baby will be in a separate room. The IPs won’t be allowed in the hospital and the baby
    will be discharged when he/she has a negative COVID-19 test.<br>
    Unfortunately, private maternity hospitals have no right to accept surrogates with COVID-19.</p>

  <h4 class="list-caption &#45;&#45;small">8. What is the surrogacy journey like in the time of COVID-19?</h4>

  <p>The pandemic has affected time and meetings in the surrogacy journey. Some processes may take a bit longer during
    these times, such as obtaining legal documents from Government offices, like apostille or legalization. There are
    also
    can be delays with notarizing the documents but mainly the delays are from the Ukrainian Ministry of Justice. There
    are also delays with the Embassies for the exit paperwork.</p>

  <h4 class="list-caption &#45;&#45;small">9. Is it safe to travel to a clinic during these times?</h4>

  <p>If a surrogate, the intended parents, are all willing, able, and comfortable, we recently have had surrogates
    travel to IVF clinic medical screenings and embryo transfers by vehicle. Surrogates only pursue this option when
    both they
    and the intended parents feel comfortable. These costs for travel have to be covered by IPs.</p>

  <h4 class="list-caption &#45;&#45;small">10. Should we wait until the pandemic is over before starting the surrogacy
    process?</h4>

  <p>That is a decision only you can make. The surrogacy process takes time. It takes 12+ months to complete the
    process.</p>

  <h4 class="list-caption &#45;&#45;small">11. Can we stay in the maternity hospital with our baby during COVID-19
    pandemic?</h4>
  <p>Yes, you can be staying with your baby in the maternity hospital if you have a vaccination certificate and negative
    COVID-19 test (valid 72 hours).</p>

  <h4 class="list-caption &#45;&#45;small">12. Can we be present during the birth of our baby?</h4>
  <p>Yes, the Intended mother can be in the delivery room with the surrogate and medical staff. The intended father
    can’t be present at birth for ethical reasons and respect for the surrogate.</p>
</article>-->
<!--
<ng-template hidden>
  &lt;!&ndash;  post 1&ndash;&gt;
  <article>
    <p>Medical checkups and screening tests help keep the carrier and your baby healthy during pregnancy. This is called
      prenatal care. It also involves education and counseling about how to handle different aspects of the pregnancy.
      During the visits, our doctor discusses many issues with the surrogate, such as healthy eating and physical
      activity, screening tests she might need, and what to expect during labor and delivery. Prenatal care also lets
      our
      health care provider spot health problems early as early treatment can cure many problems and prevent others.</p>
    <br>
    <h4 class="list-caption &#45;&#45;small"> First Trimester Prenatal Screening Tests</h4>
    <p>aFirst trimester screening is a combination of fetal ultrasound and maternal blood testing. This screening
      process
      can help determine the risk of the fetus having certain birth defects. Screening tests may be used alone or with
      other tests.</p>
    <br>
    <h4 class="list-caption &#45;&#45;small">First trimester screening includes:</h4>
    <ul class="list">
      <li><b>Ultrasound for fetal nuchal translucency</b>. Nuchal translucency screening uses an ultrasound to examine
        the area at the back of the fetal neck for increased fluid or thickening.
      </li>
      <li><b>Ultrasound for fetal nasal bone determination.</b> The nasal bone may not be visualized in some babies with
        certain chromosome abnormalities, such as Down syndrome. This screen is performed using an ultrasound between 11
        and 13 weeks gestation.
      </li>
      <li>
        <b>Maternal serum (blood) tests.</b> These blood tests measure two substances found in the blood of all pregnant
        women:
        <ul class="list">
          <li><b>Pregnancy-associated plasma protein A</b>. A protein produced by the placenta in early pregnancy.
            Abnormal levels are associated with an increased risk of chromosomal abnormality.
          </li>
          <li><b>Human chorionic gonadotropin.</b> A hormone produced by the placenta in early pregnancy. Abnormal
            levels are associated with an increased risk of chromosomal abnormality.
          </li>
        </ul>
      </li>
    </ul>

    <p>When used together as first trimester screening tests, nuchal translucency screening and maternal blood tests
      have
      a greater ability to determine if the fetus might have a birth defect, such as Down syndrome (trisomy 21) and
      trisomy 18.</p>
    <p>If the results of these first trimester screening tests are abnormal, genetic counseling is recommended.
      Additional
      testing, such as chorionic villus sampling, amniocentesis, cell-free fetal DNA or other ultrasounds, may be needed
      for an accurate diagnosis.</p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Second Trimester Prenatal Screening Tests</h4>
    <p>Second trimester prenatal screening may include several blood tests called multiple markers. These markers
      provide information about your potential risk of having a baby with certain genetic conditions or birth defects.
      Screening is usually done by taking a sample of maternal blood between 15 and 20 weeks of pregnancy (16 to 18
      weeks is ideal). The multiple markers include:</p>
    <ul class="list">
      <li><b>AFP screening.</b> Also called maternal serum AFP, this blood test measures the level of AFP in your blood
        during
        pregnancy. AFP is a protein normally produced by the fetal liver that is present in the fluid surrounding the
        fetus (amniotic fluid). It crosses the placenta and enters your blood. Abnormal levels of AFP may indicate:
        <ul class="list">
          <li>A miscalculated due date, as the levels vary throughout pregnancy</li>
          <li>Defects in the abdominal wall of the fetus</li>
          <li>Down syndrome or other chromosomal abnormalities</li>
          <li>Open neural tube defects, such as spina bifida</li>
          <li>Twins (more than one fetus is producing the protein)</li>
        </ul>
      </li>

      <li><b>Estriol.</b>
        This is a hormone produced by the placenta. It can be measured in maternal blood or urine to
        be used to determine fetal health.
      </li>
      <li><b>Inhibin.</b> This is a hormone produced by the placenta.</li>
      <li><b>Human chorionic gonadotropin.</b> This is also a hormone produced by the placenta.</li>
    </ul>
    <p>
      Abnormal test results of AFP and other markers may mean that additional testing is needed. An ultrasound is used
      to confirm the milestones of your pregnancy and to check the fetal spine and other body parts for defects. An
      amniocentesis may be needed for an accurate diagnosis.
      <br><br>
      Since multiple marker screening is not diagnostic, it is not 100 percent accurate. It helps determine who in the
      population should be offered additional testing during pregnancy. False-positive results may indicate a problem
      when the fetus is actually healthy. On the other hand, false-negative results indicate a normal result when the
      fetus actually does have a health problem.
      <br><br> When you have both first and second trimester screening tests performed, the ability of the tests to
      detect an abnormality is greater than using just one screening independently. Most cases of Down syndrome can be
      detected when both first and second trimester screenings are used.
    </p>

    <br>
    <h4 class="list-caption &#45;&#45;small">Ultrasound</h4>
    <p>
      An ultrasound scan is a diagnostic technique that uses high-frequency sound waves to create an image of the
      internal organs. A screening ultrasound is sometimes done during the course of your pregnancy to check normal
      fetal growth and verify the due date.
      When are ultrasounds performed during pregnancy?
    </p>
    <h4 class="list-caption &#45;&#45;small">Ultrasounds may be done at various times throughout pregnancy for several
      reasons:</h4>
    <ul class="list &#45;&#45;hide-mark">
      <li>
        <h3>First Trimester</h3>
        <ul class="list">
          <li>To establish the due date (this is the most accurate way of determining the due date)</li>
          <li>To determine the number of fetuses and identify placental structures</li>
          <li>To diagnose an ectopic pregnancy or miscarriage</li>
          <li>To examine the uterus and other pelvic anatomy</li>
          <li>To detect fetal abnormalities (in some cases)</li>
        </ul>
      </li>

      <li>
        <h3>Midtrimester (also called the 18- to 20-week scan)</h3>
        <ul class="list">
          <li>To confirm the due date (a due date set in the first trimester is rarely changed)</li>
          <li>To determine the number of fetuses and examine the placental structures</li>
          <li>To assist in prenatal tests, such as an amniocentesis</li>
          <li>To examine the fetal anatomy for abnormalities</li>
          <li>To check the amount of amniotic fluid</li>
          <li>To examine blood flow patterns</li>
          <li>To observe fetal behavior and activity</li>
          <li>To measure the length of the cervix</li>
          <li>To monitor fetal growth</li>
        </ul>
      </li>

      <li>
        <h4>Third Trimester</h4>
        <ul class="list">
          <li>To monitor fetal growth</li>
          <li>To check the amount of amniotic fluid</li>
          <li>To conduct the biophysical profile test</li>
          <li>To determine the position of the fetus</li>
          <li>To assess the placenta</li>
        </ul>
      </li>
    </ul>
    <br>
    <h4 class="list-caption &#45;&#45;small">Fetal Monitoring</h4>
    <p>
      During late pregnancy and labor, our doctor monitorscthe fetal heart rate and other functions. Fetal heart rate
      monitoring is a method of checking the rate and rhythm of the fetal heartbeat. The average fetal heart rate is
      between 120 and 160 beats per minute. This rate may change as the fetus responds to conditions in the uterus. An
      abnormal fetal heart rate or pattern may mean that the fetus is not getting enough oxygen or indicate other
      problems. An abnormal pattern also may mean that an emergency cesarean delivery is needed.
      <br><br>
      Tests are used during pregnancy to check your and your baby's health. At your fist prenatal visit, your doctor
      will use tests to check for a number of things, such as:
    </p>
    <ul class="list">
      <li>Blood type and Rh factor</li>
      <li>Anemia</li>
      <li>Infections, such as toxoplasmosis and sexually transmitted infections (STIs), including hepatitis B, syphilis,
        chlamydia, and HIV
      </li>
      <li>Signs that you are immune to rubella (German measles) and chicken pox</li>
      <li>Glucose tolerance test</li>
      <li>Weight and blood pressure check at each visit</li>
      <li>Urine tests</li>
    </ul>
  </article>

  &lt;!&ndash;  post 2&ndash;&gt;
  <article>
    <p>
      When you find out you’re pregnant, your thoughts and emotions may go into overdrive. You might be as excited about
      this new person you will bring into the world as you are terrified that something may go wrong.
      <br><br>
      Most pregnancies progress without incident. But approximately 8 percent of all pregnancies involve complications
      that, if left untreated, may harm the mother or the baby. While some complications relate to health problems that
      existed before pregnancy, others occur unexpectedly and are unavoidable.
      It can be scary to hear that doctors have diagnosed a complication. You may be worried about your baby’s health
      and your own health. You may even feel panic that perhaps something you did (or didn’t do) caused this to happen.
      These feelings are completely normal. It may reassure you to know that nothing you did caused these complications.
      And beyond that —these complications are treatable. The best thing you can do for you and your baby is to get
      prenatal care from a provider you trust. With early detection and proper care, you increase the chances of keeping
      you and your baby healthy.
      A Johns Hopkins obstetrician discusses some common pregnancy complications and how they can be managed.
    </p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Hyperemesis Gravidarum</h4>
    <p>
      <strong>What is it?</strong>&nbsp; While many pregnant women experience morning sickness (nausea, possibly with
      vomiting, generally in
      the morning hours) and other discomforts during pregnancy , women with hyperemesis gravidarum (HG) have morning
      sickness times 1,000. HG is severe nausea that results in significant weight loss and may require hospitalization.
      <br><br>
      <strong>What are the symptoms?</strong>&nbsp; Women with HG have severe nausea and vomiting. The vomiting and
      reduced
      appetite leads to weight loss and dehydration. The major difference between HG and normal morning sickness is that
      HG results in a weight loss of 5 percent or more of your pre-pregnancy weight.
      <br><br>
      <strong>Who is at risk?</strong> Doctors do not yet fully understand HG, what causes it or who is more likely to
      experience it.
      <br><br>
      <strong>Can you prevent it?</strong>&nbsp; You cannot prevent HG, but you can take steps to control and manage it
      during
      your pregnancy. The most important thing you can do for you and your baby is to get regular prenatal care. HG can
      lead to not getting enough nutrients, which can be harmful to both you and your baby. However, with proper
      treatment, there are typically no long-term effects to either mom or child after the pregnancy.
      <br><br>
      <strong>How is it treated?</strong>&nbsp; If you have been diagnosed with HG, the priority is ensuring you have
      enough
      nutrients to keep you and your baby healthy. For some women, a diet of bland foods and fluids may be enough, while
      others may need to take medication to help relieve the nausea. In severe cases, you may need to be hospitalized to
      receive nutrients and fluids via intravenous (IV) line. You may feel down about having to be in the hospital
      during your pregnancy. But remember that you are just doing what you need to do to protect your and your baby’s
      health!
      <br><br>
      Many women start to feel better by the 20th week of pregnancy, while some continue to experience symptoms
      throughout the entire pregnancy.
      <br><br>
      <strong>What should I ask my doctor?</strong>&nbsp; If you’ve had HG in the past, talk to your doctor when you are
      thinking about getting pregnant again. It’s important to make sure you are physically, emotionally and
      psychologically ready to begin another pregnancy. If you had severe weight loss or other nutritional deficiencies,
      you’ll need to talk to your doctor about making sure you are healthy before getting pregnant.
    </p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Gestational Diabetes</h4>
    <p>
      <strong>What is it?</strong>&nbsp; Diabetes is a condition that prevents your body from breaking down sugar.
      Gestational
      diabetes mellitus (GDM) is a type of diabetes that occurs during pregnancy. One of the biggest risks of
      gestational diabetes is that your baby may grow much larger than normal, a condition called macrosomia. During
      delivery, a baby’s shoulders can get stuck. If the baby is thought to be too big for a safe vaginal delivery, your
      doctor will recommend a cesarean section.
      <br><br>
      <strong>What are the symptoms?</strong>&nbsp; Gestational diabetes has no outward signs or symptoms. Doctors
      screen for
      it between 24 and 28 weeks of pregnancy, or earlier in high-risk women such as those who are overweight or have a
      history of gestational diabetes.
      <br><br>
      <strong>Who is at risk?</strong>&nbsp; Risk factors for gestational diabetes include being overweight or having a
      history of GDM in previous pregnancies. If you are at high risk, your doctor will screen for GDM earlier than 24
      weeks, typically in the first trimester.
      <br><br>
      <strong>Can you prevent it?</strong>&nbsp; Losing weight before pregnancy, sticking to a healthy diet and getting
      regular exercise can lower your risk of developing GDM.
      <br><br>
      <strong>How is it treated?</strong>&nbsp; You and your doctor should discuss how you can best control the GDM.
      Good old
      diet and exercise seem to be a good place to start. A very high percentage of gestational diabetes can be
      controlled by diet. Still, some women with GDM will need to take medications (pills or even insulin) to control
      blood sugar levels.
      <br><br>
      <strong>What should I ask my doctor?</strong>&nbsp; If you’ve had GDM, you and your baby are both at risk of
      developing
      type 2 diabetes later in life. So talk to your doctor about steps you can take to reduce that risk.
    </p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Placenta Previa</h4>
    <p>
      <strong>What is it?</strong>&nbsp; While you are pregnant, the placenta provides your baby with oxygen and
      nutrients for
      proper development. The placenta normally attaches to the upper part of the uterus, but in placenta previa it
      either totally or partially covers the cervix (which is the opening between the uterus and vagina).
      <br><br>
      <strong>Who is at risk?</strong>&nbsp; You may be at higher risk if you have scarring on your uterus from previous
      pregnancies or from a uterine surgery, or if you have fibroids.
      <br><br>
      <strong>What are the symptoms?</strong>&nbsp; The main symptom is vaginal bleeding that is not accompanied by
      cramping
      or other pain. Some women, however, do not experience any symptoms. Your doctor will confirm a diagnosis using an
      ultrasound or physical exam.
      <br><br>
      <strong>Can you prevent it?</strong>&nbsp; There’s nothing you can do to prevent placenta previa. However, you can
      increase your and your baby’s health by getting regular prenatal care. If you are at high risk — because of a
      previous surgery, C-section or fibroids — make sure to tell your doctor. He or she may want to monitor you more
      closely during your pregnancy.
      <br><br>
      <strong>How is it treated?</strong>&nbsp; Placenta previa may result in bleeding during pregnancy. Some women have
      no
      bleeding, some have spotting and others may experience heavy bleeding. If the bleeding is heavy, you may need to
      stay in the hospital for a period of time. Women with placenta previa will require a C-section to deliver the
      baby, usually scheduled two to four weeks before their due date.
      <br><br>
      <strong>What should I ask my doctor?</strong>&nbsp; Always talk to your doctor if you notice any vaginal bleeding
      at any
      point during your pregnancy.

      <br><br> <a href="https://www.hopkinsmedicine.org/">learn more in hopkinsmedicine</a>
    </p>
  </article>

  &lt;!&ndash;  post 3&ndash;&gt;
  <article>
    <p>
      In vitro fertilization (IVF) is a complex series of procedures used to help with fertility or prevent genetic
      problems and assist with the conception of a child.
      <br><br>
      During IVF, mature eggs are collected (retrieved) from ovaries and fertilized by sperm in a lab. Then the
      fertilized egg (embryo) or eggs (embryos) are transferred to a uterus. One full cycle of IVF takes about three
      weeks. Sometimes these steps are split into different parts and the process can take longer.
      <br><br>
      IVF is the most effective form of assisted reproductive technology. The procedure can be done using a couple's own
      eggs and sperm. Or IVF may involve eggs, sperm or embryos from an anonymous donor. In some cases, a gestational
      carrier — someone who has an embryo implanted in the uterus — might be used.
      <br><br>
      Your chances of having a healthy baby using IVF depend on many factors, such as your age and the cause of
      infertility. In addition, IVF can be time-consuming, expensive and invasive. If more than one embryo is
      transferred to the uterus, IVF can result in a pregnancy with more than one fetus (multiple pregnancy).
    </p>
    <br>
    <h4 class="list-caption">Why it's done</h4>
    <p>
      In vitro fertilization (IVF) is a treatment for infertility or genetic problems. If IVF is performed to treat
      infertility, you and your partner might be able to try less-invasive treatment options before attempting IVF,
      including fertility drugs to increase production of eggs or intrauterine insemination — a procedure in which sperm
      are placed directly in the uterus near the time of ovulation.
      <br><br>
      Sometimes, IVF is offered as a primary treatment for infertility in women over age 40. IVFcan also be done if you
      have certain health conditions.
    </p>
    <br>

    <h3 class="list-caption">Risks</h3>

    <h4 class="list-caption &#45;&#45;small">Risks of IVF include:</h4>
    <ul class="list">
      <li><b>Multiple births.</b> IVF increases the risk of multiple births if more than one embryo is transferred to
        your uterus. A pregnancy with multiple fetuses carries a higher risk of early labor and low birth weight than
        pregnancy with a single fetus does.
      </li>
      <li><b>Premature delivery and low birth weight.</b> Research suggests that IVF slightly increases the risk that
        the baby will be born early or with a low birth weight.
      </li>
      <li><b>Ovarian hyperstimulation syndrome.</b> Use of injectable fertility drugs, such as human chorionic
        gonadotropin (HCG), to induce ovulation can cause ovarian hyperstimulation syndrome, in which your ovaries
        become swollen and painful.
        <br><br>
        Symptoms typically last a week and include mild abdominal pain, bloating, nausea, vomiting and diarrhea. If
        you become pregnant, however, your symptoms might last several weeks. Rarely, it's possible to develop a more
        severe form of ovarian hyperstimulation syndrome that can also cause rapid weight gain and shortness of breath.
      </li>
      <li><b>Miscarriage.</b> The rate of miscarriage for women who conceive using IVF with fresh embryos is similar to
        that of women who conceive naturally — about 15% to 25% — but the rate increases with maternal age.
      </li>
      <li><b>Egg-retrieval procedure complications.</b> Use of an aspirating needle to collect eggs could possibly cause
        bleeding, infection or damage to the bowel, bladder or a blood vessel. Risks are also associated with sedation
        and general anesthesia, if used.
      </li>
      <li><b>Ectopic pregnancy.</b> About 2% to 5% of women who use IVF will have an ectopic pregnancy — when the
        fertilized egg implants outside the uterus, usually in a fallopian tube. The fertilized egg can't survive
        outside the uterus, and there's no way to continue the pregnancy.
      </li>
      <li><b>Birth defects.</b> The age of the mother is the primary risk factor in the development of birth defects, no
        matter how the child is conceived. More research is needed to determine whether babies conceived using IVF might
        be at increased risk of certain birth defects.
      </li>
      <li><b>Cancer.</b> Although some early studies suggested there may be a link between certain medications used to
        stimulate egg growth and the development of a specific type of ovarian tumor, more-recent studies do not support
        these findings. There does not appear to be a significantly increased risk of breast, endometrial, cervical or
        ovarian cancer after IVF.
      </li>
      <li><b>Stress.</b> Use of IVF can be financially, physically and emotionally draining. Support from counselors,
        family and friends
      </li>
    </ul>
    <br>
    <h4 class="list-caption &#45;&#45;small">Before beginning a cycle of IVF using your own eggs and sperm, you and your partner
      will likely need various screenings, including:</h4>
    <ul class="list">
      <li><b>Ovarian reserve testing.</b> To determine the quantity and quality of your eggs, your doctor might test the
        concentration of follicle-stimulating hormone (FSH), estradiol (estrogen) and anti-mullerian hormone in your
        blood during the first few days of your menstrual cycle. Test results, often used together with an ultrasound of
        your ovaries, can help predict how your ovaries will respond to fertility medication.
      </li>
      <li><b>Semen analysis.</b> If not done as part of your initial fertility evaluation, your doctor will conduct a
        semen analysis shortly before the start of an IVF treatment cycle.
      </li>
      <li><b>Infectious disease screening.</b> You and your partner will both be screened for infectious diseases,
        including HIV.
      </li>
      <li><b>Uterine exam. Your doctor will examine the inside lining of the uterus before you start IVF.</b> This might
        involve a sonohysterography — in which fluid is injected through the cervix into your uterus — and an ultrasound
        to create images of your uterine cavity. Or it might include a hysteroscopy — in which a thin, flexible, lighted
        telescope (hysteroscope) is inserted through your vagina and cervix into your uterus.
      </li>
    </ul>

    <br>
    <h3 class="list-caption">What you can expect</h3>
    <p>
      IVF involves several steps — ovarian stimulation, egg retrieval, sperm retrieval, fertilization and embryo
      transfer. One cycle of IVF can take about two to three weeks. More than one cycle may be needed.
      <br><br>
      Ovulation induction
      <br><br>
      The start of an IVF cycle begins by using synthetic hormones to stimulate the ovaries to produce multiple eggs —
      rather than the single egg that typically develops each month. Multiple eggs are needed because some eggs won't
      fertilize or develop normally after fertilization.
    </p>

    <br>
    <h4 class="list-caption &#45;&#45;small">Several different medications may be used, such as:</h4>
    <ul class="list">
      <li><b>Medications for ovarian stimulation.</b> To stimulate your ovaries, you might receive an injectable
        medication
        containing a follicle-stimulating hormone (FSH), a luteinizing hormone (LH) or a combination of both. These
        medications stimulate more than one egg to develop at a time.
      </li>
      <li><b>Medications for oocyte maturation.</b> When the follicles are ready for egg retrieval — generally after
        eight
        to 14 days — you will take human chorionic gonadotropin (HCG) or other medications to help the eggs mature.
      </li>
      <li><b>Medications to prevent premature ovulation.</b> These medications prevent your body from releasing the
        developing eggs too soon.
      </li>
      <li><b>Medications to prepare the lining of your uterus.</b> On the day of egg retrieval or at the time of embryo
        transfer, your doctor might recommend that you begin taking progesterone supplements to make the lining of your
        uterus more receptive to implantation.
      </li>
    </ul>
    <br>

    <p>Your doctor will work with you to determine which medications to use and when to use them.</p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Typically, you'll need one to two weeks of ovarian stimulation before your eggs are
      ready for retrieval. To determine when the eggs are ready for collection, you may have:</h4>

    <ul class="list">
      <li><b>Vaginal ultrasound,</b> an imaging exam of your ovaries to monitor the development of follicles —
        fluid-filled ovarian sacs where eggs mature
      </li>
      <li><b>Blood tests,</b> to measure your response to ovarian stimulation medications — estrogen levels typically
        increase as follicles develop, and progesterone levels remain low until after ovulation
      </li>
    </ul>
    <br>
    <h4 class="list-caption &#45;&#45;small">Sometimes IVF cycles need to be canceled before egg retrieval for one of these
      reasons:</h4>
    <ul class="list">
      Inadequate number of follicles developing
      Premature ovulation
      Too many follicles developing, creating a risk of ovarian hyperstimulation syndrome
      Other medical issues
    </ul>
    <p>If your cycle is canceled, your doctor might recommend changing medications or their doses to promote a better
      response during future IVF cycles. Or you may be advised that you need an egg donor.</p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Egg retrieval</h4>
    <p> Egg retrieval can be done in your doctor's office or a clinic 34 to 36 hours after the final injection and
      before
      ovulation.</p>

    <ul class="list">
      <li>During egg retrieval, you'll be sedated and given pain medication.</li>
      <li>Transvaginal ultrasound aspiration is the usual retrieval method. An ultrasound probe is inserted into your
        vagina to identify follicles. Then a thin needle is inserted into an ultrasound guide to go through the vagina
        and into the follicles to retrieve the eggs.
      </li>
      <li>If your ovaries aren't accessible through transvaginal ultrasound, an abdominal ultrasound may be used to
        guide the needle.
      </li>
      <li>The eggs are removed from the follicles through a needle connected to a suction device. Multiple eggs can be
        removed in about 20 minutes.
      </li>
      <li>After egg retrieval, you may experience cramping and feelings of fullness or pressure.</li>
      <li>Mature eggs are placed in a nutritive liquid (culture medium) and incubated. Eggs that appear healthy and
        mature will be mixed with sperm to attempt to create embryos. However, not all eggs may be successfully
        fertilized.
      </li>
    </ul>

    <br>
    <h4 class="list-caption &#45;&#45;small">Sperm retrieval</h4>
    <p>
      If you're using your partner's sperm, a semen sample needs to be provided at your doctor's office or clinic the
      morning of egg retrieval. Typically, the semen sample is collected through masturbation. Other methods, such as
      testicular aspiration — the use of a needle or surgical procedure to extract sperm directly from the testicle —
      are sometimes required. Donor sperm also can be used. Sperm are separated from the semen fluid in the lab.

      <br><br>
      Fertilization
    </p>
    <br>
    <h4 class="list-caption &#45;&#45;small">Fertilization can be attempted using two common methods:</h4>
    <ul class="list">
      <li><b>Conventional insemination.</b> During conventional insemination, healthy sperm and mature eggs are mixed
        and incubated overnight.
      </li>
      <li><b>Intracytoplasmic sperm injection (ICSI).</b> In ICSI, a single healthy sperm is injected directly into each
        mature egg. ICSI is often used when semen quality or number is a problem or if fertilization attempts during
        prior IVF cycles failed.
      </li>
    </ul>
    <br>
    <p>
      In certain situations, your doctor may recommend other procedures before embryo transfer.
    </p>
    <br>
    <ul class="list &#45;&#45;small">
      <li><b>Assisted hatching.</b> About five to six days after fertilization, an embryo "hatches" from its surrounding
        membrane (zona pellucida), allowing it to implant into the lining of the uterus. If you're an older woman, or if
        you have had multiple failed IVFattempts, your doctor might recommend assisted hatching — a technique in which a
        hole is made in the zona pellucida just before transfer to help the embryo hatch and implant. Assisted hatching
        is also useful for eggs or embryos that have been previously frozen as the process can harden the zona
        pellucida.
      </li>
      <li><b>Preimplantation genetic testing.</b> Embryos are allowed to develop in the incubator until they reach a
        stage where a small sample can be removed and tested for specific genetic diseases or the correct number of
        chromosomes, typically after five to six days of development. Embryos that don't contain affected genes or
        chromosomes can be transferred to your uterus. While preimplantation genetic testing can reduce the likelihood
        that a parent will pass on a genetic problem, it can't eliminate the risk. Prenatal testing may still be
        recommended.
      </li>
    </ul>
    <br>
    <h4 class="list-caption &#45;&#45;small">Embryo transfer</h4>
    <p>
      Embryo transfer is done at your doctor's office or a clinic and usually takes place two to five days after egg
      retrieval.
    </p>
    <br>
    <ul class="list">
      <li>You might be given a mild sedative. The procedure is usually painless, although you might experience mild
        cramping.
      </li>
      <li>The doctor will insert a long, thin, flexible tube called a catheter into your vagina, through your cervix and
        into your uterus.
      </li>
      <li>A syringe containing one or more embryos suspended in a small amount of fluid is attached to the end of the
        catheter.
      </li>
      <li>Using the syringe, the doctor places the embryo or embryos into your uterus.</li>
    </ul>
    <br>
    <p>If successful, an embryo will implant in the lining of your uterus about six to 10 days after egg retrieval.</p>
    <br><br> <a href="https://www.mayoclinic.org">learn more in mayoclinic</a>
  </article>

  &lt;!&ndash;  post 4&ndash;&gt;
  <article>
    <p>Sperm Count is one of the most important characteristics in male fertility. Research shows that in more than half
      of infertility issues in couples, low sperm count is the cause. According to the World Health Organization, sperm
      count of more than 15 million sperms per milliliters in considered normal. In semen analysis which is a test for
      sperm quality to find the underlying cause of male infertility, the following parameters are measured: sperm
      count, sperm motility, sperm morphology, volume, fructose level and pH.</p>
    <br>
    <h3 class="list-caption">What determines sperm health?</h3>

    <h4 class="list-caption &#45;&#45;small">Sperm health depends on various factors, including quantity, movement and
      structure:</h4>

    <ul class="list">
      <li>
        <b>Quantity.</b> You're most likely to be fertile if your ejaculate — the semen discharged in a single
        ejaculation — contains at least 15 million sperm per milliliter. Too little sperm in an ejaculate might make it
        more difficult to get pregnant because there are fewer candidates available to fertilize the egg.
      </li>

      <li><b>Movement.</b> To reach and fertilize an egg, sperm must move — wriggling and swimming through a woman's
        cervix, uterus and fallopian tubes. This is known as motility. You're most likely to be fertile if at least 40
        percent of your sperm are moving.
      </li>

      <li><b>Structure (morphology).</b>Normal sperm have oval heads and long tails, which work together to propel them
        forward. While not as important a factor as sperm quantity or movement, the more sperm you have with a normal
        shape and structure, the more likely you are to be fertile.
      </li>
    </ul>

    <h4 class="list-caption &#45;&#45;small">Several environmental, lifestyle and medical causes can lower the sperm count
      significantly. Here is a list of
      the most common causes of low sperm count:</h4>

    <ul class="list">
      <li>Alcohol</li>
      <li>Drugs</li>
      <li>Smoking</li>
      <li>Stress</li>
      <li>Obesity</li>
      <li>Medical issues</li>
      <li>Long-term sitting, such as driving and bicycling or working at the computer for a long time</li>
    </ul>
    <br>
    <h3 class="list-caption">Now to improve your sperm quality?</h3>
    <h4 class="list-caption &#45;&#45;small">You can take simple steps to increase your chances of producing healthy sperm. For
      example:</h4>

    <ul class="list">
      <li><b>Maintain a healthy weight.</b> Some research suggests that increasing BMI is linked with decreasing sperm
        count and sperm movement. Obesity can be associated with a low sperm count and impotence, possibly because of
        higher temperatures caused by excess fat near the testes.
      </li>
      <li><b>Eat a healthy diet.</b> Choose plenty of fruits and vegetables, which are rich in antioxidants — and might
        help improve sperm health. Also avoid tobacco, refined carbohydrates, coffee, tea, alcohol and foods with
        artificial additives.
      </li>
      <li><b>Prevent sexually transmitted infections (STIs).</b> Sexually transmitted infections — such as chlamydia and
        gonorrhea — are a cause of infertility for men. To protect yourself, limit your number of sexual partners and
        use a condom each time you have sex — or stay in a mutually monogamous relationship with a partner who isn't
        infected.
      </li>
      <li><b>Manage stress.</b> Stress can decrease sexual function and interfere with the hormones needed to produce
        sperm. Researchers believe the hormone cortisol may partly explain these adverse effects of stress. Prolonged
        stress raises levels of cortisol, which has strong negative effects on testosterone. When cortisol goes up,
        testosterone levels tend to go down.
      </li>
      <li><b>Excercise.</b> Moderate physical activity can increase levels of powerful antioxidant enzymes, which can
        help protect sperm. According to the American Society of Reproductive Medicine, regular exercise (five times a
        week for at least 45 minutes) and a healthy diet enhance fertility by keeping body weight at normal levels and
        relieving stress and anxiety.Excessive amounts of exercise (marathon running and associated training) can be a
        cause of infertility because it can lead to amenorrhea (absence of menstruation) in women and a lowered sperm
        count in men.
      </li>
      <li><b>Take nutritional supplements.</b> For men, the most important supplemental nutrients to enhance fertility
        are vitamin C and zinc. Vitamin C (2,000 to 6,000 milligrams daily) helps prevent sperm from clumping or
        sticking together, thus improving the chances for fertility. Zinc supplementation (100 to 200 mg daily) has been
        shown to increase testosterone levels, sperm count and sperm motility. High zinc sources include oysters, organ
        meats, lean beef, turkey, lamb, herring, wheat germ, legumes and nuts.Other nutrients that have been shown to
        improve sperm counts include essential fatty acids, chromium, selenium, copper, vitamin E, vitamin D and
        B-complex vitamins, especially vitamin B12.
      </li>
    </ul>
  </article>

</ng-template>
-->
