<section class="__main"#geneticHostElm>
  <div class="container">
    <div class="__top" [@showTextOnLeftToRight]="isStartAnimate">
      <hope-caption content="Genetic Testing"></hope-caption>
      <hope-description>Our team will support you through every step of your journey</hope-description>
    </div>

    <div class="__list" gdColumns="repeat(auto-fit, minmax(230px, 1fr))" gdGap="1.75rem" gdColumns.lt-sm="1fr">
      <article class="__card" fxLayout="column" fxLayoutAlign="flex-end"
               style="background-image: url('assets/img/gen-1.jpg')" routerLink="/ngs24" title="NGS 24 chromosomes"
               [@showTextOnTop]="isStartAnimate">
        <mark class="__name" fxLayoutAlign="start center">NGS 24 <br>chromosomes</mark>

        <a class="__link" href="/ngs24" routerLink="/ngs24"><i class="hpi-arrow-line-right"></i></a>
      </article>

      <article class="__card" fxLayout="column" fxLayoutAlign="flex-end"
               style="background-image: url('assets/img/gen-2.jpg')" routerLink="/pgd" title="PGD testing"
               [@showTextOnTopSecond]="isStartAnimate">
        <mark class="__name" fxLayoutAlign="start center">PGD</mark>

        <a class="__link" href="/pgd" routerLink="/pgd"><i class="hpi-arrow-line-right"></i></a>
      </article>

      <article class="__card" fxLayout="column" fxLayoutAlign="flex-end"
               style="background-image: url('assets/img/gen-3.jpg')" routerLink="/nipt" title="NIPT testing"
               [@showTextOnTopThird]="isStartAnimate">
        <mark class="__name" fxLayoutAlign="start center">NIPT</mark>

        <a class="__link" href="/nipt" routerLink="/nipt"><i class="hpi-arrow-line-right"></i></a>
      </article>
    </div>
  </div>
</section>
