@import "core";

.__main {
  padding: rem(62) 0 rem(139);
}

.__top {
  max-width: rem(751);
}

.__list {
  margin: rem(48) 0 0;
}

.__card {
  position: relative;

  padding: rem(32);

  min-height: rem(230);

  gap: rem(24);

  color: var(--cl-white);
  //color: black;

  border-radius: rem(24);
  background: var(--cl-white) no-repeat center center /cover;
  overflow: hidden;
  cursor: pointer;
  transition: transform .3s linear, box-shadow .2s ease-in-out;


  &:before, {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    width: 100%;

    content: '';

    background: var(--cl-blue);
    box-shadow: inset 0 0 rem(120) 0 var(--cl-blue);
    //opacity: 0.4;
    opacity: var(--generic-card-op, 0.3);
    transition: opacity .3s linear;
  }

  //&:after {
  //  right: initial;
  //
  //  width: var(--generic-card-full, 0);
  //
  //  background: $cl-secondary;
  //
  //  transition: width .5s cubic-bezier(.51, -0.33, .53, .58);
  //}

  .__name {
    height: max-content;

    padding: rem(8);

    font-weight: 700;
    font-size: rem(32);
    line-height: 106%;
    text-shadow: $sh-tex2;
    color: currentColor;

    border-radius: rem(10);
    max-width: max-content;

    transition: background-color .3s linear;
  }

  @include only-mouse {
    &:hover {
      .__name {

        background-color: $selection-text-bg;
      }

      //--generic-card-op: 0.5;
      //--generic-card-full: 100%;
      --generic-card-op: 0;

      transform: scale(1.1);

      box-shadow: inset rem(50) 0 0 rem(-0)  #{$cl-primary}; // inset rem(50) 0 rem(90) rem(-0)  #{$cl-primary};
    }
  }
}

.__link {
  --link-color: #{#4F4F4F};
  --link-color-hover: #{$cl-secondary};
  position: absolute;

  top: rem(23);
  right: rem(24);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: rem(32);
  height: rem(32);


  font-size: rem(16);
  line-height: 106%;
  color: currentColor;

  border-radius: 50%;
  box-shadow: $sh-card;
  background: $cl-primary;
}

.__name, .__link {
  z-index: 2;
}

@include max-wide(phones) {
  .__main {
    padding: rem(24) 0;
  }
  //.__card{
  //  box-shadow: inset rem(-60) 0 0 rem(30)  rgba(clr('pink'), .7);
  //}
}

@include min-wide(phones) {
  .__link {
    display: none;
  }
}
