<section class="__section">
  <div class="container">
    <hope-caption [titleTag]="false" content="PGD"></hope-caption>

    <div class="_content gm-clear">
      <img class="__img " src="assets/img/gen-2.jpg" alt="">

      <hope-description>
        <span class="gm-mt-3">

          One of the most common reasons that an embryo transfer does not result in a pregnancy is due to abnormal embryo genetics. <b>PGD</b> is designed to detect specific genetic diseases that might be passed down to your biological child through the examination of DNA. By examining the embryos, your doctors can decrease the chances of genetic diseases from being passed on to your child in the event of a successful pregnancy and only those without any defects are transferred into the uterus.
          <br>
          <br><b>The benefits of PGD testing</b>
          <br><b>A higher rate of embryo implantation</b>
          <br><b>Lower risk of miscarriage</b>
          <br><b>Increase in the number of births</b>
          <br><b>‘In vitro’ without genetic risk</b>
          <br><br>
        </span>

        <h3 class="list-caption">Indications for Preimplantation Genetic Screening</h3>

        <ul class="list --normal --center-mark">
          <li>positive genetic history of genetic diseases in the family</li>
          <li>diagnosed carriers of genetic diseases</li>
          <li>woman’s age – over 35 years old</li>
          <li>spontaneous miscarriages</li>
          <li>unsuccessful in vitro fertilization programs (transfer of good quality embryo)</li>
        </ul>
      </hope-description>
    </div>
  </div>
</section>

