@import "core";

:host {

}

.__text {
  margin: var(--description-mrg, 0 0);

  font-style: normal;
  font-weight: normal;
  font-size: rem(24);
  line-height: 150%;
}

@include max-wide(phonesLg) {
  .__text {
    font-size: rem(20);
  }
}
