<form class="__main" action="">
  <hope-input name="name" placeholder="Your name"></hope-input>
  <hope-input  type="email" name="email" placeholder="Your email" ></hope-input>
  <hope-input type="text" placeholder=""></hope-input>
</form>
