@import "core";

:host {
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.__top {
  text-align: center;
}

.__items {
  margin: rem(48) 0;
}

.__item {
  position: relative;

  padding: rem(24) 0;

  &.--wave {
    margin: 5% 0;

    @include max-wide(phonesLg) {
      &:before {
        position: absolute;
        top: 40%;
        left: -10vw;
        right: -10vw;
        bottom: 10%;
        z-index: -1;

        content: '';

        background: var(--cl-pink-light);
        //background: red;
      }
    }
  }
}

.__plash {
  position: absolute;
  top: 16%;
  left: 50%;
  bottom: 26%;
  z-index: -1;

  min-width: 100vw;

  background: var(--cl-pink-light);

  transform: translate(-50%, 0);

  &:before, &:after {
    position: absolute;
    left: 0;
    right: 0;

    content: '';
    height: rem(299);
  }

  &:before {
    top: -90%;

    background: url("#{$assets-path}vawe-item-bg-top.svg") no-repeat top/cover;
  }

  &:after {
    bottom: -90%;

    background: url("#{$assets-path}vawe-item-bg-bottom.svg") no-repeat bottom center/cover;
  }
}

@include max-wide(tablet) {
  .__plash {
    &:before {
      top: -70%;
    }

    &:after {
      bottom: -66%;
    }
  }
}

@include max-wide(phonesLg) {
  .__plash {
    top: 20%;
  }
}

@include max-wide(phones) {

  :host{
    --team-item-delta: 30vw;
  }

  .__plash {
    &:before {
      top: -62%;
    }
  }

  .__items {
    margin: rem(48) 0 0;
  }
}

@media (max-width: 320px) {



  .__plash {
    top: 0%;

    &:before {
      top: -18%;
    }
    &:after {
      bottom: -49%;
    }
  }
}


@include min-wide(retina) {
  :host {
    &:before {
      height: rem(130) !important;

      margin-bottom: rem(-48) !important;
      transform: scaleY(rem(23));
    }

  }
}
