<section>
  <div class="container">
    <div class="__top">
      <hope-caption content="Our team"></hope-caption>
    </div>

    <div class="__items" gdGap="3rem" gdGap.lt-sm="2rem">
      <article class="__item">
        <hope-team-item
          image="ava-julia.jpg"
          name="JULIA OSIYEVSKA"
          position="CEO, Director, Lawyer"
          socFb="https://www.facebook.com/julia.osiyevska"
          socIn="https://www.linkedin.com/in/juliaosiyevska"
          socIns="https://www.instagram.com/newhopeukraine">
          Julia is a founder and CEO of New Hope LLC. She is committed to helping you through every step of your journey
          to parenthood. She works closely with the intended parents, surrogate mothers, fertility specialists, doctors
          and leading IVF centers throughout your process. Julia is completely aware of all aspects of surrogacy process
          and its legal issues, works in a Family Law since 2005, has contacts in all our partner clinics and hospitals,
          arranges the process and keeps all parties focused on a successful outcome. Before founding New Hope LLC Julia
          was working for a Ukrainian Government - State Department for Adoptions under the Ministry of Social Policy
          and she was closely working with the adoptive parents from the USA and Canada.
        </hope-team-item>
      </article>

      <article class="__item --wave">
        <hope-team-item
          class="--invert"
          image="ava-katya.jpg"
          name="KATERINA MAKAROVA"
          position="Surrogate and egg donor coordinator">
          Recruiting, pre-screening, interviewing, coordinating and supporting surrogate mothers and egg donors are some
          of the tasks Katya is involved at. She is also responsible for finding new candidates for surrogacy and egg
          donation programs. Katya is the first person to assist the surrogates and egg donors with their cycles,
          screening process and support during their programs. She manages and keeps all candidates focused on a
          successful result, becomes a close member to their community and a trusted person as she is very sociable and
          caring. Our surrogates often reach her for an advice or support even after their program is finished.
        </hope-team-item>

        <span class="__plash"></span>
      </article>

      <article class="__item">
        <hope-team-item
          image="ava-elena.jpg"
          name="ELENA KURIPKO"
          position="IP coordinator, Psychologist">
          Elena is our IPs coordinator, she supports them through the whole process, provides psychological support to
          the candidates. Elena also helps parents during and after birth and she is very much involved in each
          surrogacy journey. She is a professional and we are priviledged to have her in our team..
        </hope-team-item>
      </article>

      <article class="__item ">
        <hope-team-item
          class="--invert"
          image="ava-anna.jpg"
          name="ANNA MARINENKO"
          position="Pregnancy coordinator">
          Anna supports surrogate mothers and programs in hospitals, translates documents, coordinates pregnancies. She
          attends medical appointments with the surrogates, helps our ladies during pregnancy and is always available
          with any issues or concerns. Anna enjoys such a wonderful opportunity of seeing a new life growing inside.
        </hope-team-item>
      </article>
    </div>
  </div>
</section>
