<nav class="gm-text-center" gdGap="2.5rem" gdGap.xs="5vh">
  <a class="__link" href routerLink="/" (click)="close($event)">Home</a>
  <a class="__link" href routerLink="/costs" routerLinkActive="--active" (click)="close($event)">Costs</a>
  <a class="__link" href routerLink="/about-us" routerLinkActive="--active" (click)="close($event)">About</a>
  <a class="__link" href routerLink="/faq" routerLinkActive="--active" (click)="close($event)">FAQ</a>
  <a class="__link" href routerLink="/blog" routerLinkActive="--active" (click)="close($event)">Blog</a>
  <a class="__link" href routerLink="/contact" routerLinkActive="--active" (click)="close($event)">Contact</a>
</nav>
