@import "core";

:host {
  --link-color: #{$cl-primary};
  --link-color-hover: #{$cl-secondary};

  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  z-index: z-index(header) + $z-index-step;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: calc(100vh - #{rem(0.5)});
  max-width: 100%;

  background: rgba(#fff, .8);
  backdrop-filter: blur(8px);

  transform: translate(-50%, 0);
  transition: width .23s cubic-bezier(.03, .96, .69, .71), max-width .23s cubic-bezier(.03, .96, .69, .71);

  overflow: hidden;

  filter: drop-shadow($sh-mob-menu);

  &:not(.--is-open) {
    width: 0 !important;
    max-width: 0 !important;

    .__link {
      letter-spacing: rem(-16);
    }
  }
}

.__link {
  font-weight: 400;
  font-size: rem(48);
  letter-spacing: 0.5px;
  text-decoration: none;

  transition: letter-spacing .3s linear;
  will-change: letter-spacing, opacity;

  &.--active {
    opacity: 0.5;
  }
}

@include max-wide(phones) {
  .__link {
    font-size: rem(38);
  }
}

@media screen and(max-height: 400px) and (orientation: landscape) {
  :host {
    nav {
      display: flex !important;
      flex-flow: row wrap;
      justify-content: center;
      gap: rem(32);

      padding: rem(24);
    }
  }
}
