@import "core";

:host {
  display: inline-flex;

  &.--blue {
    .__logo {
      width: rem(151);
      height: rem(67);

      background: $img-logo-blue-file no-repeat left top /contain;
    }
  }
}

.__logo {
  width: rem(113.15);
  height: rem(50);

  background: $img-logo-file no-repeat left top /contain;

  transition: filter .3s linear;

  @include only-mouse {
    &:hover {
      filter: grayscale(1);
    }
  }
}
