@import "core";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z-index(header) + $z-index-step;

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  backdrop-filter: blur(8px);

  transition: 1.8s cubic-bezier(1, -0.2, 0, 1.23);

  overflow: hidden;

  &:not(.--open) {
    width: 0;
    visibility: hidden;

    --section-before-trn: -50vw !important;
  }

  &.--open {
    --section-before-wdh: 0 !important;
  }
}

.__section {
  width: 100%;
  height: 100%;

  background: rgba(#ffffff, 0.84);

  @include min-wide(laptop) {
    &:before {
      position: absolute;
      top: 0;
      left: 10vw;
      bottom: 0;

      display: flex;
      align-items: center;

      max-width: rem(450);

      content: attr(data-left-text);

      font-size: 3.8vw;
      line-height: 150%;
      font-weight: 500;
      text-transform: uppercase;
      color: $cl-primary !important;

      transform: translate(var(--section-before-trn, 0), 0);
      overflow: hidden;

      transition: transform 2.6s cubic-bezier(1, -0.55, 0, 1.78);
    }
  }

  @include min-wide(fullHD) {
    &:before {
      font-size: 3.2vw;
    }
  }

  @include max-wide(notebook) {
    &:before {
      left: 7vw;

      font-size: 4.2vw;
      max-width: rem(380);
    }
  }

  @media(max-height: 750px) {
    &:before {
      left: 7vw;

      font-size: rem(42);
      max-width: rem(380);
    }
  }
}

.__content {
  --btn-min-wdh: #{rem(285)};

  position: relative;

  display: flex;

  width: 50vw;
  min-width: auto;
  height: 100%;

  padding: rem(160) rem(58) rem(58);

  box-shadow: rem(-10) rem(4) rem(50) rgba(84, 83, 94, 0.13);
  border-radius: rem(16) 0 0 rem(16);
  background: url("#{$assets-path}request-bg.jpg") no-repeat top center /cover;
  background-position: -17vw 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';

    background: rgba(#ffffff, 0.96);
  }

  form {
    --scroll-size: #{rem(4)};

    @extend %scroll-small;

    margin-right: rem(-24);
    padding-right: rem(24);

    overflow: auto;
  }
}

.__main {
  position: relative;
  z-index: 1;
}

.__capt {
  font-weight: 700;
  font-size: rem(32);
  line-height: 140%;
  color: $cl-secondary;
}

.__text {
  margin: rem(16) 0 rem(48);
  max-width: rem(420);

  font-size: rem(18);
  line-height: 140%;
}

.__close {
  position: absolute;
  top: rem(48);
  left: rem(58);

  padding: 0;

  font-size: rem(24);
  color: var(--cl-gray-light);

  border: unset;
  background: unset;

  &:before {
    @include pseudo-icon($hpi-close, inherit);
  }

  @include only-mouse {
    &:hover {
      color: $cl-primary;
    }
  }
}

.__form {
  --btn-wdh: 100%;

  max-width: rem(320);

  &.--is-success {
    position: relative;

    cursor: pointer;

    &:before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      width: 100%;

      content: '';
      background: rgba(#fff, .68);
      box-shadow: 0 0 rem(40) rem(10) rgba(#fff, .68);
      backdrop-filter: blur(3px);

      visibility: visible;
    }

    &:after {
      position: fixed;
      top: 50%;
      left: 10vw;
      z-index: 2;

      max-width: rem(580);
      width: 100%;

      content: attr(data-left-success-text);
      color: $cl-primary;
      text-align: left;

      font-size: rem(48);
      letter-spacing: rem(-2);
      font-weight: 800;

      visibility: visible;

      transform: translate(0%, -50%);

      //transition: content .3s linear;
      opacity: 0;
      animation: smooth-opacity .4s both linear;

      @include max-wide(phonesLg) {
        right: 10vw;
        width: auto;

        font-size: rem(42);
      }
    }
  }
}

.__btn {
  margin: rem(24) 0 0;
}

.__set {
  position: relative;

  mark {
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;

    padding: rem(3) rem(24);
    text-align: center;

    //color: var(--cl-white);
    font-size: rem(12);
    font-weight: 600;

    border-radius: 0 0 rem(3) rem(3);
    background: var(--cl-gray-lighten);
  }
}

@include max-wide(desktopSm) {
  .__content {
    width: 66vw;
  }
}

@include max-wide(phones) {
  .__close {
    position: absolute;
    top: rem(32);
    left: rem(32);

    font-size: rem(18);
  }

  .__content {
    width: 100vw;

    padding: 10vh rem(32) rem(32);
  }

  .__form {
    max-width: none;
  }
}

@include max-wide(phonesSm) {
  .__form {
    grid-gap: rem(16) !important;
  }
}

@media(max-height: 650px) {
  .__close {
    top: rem(24);
    left: rem(32)
  }

  .__content {
    padding: rem(68) rem(32) rem(32);
  }
}

@media screen and(max-height: 400px) and (orientation: landscape) {
  .__content {
    width: 100%;
  }

  .__main {
    display: grid !important;
    grid-template-columns: 1.2fr 2fr;
    grid-auto-flow: column !important;
    grid-template-rows: max-content 220%;
    grid-gap: 0 rem(32);

  }

  .__capt {
    grid-column: 1;
    grid-row: 1;
  }

  .__text {
    grid-column: 1;
    grid-row: 2;
  }

  form {
    grid-column: 2;
    grid-row: 1/3;
  }
  .__form {
    max-width: unset;
  }
}
