<section class="__section" fxLayoutAlign="end center center"
         data-left-text="To start your surrogacy journey, please fill out our form">
  <div class="__content">
    <button class="__close" (click)="closeConsultation(false)"></button>

    <div class="__main" fxLayout="column">
      <div class="__capt">SEND US A MESSAGE</div>

      <p class="__text">Thank you for your interest in New Hope. We’ll be happy to assist you with any questions you
        have about our services.</p>

      <form [formGroup]="form" (submit)="onSubmit($event)" role="form">
        <div class="__form" [class.--is-success]="isSendingStatus"
             gdGap="1.5rem" (click)="closeMessage()"
             data-left-success-text="The message has been successfully delivered, we will contact you shortly!!!">
          <hope-input placeholder="Your name"
                      formControlName="name"
                      [tabIndex]="1"
                      [autofocus]="true">
          </hope-input>

          <hope-input placeholder="E-mail address"
                      [tabIndex]="2"
                      formControlName="email" [type]="'email'">
          </hope-input>

          <!--          <hope-input placeholder="Phone number"-->
          <!--                      formControlName="phones" [type]="'tel'">-->
          <!--          </hope-input>-->

          <fieldset class="__set">
            <ng-select placeholder="Marital status"
                       bindLabel="name"
                       bindValue="id"
                       formControlName="status"
                       [items]="selectMaritalStatusOptions"
                       [searchable]="false"
                       [clearable]="false"
                       (change)="selectMaritalStatus($event)"
                       [tabIndex]="3"
                       required>
            </ng-select>

            <mark *ngIf="isSingle"> ⚠ Single cannot do surrogacy in Ukraine</mark>
          </fieldset>

          <!--          <hope-input placeholder="Marital status"-->
          <!--                      [tabIndex]="3"-->
          <!--                      formControlName="status" [type]="'tel'">-->
          <!--          </hope-input>-->

          <ng-select placeholder="Your country"
                     bindLabel="name"
                     bindValue="id"
                     formControlName="country"
                     [items]="selectCountryOptions"
                     [searchable]="false"
                     [clearable]="false"
                     (change)="selectCountry($event)"
                     [tabIndex]="4"
                     required>
          </ng-select>


          <ng-template [ngIf]="diffCountry">
            <hope-input placeholder="Enter your country"
                        formControlName="countryOther"
                        [type]="'text'"
                        [tabIndex]="5">
            </hope-input>
          </ng-template>

          <hope-input placeholder="Your age"
                      [tabIndex]="5"
                      formControlName="age" [type]="'number'">
          </hope-input>

          <!--          <hope-input placeholder="Direction IVF/Surrogacy/Egg"-->
          <!--                      formControlName="subjects">-->
          <!--          </hope-input>-->

          <!--          <hope-select [options]="selectOptions"-->
          <!--                       placeholder="Choose...."-->
          <!--                       formControlName="subjects"></hope-select>-->

          <hope-textarea placeholder="What question are you interested in?"
                         [tabIndex]="6"
                         [errorMsg]="'min 12 characters'"
                         formControlName="message"></hope-textarea>

          <hope-button class="__btn" [typeButton]="'submit'" [disabled]="isError">Contact us</hope-button>
        </div>
      </form>
    </div>
  </div>
</section>
