@import "core";

:host {
  --link-color: #{$cl-primary};
  --link-color-hover: #{var(--cl-pink-dark)};

  --btn-min-wdh: #{max-contnet};
  --btn-hgt: #{rem(28)};
  --btn-pdd: #{rem(4) rem(10)};
  --btn-font-size: #{rem(13)};
  --btn-rd: #{rem(6)};

  font-size: rem(18);
  font-weight: 400;

  &:before,  &:after {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;

    height: 100vh;

    content: '';

    opacity: 0.23;
    background: url("#{$assets-path}request-bg.jpg") no-repeat right top  /cover;

    @include max-wide(phonesLg){
      background-position-x: center;
      background-size: 100vh;
    }
  }

  &:after {
    z-index: -1;

    background: $gr-light-hide;
    opacity: 1;
  }
}

.__main {
  --caption-mog: #{0 0 rem(48)};

  padding: rem(66) 0;
}

.__data {
  margin: rem(24) 0 rem(48);

  font-size: rem(18);
  opacity: .8;
}

.__list {
  display: flex;
  flex-flow: column;
  gap: rem(24);
}

.__nav, .__item, .__consent {
  padding: rem(24);

  border-radius: rem(10);
  //border: 1px dashed var(--cl-gray);
  box-shadow: $sh-card;
}

.__consent {
  margin: rem(32) 0;

  font-weight: 600;
  font-size: rem(22);

  mark {
    margin: auto rem(10);

    color: var(--cl-pink-dark);
    font-size: rem(68);
    line-height: 1;
  }
}

.__item {
  p {
    &:last-child {
      margin: 0;
    }
  }

  mark {
    --link-color: #{$cl-primary};
    --link-color-hover: #{$cl-secondary};

    display: inline-flex;

    padding: rem(4) rem(10);

    font-weight: 600;

    border-left: rem(3) solid $cl-secondary;
    background: rgba(clr('blue'), 0.2);
  }

  h3 {
    margin: 0 0 rem(24);

    font-weight: 700;
    font-size: rem(24);
    text-transform: uppercase;
  }
}

.__nav {
  position: sticky;
  top: calc(var(--header-hgt) + #{rem(38)});

  height: max-content;

  background: rgba(clr('gray-light'), .051);
  //box-shadow: $sh-card;

  @include max-wide(phonesLg){
    display: none!important;
  }
}

.__head {
  margin: 0 rem(-24) rem(10);
  padding: 0 rem(24) rem(24);

  font-size: rem(18);
  font-weight: 700;

  border-bottom: inherit;
  border-bottom: 1px dashed var(--cl-gray);
}

.__link {
  --link-color: currentColor;
  --link-color-hover: #{var(--cl-pink-dark)};

  display: inline-grid;
  grid-gap: 0.8rem;
  align-items: center;

  width: max-content;

  margin: 0 rem(-6);
  padding: rem(6) rem(10);

  font-size: rem(14);
  line-height: 1;

  border-radius: rem(5);

  &:hover {
    text-decoration: none;
  }

  &.--active {
    color: var(--cl-white) !important;
    font-weight: 600;
    background-color: $cl-primary !important;
  }

}
