<section class="__main">
  <div class="container">
    <div class="gm-text-center">
      <hope-caption [titleTag]="false" content="Privacy Policy – Your Privacy Rights"></hope-caption>

      <hope-description>
        This Privacy Policy describes the privacy practices of {{companyName}} regarding the personal information we
        collect in connection with our website at <a [attr.href]="siteLink" target="_blank">{{ siteLink }}</a>. This
        Privacy Policy also describes certain rights and choices available to you with respect to your personal
        information.
      </hope-description>

      <div class="__data">Effective as of September 6th, 2021.</div>
    </div>

    <div gdColumns.gt-xs="3fr 330px" gdGap="2rem">
      <section class="__list" fxLayout="column">
        <article id="s1" class="__item">
          <h3>How we use your personal information</h3>

          <p>This purpose of this privacy notice is to explain how {{companyName}} collects, manages, uses and looks
            after
            any personal information supplied to us or data created by us about you (which we will collectively refer to
            as “data”). This includes any data that you provided directly to us, that you have requested from third
            parties or data that we have created about you as part of our application process or to meet your on-going
            membership requirements.</p>
        </article>
        <article id="s2" class="__item">
          <h3>Privacy policies</h3>
          <p>You may consult this list to find the Privacy Policy for each of the advertising partners
            of {{companyName}}.</p>

          <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are
            used in their respective advertisements and links that appear on {{companyName}}, which are sent directly to
            users' browser. They automatically receive your IP address when this occurs. These technologies are used to
            measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that
            you see on websites that you visit.</p>
          <p>Note that {{companyName}} has no access to or control over these cookies that are used by third-party
            advertisers.</p>
        </article>
        <article id="s3" class="__item">
          <h3>Other Sites and Services</h3>
          <p>
            {{companyName}} - Privacy Policy does not apply to other advertisers or websites. Thus,
            we are advising you to consult the respective Privacy Policies of these third-party ad servers for more
            detailed information.
          </p>

          <p>
            The Service may contain links to websites, mobile applications, and other online services operated by third
            parties. These links are not an endorsement of, or representation that we are affiliated with, any third
            party. In addition, our content may be included on web pages or in mobile applications or online services
            that are not associated with us. We do not control websites, mobile applications or online services operated
            by third parties, and we are not responsible for their actions.
          </p>
        </article>
        <article id="s4" class="__item">
          <h3>Our Privacy Promise</h3>
          <p>
            At {{companyName}} we will:
          </p>
          <ul class="list  --center-mark --gap-small gm-mrg gm-mt-2">
            <li>Keep your data safe and secure</li>
            <li>Not share or sell to third parties any data that could identify you</li>
            <li>Enable you to change or remove your data at any time</li>
          </ul>
        </article>
        <article id="s5" class="__item">
          <h3>Why do we collect and use your data?</h3>

          <p>
            To support your application, your on-going membership of {{companyName}}, creating de-identified
            profiles and to assist us in arranging your mentorship session. Relevant data about you is only shared with
            trusted individuals within the organisation under confidentiality agreements or, where appropriate, with
            your surrogate or intended parent(s) when forming a team.
            <br><br>
            {{companyName}} will not otherwise disclose any personal information unless we seek your consent or
            where such disclosure is legally authorised or required, such as in the investigation of a criminal offence,
            or in compliance with a search warrant, court order or subpoena.
          </p>

          <strong>It is in our legitimate interest:</strong>

          <ul class="list --center-mark --gap-small gm-mt-2">
            <li>To confirm with you that you satisfy the legal criteria for the approval of a parental order, the
              mechanism for transferring legal parenthood from a surrogate to intended parent(s).
            </li>
            <li>To help you to understand {{companyName}} approach and membership expectations and abide by these.</li>
            <li>To support you and other members on your surrogacy journey(s).</li>
            <li>To support you and other members when volunteering for {{companyName}}.</li>
          </ul>

          <strong>Types of data:</strong>

          <ul class="list --center-mark --gap-small gm-mt-2 gm-mb-0">
            <li><strong>"Contact"</strong> - Your name, address, email and telephone numbers</li>
            <li><strong>"Social Demographic"</strong> - Age, Employment status and household income if provided</li>
            <li><strong>"Surrogacy Ukraine Specific Data"</strong> - Membership status and associated details, surrogacy
              journey status and associated details, volunteer status and associated details
            </li>
            <li><strong>"Special Category Data"</strong> - Health, gender, sexual orientation, criminal
              convictions/Child protection agencies
            </li>
            <li><strong>"Financial"</strong> - Membership fee payments, surrogacy expenses, reimbursements for duties
              completed on behalf of {{companyName}}, volunteer bank account details
            </li>
            <li><strong>"Images"</strong> - Images if provided by you or used with your consent</li>
          </ul>
        </article>
        <article id="s6" class="__item">
          <h3>How do we collect and create your data?</h3>

          <p>
            Usually your data is collected from you directly or from a third party you have requested data from.
            Normally your data is provided in the documents, communications and images listed below. Additionally, we
            may create data about you in the commentary listed below.
          </p>

          <ul class="list --center-mark --gap-small gm-mrg gm-mt-2">
            <li><strong>"Documents"</strong> - Letters, voicemails, emails, texts and other forms of electronic
              correspondence
            </li>
            <li><strong>"Communications"</strong> - Age, Employment status and household income if provided</li>
            <li><strong>"Commentary"</strong> - Advisory session notes, membership application decisions, membership
              support notes, exit interview reports, team mediation notes and notes of any other meetings or discussions
              that {{companyName}} acts in an official capacity.
            </li>
            <li><strong>"Profile"</strong> - Your profile</li>
          </ul>
        </article>
        <article id="s7" class="__item">
          <h3>How long do we keep your data?</h3>

          <p>As a <b>non-member</b> we will retain your data for five years. If you apply to become
            of {{companyName}} and this application is unsuccessful or withdrawn by you then the associated data will be
            retained for three years.</p>

          <p>As a <b>member</b> we will retain your data as long as you remain a financial member. If you become a
            non-member after being a member then all your data will be removed after five years.</p>
        </article>
        <article id="s8" class="__item">
          <h3>How to get a copy of your data</h3>

          <p>
            If you want to receive a copy of the data that is stored with us, you need to request it, for this send an
            email with the subject "I want to receive a copy of the documents" to
            <a [attr.href]="'mailto:' + contactMail" target="_blank">{{contactMail}}</a> or you can use form &nbsp;
            <hope-button type="button" class="__btn" (click)="openConsultationAside()" target="_blank">contact</hope-button>
            <br><br>
            <mark>All paper copies are destroyed and kept on file within our secure document share.</mark>
          </p>
        </article>
        <article id="s9" class="__item">
          <h3>Children's information</h3>

          <p>
            Another part of our priority is adding protection for children while using the internet. We encourage
            parents and guardians to observe, participate in, and/or monitor and guide their online activity.
            <br><br>
            {{companyName}} does not knowingly collect any Personal Identifiable Information from children under the age
            of 8. If you think that your child provided this kind of information on our website, we strongly encourage
            you to contact us immediately and we will do our best efforts to promptly remove such information from our
            records.
            <br><br>
            If we learn that we have collected personal information of a child under 18 without the consent of the
            child’s parent or guardian, we will delete it. We encourage parents with concerns to contact us.
          </p>
        </article>
        <article id="s10" class="__item">
          <h3>Online privacy policy only</h3>

          <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards to the information that they shared and/or collect in {{companyName}}. This policy is not applicable
            to any information collected offline or via channels other than this website.</p>
        </article>
        <article id="s11" class="__item">
          <h3>Security Practices</h3>

          <p>We employ a number of organizational, technical and physical safeguards designed to protect the personal
            information we collect. However, security risk is inherent in all internet and information technologies and
            we cannot guarantee the security of your personal information.</p>
        </article>
        <article id="s12" class="__item">
          <h3>Cookies</h3>
          <p>
            Like any other website, {{companyName}} uses 'cookies'.
            A cookie is a piece of data stored on the user’s hard drive containing information about the user. Usage of
            a cookie is in no way linked to any personal information while on this website. <a
            [attr.href]="siteLink" target="_blank">{{ siteLink }}</a> website only
            uses session cookies, which means that once the member or visitor closes their browser, the cookie simply
            terminates. If a member or visitor rejects a cookie, they may still use this website. However, the use may
            be limited in some areas of the site. Cookies can also enable us to anonymously track the interests of our
            members and visitors to enhance the usefulness of this website.
          </p>
        </article>
        <article id="s13" class="__item">
          <h3>Log files</h3>

          <p> {{companyName}} follows a standard procedure of using log files. These files log
            visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics.
            The information collected by log files include internet protocol (IP) addresses, browser type, Internet
            Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These
            are not linked to any information that is personally identifiable. The purpose of the information is for
            analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic
            information.
          </p>
        </article>
        <article id="s14" class="__item">
          <h3>International Data Transfers</h3>

          <p>We are headquartered in the Ukraine and may use service providers that operate in other countries,
            and your personal information may be transferred to the Ukraine or other locations where privacy laws
            may not be as protective as those in your state, province, or country.
          </p>
        </article>
        <article id="s15" class="__item">
          <h3>Changes to this Privacy Policy</h3>
          <p>We reserve the right to modify this Privacy Policy at any time. If we make changes to this Privacy Policy,
            we will notify you by updating the date of this Privacy Policy and posting it on the Service. If required by
            law we will also provide notification of changes in another way that we believe is reasonably likely to
            reach you, such as via e-mail or another manner through the Service.
            <br><br>
            Any modifications to this Privacy Policy will be effective upon our posting the modified version (or as
            otherwise indicated at the time of posting). In all cases, your continued use of the Service after the
            posting of any modified Privacy Policy indicates your acceptance of the modified Privacy Policy.</p>
        </article>
        <article id="s16" class="__item">
          <h3>How to Contact Us</h3>
          <p>If you have additional questions or require more information about our Privacy Policy, to
            <a [attr.href]="'mailto:' + contactMail" target="_blank">{{contactMail}}</a>. You may also write to us via
            postal mail at or contact another way:</p>

          <div gdGap="0.4rem">
            <mark>{{companyName}} Surrogacy, LLC</mark>
            <mark><a routerLink="/contact" target="_blank">{{contactAddress}}</a>.</mark>
            <mark>Or write to us using the form&nbsp;
              <hope-button type="button" class="__btn" (click)="openConsultationAside()" target="_blank">contact
              </hope-button>
            </mark>
          </div>
        </article>
      </section>
      <aside>
        <nav class="__nav" gdGap=".8rem">
          <h3 class="__head">TABLE OF CONTENTS</h3>

          <a class="__link"
             [ngClass]="{ '--active': navLinkSetActive(item.hash)}"
             (click)="goToSection(item.hash)"
             *ngFor="let item of list">
            {{ item.caption }}
          </a>
        </nav>
      </aside>
    </div>

    <div class="__consent" fxLayoutGap="1rem" fxLayoutAlign="center center">
      <mark>!</mark>
      <span>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions. All rights
      reserved {{companyName}}</span>
    </div>
  </div>
</section>
