@import "core";

:host {
  &.--current {
    .__cont {
      color: currentColor;
    }
  }
}

.__cont {
  margin: var(--caption-mog, 0 0 rem(24));

  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: rem(48);
  line-height: 106%;
  color: $cl-secondary;
}

@include max-wide(phones) {
  .__cont {
    font-size: rem(38);
  }
}
