<ng-container [ngSwitch]="titleTag">
  <ng-container *ngSwitchCase="false">
    <h1 class="__cont" [innerHTML]="content"></h1>
  </ng-container>

  <ng-container *ngSwitchCase="true">
    <h2 class="__cont" [innerHTML]="content"></h2>
  </ng-container>
</ng-container>
<ng-content></ng-content>
