@import "core";

$total: 100;
$snow-img: url('#{$assets-path}snow/snowflake3.png');
$snow-size: 5vw;

.__shows {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z-index(header) - $z-index-step;

  i {
    position: fixed;

    width: $snow-size;
    height: $snow-size;

    background: transparent $snow-img no-repeat center center/ $snow-size;

    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random-range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + dv($random-offset, 2);
      $random-yoyo-time: dv(random-range(30000, 80000), 100000);
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random-range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;

      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }

      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        }

        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }

}
