<!--<ng-particles class="__snow"-->
<!--              id="snowEffect"-->
<!--              [options]="options"-->
<!--              (particlesLoaded)="particlesLoaded($event)">-->
<!--</ng-particles>-->

<div class="__shows">
  <i *ngFor="let item of [].constructor(100)"></i>
</div>
