.gm-scroll-hide {
  overflow: hidden !important;
}

//.gm-hide {
//
//  body {
//    visibility: hidden !important;
//  }
//}

.gm-scroll-lock {
  @include only-touch {
    height: -webkit-fill-available !important;

    min-height: 100vh !important;
    max-height: calc(var(--window-inner-height, 100vh) - #{rem(1)}) !important;

    box-sizing: border-box;
  }
}

.gm-cursor-null {
  &, & * {
    cursor: none !important;
  }
}

/*.gm-scroll-unset {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;

    opacity: 0;
    background: transparent;
  }
}*/

.gm-mrg {
  margin: 0 !important;
}

.gm-mt-0 {
  margin-top: 0 !important;
}

.gm-mt-1 {
  margin-top: rem(8);
}

.gm-mt-2 {
  margin-top: rem(16);
}

.gm-mt-3 {
  margin-top: rem(24);
}

.gm-mt-4 {
  margin-top: rem(48);
}

.gm-mb-0 {
  margin-bottom: 0 !important;
}

.gm-pointer {
  cursor: pointer !important;
}

.gm-clear, .gm-clear:before, .gm-clear:after {
  display: block;
  content: "";
  clear: both;
}

.gm-text-center {
  text-align: center !important;
}

.gm-text-nowrap {
  white-space: nowrap !important;
}

.gm-hidden-block {
  position: relative;

  display: inline-flex;

  max-width: 0 !important;
  max-height: 0 !important;

  opacity: 0;
}
