:root {
  //* root sizes
  --container-limit: #{$containerLimit};
  --container-gutter: #{$contentGutter};

  --header-hgt: #{rem(78)};
  //--header-top: 0px;

  //* root colors
  // primary colors
  @each $color, $value in $colors {
    --cl-#{$color}: #{$value};
  }

  //  * colors end

  @include max-wide(desktop) {
    --container-gutter: #{rem(30)};
  }

  @include max-wide(laptop) {
    --container-gutter: #{rem(24)};
  }

  @include max-wide(phones) {
    --header-hgt: #{rem(64)};
  }
}
