//* Map size devices for media query
$wideScreens: (
  phonesSm: 340px,
  phones: 480px,
  phonesLg: 640px,
  tablet: 768px,
  laptop: 992px,
  desktopSm: 1024px,
  desktopMd: 1170px,
  desktop: 1280px,
  notebook: 1366px,
  notebookLg: 1600px,
  fullHD: 1800px,
  retina: 2100px,
  retina4k: 3656px,
  retina5k: 5100px,
  retina8k: 7600px
);

$contentScale: (
  //(
  //    direction: 'max-width',
  //    wide: screens(phonesSm),
  //    scale: 92%
  //),
  (
    direction: 'max-width',
    wide: screens(notebook),
    scale: 90%
  ),
  (
    direction: 'max-width',
    wide: screens(phonesSm),
    scale: 74%
  ),
  (
    direction: 'min-width',
    wide: screens(retina),
    scale: 126%
  ),
);

$variable-prefix: hope- !default;

//* Main content && elements sizes
$guides: false;
$guidesBody: false;
$guidesContainer: false;
$guidesCenter: true;
$guides-color: #ff3e23;
$guides-column: 12;

$customContainer: true;
$containerLimit: rem(screens(desktopMd)) + rem(32);
$containerOffset: calc(var(--container-gutter) * -1);
$contentGutter: rem(16) !default;
$contentGutterX2: rem(24) !default;
$contentGutterX3: rem(48) !default;
$contentGutterX4: rem(96) !default;
$sectionSpacer: var(--section-spacer, rem(70)) !default;

$contentSizeExtraSmall: rem(472) !default;
$contentSizeSmall: rem(568) !default;

$multiplier: 1.25 !default;

$elemRadius: rem(6) !default;
$elemRadiusNormal: rem(10) !default;
$elemRadiusSmall: rem(4) !default;

//* z-index
$z-index-step: 10 !default;
$z-index: (
  start: 10,
  middle: 50,
  header: 100,
  modal: 1000
) !default;

// * colors
$colors: (
  'pink': #FF99B6,
  'pink-dark': #FF6A95,
  'pink-light':#FFF7FA,
  'blue': #89DEFA,
  'black': #333333,
  'gray': #D4D7D9,
  'gray-light': #B1B7BD,
  'gray-lighten': #E6EAEE,
  'white': #ffffff,
  'red': #ff3e23
) !default;

$cl-primary: var(--cl-pink);
$cl-secondary: var(--cl-blue);

$base-font-color: var(--cl-black) !default;
$base-font-size-color: 16px !default;

$body-color: $base-font-color;
$font-weight-base: 300;

$border-color: var(--cl-gray-light);

$selection-text-bg: $cl-primary;
$selection-text-color: var(--cl-white);

$cl-red: var(--cl-red);

$cl-placeholder: var(--cl-gray-light);

// * shadows
$new-year-themes: false !default;

// * shadows
$sh-text: 1px 1.7px rem(5) rgba(84, 83, 94, 0.1);
$sh-tex2: 1px 1.7px rem(5) rgba(84, 83, 94, 0.5);
$sh-card: rem(-10) rem(4) rem(50) rgba(84, 83, 94, 0.13);
$sh-mob-menu: 0 0 50vw rgba(#fff, .9);

// * gradients
//$gr-btn: linear-gradient(90deg, #cc229a 0%, #cc229a 1%, #941887 100%);
$gr-light-hide: linear-gradient(to bottom, rgba(255, 255, 255, 0) -60%, white 76%, white 66%);
$gr-light-top-hide: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
$gr-light-fade: linear-gradient(270.93deg, var(--grad-color, var(--cl-white)) var(--grad-opacity, 28.67%), rgba(clr('white'), 0) 99.19%);
//$gr-radial: radial-gradient();

// * clip-paths and svg bg

// * images source
$assets-path: '/assets/img/' !default;
$img-logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 114 50' fill='%23ff99b6' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M21.9 39.6c.4-.2.6-.1.7.2-.3.2-.6.1-.7-.2zM26.7 0h1.9c4.3.2 8.6 1.3 12.2 3.8 4.3 2.9 7.1 7.5 8.9 12.3 1.3 3.6 1.5 7.6 1.1 11.4-.6 2.3-1 4.6-1.6 6.9-.3 1.2-1 2.3-1.3 3.5-1.2 1.9-2.5 3.7-3.9 5.4l.1.6c-1.3.9-2.6 1.8-4 2.5-2.5 1.4-5.3 2.2-8.1 2.7-.8.2-1.8.1-2.5.6-2.8.5-5.7 0-8.5-.2-4.6-.7-8.4-3.5-11.9-6.2-.5-.5-.8-1.1-1.3-1.6-1.1-1-1.7-2.4-2.7-3.5-.5-.8-1.6-1-2.1-1.8-.7-1-1.2-2.2-1.7-3.3l1.1 1.2C1.8 33 1.1 31.8.7 30.4c0-.8-.1-1.6-.5-2.2-.1-.3-.6-.9 0-1a22.16 22.16 0 0 1 0-6.3c.3-1.2.8-2.2 1-3.4-.1-1.8 1.3-3.2 1.7-4.9l.5.1c.4-1.6 1.8-2.7 2.1-4.3 1-1.1 2.1-2 3-3.1C10 3.6 11.2 1.6 13 .2c-1.9 2.1-3.5 4.5-5.1 6.9C4.6 11.9 2 17.6 2.1 23.6c0 3 1.1 5.9 2.3 8.6 2.4 5.4 6.1 10.4 11.3 13.3 1.7.9 3.6 1.5 5.5 1.7 2.4.1 4.8.3 7.2 0 1.1-.1 2.1-.5 3.2-.4 1 .1 1.9-.4 2.8-.8 2.5-1.2 5-2.5 6.8-4.5.7-1 1.7-1.7 2.2-2.8 1.2-2.2 2.3-4.6 2.9-7.1.3-1.5.9-3 1.1-4.6l.2 1.2c-.1-1.2.5-2.2.7-3.3.1-2-.5-3.9-.7-5.9-.2-1.4-.7-2.7-1.2-4-.3-1.2-1.5-1.8-2.2-2.7-.1-1.5-1.7-2.1-2.6-3.1-2.3-2.3-5.4-3.9-8.6-4.6-1.1-.2-2-.8-3.1-1-1.5-.2-3 .1-4.5.1 2.2-.3 4.5-.4 6.8-.2l.7-.7-1.9-.5-.3.4c-1.2-.1-2.5-.2-3.7-.2l1.1-.5c-1.2 0-2.4.5-3.6.6-.7.1-1.5.1-1.9.8-1.3.1-2.4.8-3.7 1.1l.2.2c-.5 0-1.1.1-1.4.6-1.6 1.7-3.6 3.2-4.4 5.5l-.3-.6c-.7 1.1-1.3 2.2-1.2 3.5l-.3-.6c-2.2 4.3-2.8 9.3-1.8 14 .7 3.8 2.7 7.3 5.7 9.7 3.6 3.6 9.1 5 14.1 4.4 2.2-.2 4.4-1.1 6.4-2 1.5-.9 2.7-2.2 3.8-3.6 1.4-2.3 2.1-5 2.7-7.7.8-3 .9-6.3-.5-9.1-.4-1.2-1.4-1.9-2-2.9.3.1.6.3.9.5.9 1.4 1.9 2.8 2.4 4.4.9 3.2.4 6.7-.5 9.9s-2.5 6.3-5.1 8.4c-1.6 1.5-3.7 2.2-5.7 3-1.1.4-2.3.5-3.5.5-6.8.4-13.7-3.1-17.3-8.9-1.5-2.4-2.7-5.1-2.9-7.9-.2-1.8-.8-3.6-.3-5.3.3-2.6.9-5.2 2.2-7.5.6-1.1.6-2.4 1.4-3.4 1.4-1.3 2.3-3 3.7-4.3.8-.8 1.4-1.8 2.3-2.4C19.2 1.6 21.3.8 23.4.4c1-.2 2.2-.2 3.3-.4zM16.4 8L18 6.4c-.5.6-1.1 1.1-1.6 1.6zm11.2 2l.7.1c.2.3-.8.3-.7-.1zm-4.5 1c.3-.1.7-.4 1.1-.3 0 .3-.4.4-.6.5-.9.4-1.8.8-2.8.9.7-.5 1.5-.7 2.3-1.1h0zm10.7 0c.7.1 1.4.4 1.8 1-.6-.2-1.3-.5-1.8-1zm-13.1 5.3c.5-.7 1.6-.7 2.3-.2l.4-.3 2 1c.9.7 1.5 1.8 1.9 3-.5-.8-.8-1.8-1.7-2.3.4.7.9 1.4 1.2 2.2.2.7.2 1.5.6 2.1V20c.3.8.3 1.6.3 2.4l-.5-.9v1.9c.4-.2.5-.6.4-1.1l.3.8c1.8-1 4-1.6 6-.9 1.3.6 2.4 1.8 2.6 3.3 0 1.1-.6 2.4-1.8 2.8-1 .4-2.1.7-3.2.9-1.2.1-2.3.7-3.5 1l-.1-.3-.4.5c-2.2.2-3.8 1.8-5.7 2.5-.3-1.8 0-3.7-.4-5.5-.1-1.9-.9-3.6-1.4-5.4-.3-1.1-1.1-2.2-.6-3.4l-.1-.4c.3-.5.6-1 .8-1.5l.6-.4h0z'/%3E%3Cpath d='M10.5 28.7c1 2.4 2.3 4.8 4.1 6.7 1.3 1.3 2.8 2.4 4.4 3.3l.4-.1-.2.4 1.2.2-.1.3 1.6.1c.1.3.4.4.7.2-.1-.3-.3-.4-.7-.2l-.4-.4c.5-.1 1 .2 1.4.3.8.2 1.7.2 2.4.7-.8-.1-1.6-.3-2.4-.5l.1.5.6.1c-.7-.1-1.4 0-2-.5-.4-.3-.9-.2-1.4-.2l.1-.3c-1.4.1-2.6-1-3.7-1.7-1.2-.7-2-1.7-2.8-2.8-1.5-1.7-2.7-3.8-3.3-6.1h0zm19.9 17c.5-.2 1-.5 1.5-.5-.2.6-.9.5-1.5.5zm-4.9.9c.6-.2 1.3-.2 1.9-.2-.6.2-1.2.3-1.9.2zm46-24.8h-3.1l-5.5-9.5v9.5H60V7.4h3.1l5.5 9.5V7.4h2.9v14.4zm12.5 0h-9.8V7.4H84v2.9h-7v2.9h4.7v2.9H77V19h7v2.8h0zm16.3-4.1c0 .6-.1 1.2-.3 1.7s-.5 1-.9 1.4-.9.7-1.4.9c-.6.2-1.2.3-1.7.3s-1.1-.1-1.5-.3c-.5-.2-.9-.5-1.3-.8-.4.4-.8.6-1.3.8s-1 .3-1.5.3c-.6 0-1.2-.1-1.7-.3s-1-.5-1.4-.9-.7-.9-.9-1.4-.3-1.1-.3-1.7V7.4H89v10.3c0 .2 0 .4.1.6s.2.3.3.5c.1.1.3.2.5.3s.4.1.6.1.4 0 .6-.1.3-.2.5-.3c.1-.1.2-.3.3-.5s.1-.4.1-.6V7.4h2.9v10.3c0 .2 0 .4.1.6s.2.3.3.5c.1.1.3.2.5.3s.4.1.6.1.4 0 .6-.1.3-.2.5-.3c.1-.1.2-.3.3-.5s.1-.4.1-.6V7.4h2.9l-.5 10.3h0zM62.9 41H60V26.7h2.9v5.7h5.7v-5.7h2.9V41h-2.9v-5.7h-5.7c0 0 0 5.7 0 5.7zm25.3-7.1c0 .7-.1 1.3-.3 2l-.7 1.8c-.3.5-.7 1-1.2 1.5s-1 .8-1.5 1.2c-.5.3-1.1.6-1.8.7-.6.2-1.3.3-2 .3s-1.3-.1-2-.3l-1.8-.7c-.5-.3-1.1-.7-1.5-1.2-.5-.5-.8-1-1.2-1.5l-.8-1.8s-.3-1.3-.3-2 .1-1.3.3-2c.2-.6.4-1.2.8-1.8.3-.5.7-1.1 1.2-1.5.5-.5 1-.8 1.5-1.2.6-.3 1.2-.6 1.8-.7.6-.2 1.3-.3 2-.3s1.3.1 2 .3l1.8.7c1.1.6 2 1.6 2.7 2.7.3.5.6 1.1.7 1.8.2.7.3 1.3.3 2zm-2.8 0c0-.6-.1-1.2-.4-1.8-.5-1.1-1.3-2-2.4-2.4-.6-.2-1.1-.4-1.8-.4-.6 0-1.2.1-1.8.4-.6.2-1 .6-1.5 1-.4.4-.8.9-1 1.5s-.4 1.1-.4 1.8.1 1.2.4 1.8c.2.5.6 1 1 1.4s.9.7 1.5 1c.6.2 1.2.4 1.8.4s1.2-.1 1.8-.4c.5-.2 1-.6 1.5-1 .4-.4.7-.9 1-1.4.2-.7.3-1.3.3-1.9zm7.6-4.4v5.7h2.9c.4 0 .8-.1 1.1-.2s.6-.4.9-.6c.3-.3.5-.6.6-.9.2-.4.2-.7.2-1.1s-.1-.8-.2-1.1-.3-.7-.6-.9c-.3-.3-.6-.5-.9-.6-.4-.2-.7-.2-1.1-.2H93zM93 41h-2.9V26.7h5.7c.5 0 1 .1 1.5.2s.9.3 1.4.6c.4.2.8.5 1.2.9a2.73 2.73 0 0 1 .9 1.2c.3.4.4.9.6 1.4.1.5.2 1 .2 1.5 0 .8-.2 1.5-.4 2.2-.3.7-.7 1.3-1.2 1.8s-1.1.9-1.8 1.2-1.4.5-2.2.5h-3V41h0zm20.2 0h-9.8V26.7h9.8v2.9h-7v2.9h4.7v2.9h-4.7v2.9h7V41h0z'/%3E%3C/svg%3E") !default;
$img-logo-blue: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='67' fill='%2389defa' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M29.354 53.032c.474-.217.769-.121.887.295-.406.256-.702.16-.887-.295zM35.839 0h2.543c5.758.288 11.579 1.797 16.337 5.149 5.712 3.953 9.562 10.075 11.871 16.533 1.747 4.868 2 10.145 1.455 15.251-.758 3.075-1.359 6.188-2.081 9.27-.36 1.64-1.382 3.05-1.683 4.708-1.663 2.491-3.399 4.946-5.26 7.295l.107.772c-1.745 1.143-3.451 2.345-5.306 3.303-3.342 1.861-7.067 2.901-10.807 3.59-1.132.224-2.373.139-3.37.808-3.8.723-7.651.057-11.448-.306-6.113-.915-11.212-4.683-15.97-8.362-.627-.683-1.06-1.524-1.704-2.192-1.453-1.355-2.224-3.241-3.566-4.697-.727-1.067-2.16-1.307-2.872-2.384-.96-1.364-1.633-2.901-2.31-4.413l1.528 1.623c-.745-1.726-1.708-3.373-2.274-5.171 0-1.038-.093-2.089-.627-3.007-.135-.459-.865-1.175.05-1.36-.37-2.804-.406-5.65-.05-8.458.344-1.549 1.068-2.99 1.359-4.548-.075-2.413 1.758-4.263 2.26-6.544l.623.193c.58-2.103 2.366-3.638 2.783-5.782 1.284-1.457 2.772-2.719 4.017-4.206 1.971-2.303 3.59-4.965 6.067-6.783-2.602 2.815-4.637 6.086-6.872 9.188-4.43 6.54-7.924 14.163-7.821 22.208-.035 4.064 1.48 7.906 3.086 11.572 3.218 7.17 8.156 13.87 15.079 17.827a22.6 22.6 0 0 0 7.322 2.324c3.2.071 6.412.452 9.605-.025 1.415-.162 2.793-.666 4.23-.588 1.345.146 2.555-.559 3.743-1.077 3.285-1.601 6.669-3.303 9.171-6.035.956-1.296 2.245-2.338 3.002-3.779 1.655-2.989 3.1-6.138 3.896-9.473.385-2.063 1.182-4.029 1.41-6.123l.321 1.59c-.098-1.551.623-2.956.914-4.445.195-2.675-.72-5.249-.944-7.892-.21-1.861-.961-3.6-1.544-5.363-.384-1.618-2.026-2.347-2.975-3.582-.185-2.046-2.224-2.869-3.456-4.215-3.127-3.123-7.208-5.176-11.501-6.155-1.455-.264-2.735-1.103-4.202-1.313-2.025-.214-4.042.182-6.067.189 2.997-.36 6.035-.584 9.049-.317l.904-.967-2.544-.641-.459.566c-1.669-.16-3.346-.285-5.021-.228l1.522-.629c-1.661.025-3.216.7-4.868.787-.924.096-2.039.185-2.541 1.099-1.757.128-3.274 1.084-4.964 1.408.071.064.217.189.292.253-.705.064-1.419.196-1.861.808-2.145 2.281-4.781 4.32-5.892 7.356l-.363-.844c-.961 1.416-1.708 2.993-1.64 4.744l-.392-.844c-2.975 5.739-3.75 12.5-2.452 18.809.967 5.053 3.633 9.836 7.689 13.049 4.872 4.875 12.22 6.663 18.928 5.831 3.014-.281 5.839-1.465 8.568-2.697 2.014-1.206 3.645-2.974 5.121-4.779 1.865-3.139 2.847-6.718 3.652-10.26 1.011-4.02 1.166-8.436-.677-12.254-.484-1.576-1.928-2.502-2.643-3.939.431.146.784.441 1.149.705 1.202 1.889 2.559 3.732 3.168 5.92 1.252 4.338.559 8.964-.623 13.238-1.143 4.28-3.356 8.408-6.865 11.205-2.192 1.95-5.007 2.886-7.651 4.032-1.49.529-3.092.632-4.665.689-9.088.474-18.372-4.145-23.211-11.903-1.996-3.216-3.623-6.818-3.876-10.639-.217-2.381-1.038-4.783-.34-7.16.406-3.473 1.213-6.943 2.936-10.016.857-1.434.776-3.275 1.893-4.577 1.878-1.697 3.096-3.963 4.928-5.707 1.079-1.032 1.861-2.363 3.107-3.217C25.6 2.292 28.334 1.161 31.17.616 32.714.328 34.295.278 35.839 0zM21.918 10.721l2.124-2.185c-.632.798-1.353 1.524-2.124 2.185zm15.116 2.708l.979.072c.117.498-1.106.405-.979-.072z'/%3E%3Cpath d='M30.896 14.763c.466-.201.942-.568 1.48-.416.018.381-.524.52-.791.691-1.177.562-2.422 1.011-3.714 1.22.924-.659 1.996-1.042 3.025-1.496zm14.446-.028c.937.171 1.868.523 2.417 1.353-.88-.292-1.777-.659-2.417-1.353zm-17.639 7.174c.691-.96 2.21-.893 3.114-.303l.499-.466c.871.434 1.793.776 2.619 1.302 1.257.979 2.032 2.452 2.48 3.957-.737-1.051-1.061-2.381-2.22-3.114.577.949 1.145 1.921 1.587 2.95.231.949.238 2.007.801 2.84l-.007-2.466c.43 1.043.373 2.181.427 3.281l-.67-1.143.036 2.53c.602-.252.675-.821.598-1.437l.338 1.033c2.392-1.307 5.349-2.118 8.004-1.15 1.697.854 3.281 2.402 3.426 4.398-.053 1.537-.869 3.195-2.366 3.775-1.402.477-2.815.971-4.292 1.152-1.647.111-3.135.883-4.7 1.318l-.114-.41-.577.73c-2.901.278-5.05 2.452-7.7 3.381-.406-2.448-.06-4.946-.47-7.398-.11-2.541-1.2-4.875-1.857-7.295-.367-1.469-1.428-2.947-.78-4.494l-.196-.574c.41-.655.787-1.331 1.068-2.049l.953-.349zM14.117 38.413c1.341 3.271 3.072 6.43 5.506 9.024 1.704 1.783 3.718 3.26 5.881 4.438l.502-.086-.277.563 1.595.252-.1.349 2.131.079c.185.455.481.55.887.295-.118-.416-.413-.511-.887-.295l-.47-.538c.677-.107 1.281.223 1.908.395 1.052.335 2.266.239 3.155.99-1.109-.128-2.202-.374-3.278-.669l.093.715.776.157c-.915-.107-1.889-.057-2.672-.623-.542-.392-1.229-.312-1.859-.303l.164-.398c-1.886.092-3.445-1.32-4.975-2.253-1.556-.883-2.64-2.32-3.732-3.69-2.021-2.448-3.562-5.322-4.349-8.401zM40.76 61.257c.659-.306 1.327-.639 2.075-.668-.421.755-1.334.691-2.075.668zm-6.57 1.207c.823-.319 1.708-.308 2.577-.249-.839.228-1.708.331-2.577.249zm61.599-33.259h-4.12l-7.422-12.67v12.67h-3.852V9.959h4.12l7.422 12.683V9.959h3.852v19.246zm16.776 0H99.372V9.959h13.193v3.852h-9.341v3.852h6.322v3.852h-6.322v3.839h9.341v3.852zm21.797-5.503a5.65 5.65 0 0 1-.456 2.255c-.296.698-.707 1.311-1.235 1.839a5.83 5.83 0 0 1-1.839 1.235c-.698.295-1.445.443-2.241.443a5.79 5.79 0 0 1-2.067-.376 5.53 5.53 0 0 1-1.772-1.101c-.528.483-1.123.85-1.785 1.101a5.79 5.79 0 0 1-2.067.376c-.796 0-1.548-.148-2.255-.443a6.03 6.03 0 0 1-1.838-1.235c-.519-.528-.931-1.141-1.235-1.839-.295-.707-.443-1.459-.443-2.255V9.959h3.852v13.744a2 2 0 0 0 .148.765 2.03 2.03 0 0 0 .402.617c.179.17.385.304.618.403a1.9 1.9 0 0 0 .751.148 1.91 1.91 0 0 0 .752-.148 1.88 1.88 0 0 0 .604-.403 1.94 1.94 0 0 0 .416-.617 2.02 2.02 0 0 0 .147-.765V9.959h3.852v13.744a2.02 2.02 0 0 0 .148.765 2.04 2.04 0 0 0 .403.617 2.04 2.04 0 0 0 .617.403 1.91 1.91 0 0 0 .752.148c.268 0 .519-.049.751-.148s.434-.233.604-.403a1.92 1.92 0 0 0 .416-.617c.108-.242.161-.497.161-.765V9.959h3.839v13.744zM84.246 54.974h-3.852V35.728h3.852v7.704h7.691v-7.704h3.852v19.246h-3.852v-7.69h-7.69v7.691zm33.983-9.542a9.61 9.61 0 0 1-.362 2.644 10.14 10.14 0 0 1-.993 2.376 9.97 9.97 0 0 1-1.557 2.013 10.37 10.37 0 0 1-2.013 1.57 9.76 9.76 0 0 1-2.376.993 9.62 9.62 0 0 1-2.644.362 9.62 9.62 0 0 1-2.644-.362 10.15 10.15 0 0 1-2.376-.993 10.37 10.37 0 0 1-2.013-1.57 10.34 10.34 0 0 1-1.57-2.013c-.43-.743-.765-1.534-1.007-2.376-.233-.85-.349-1.731-.349-2.644s.116-1.794.349-2.644a10.2 10.2 0 0 1 1.007-2.376 10.34 10.34 0 0 1 1.57-2.013 9.97 9.97 0 0 1 2.013-1.557 10.12 10.12 0 0 1 2.376-.993 9.62 9.62 0 0 1 2.644-.362 9.62 9.62 0 0 1 2.644.362 9.81 9.81 0 0 1 2.376.993 9.97 9.97 0 0 1 3.57 3.57 9.84 9.84 0 0 1 .993 2.376 9.61 9.61 0 0 1 .362 2.644zm-3.825 0a5.91 5.91 0 0 0-.483-2.376c-.322-.752-.761-1.4-1.315-1.946a6.03 6.03 0 0 0-1.946-1.315 5.91 5.91 0 0 0-2.376-.483 5.94 5.94 0 0 0-2.389.483c-.743.322-1.391.761-1.946 1.315a6.02 6.02 0 0 0-1.315 1.946 5.89 5.89 0 0 0-.484 2.376 5.89 5.89 0 0 0 .484 2.376c.322.734.76 1.378 1.315 1.933a6.22 6.22 0 0 0 1.946 1.315 5.94 5.94 0 0 0 2.389.483 5.91 5.91 0 0 0 2.376-.483c.751-.322 1.4-.761 1.946-1.315a6.28 6.28 0 0 0 1.315-1.933 5.91 5.91 0 0 0 .483-2.376zm10.214-5.852v7.704h3.852c.528 0 1.024-.098 1.49-.295a4 4 0 0 0 1.221-.832 3.81 3.81 0 0 0 .819-1.221 3.73 3.73 0 0 0 .308-1.503c0-.528-.102-1.025-.308-1.49a3.77 3.77 0 0 0-.819-1.235 3.81 3.81 0 0 0-1.221-.819 3.64 3.64 0 0 0-1.49-.309h-3.852zm0 15.394h-3.852V35.728h7.704a7.34 7.34 0 0 1 2.04.282c.653.179 1.262.438 1.825.778a7.25 7.25 0 0 1 1.557 1.208 7.27 7.27 0 0 1 1.208 1.557c.34.573.6 1.186.779 1.839.187.653.281 1.333.281 2.04a7.51 7.51 0 0 1-.604 2.993 7.78 7.78 0 0 1-1.65 2.443 7.76 7.76 0 0 1-2.457 1.651 7.41 7.41 0 0 1-2.979.604h-3.852v3.852zm27.004 0h-13.193V35.728h13.193v3.852h-9.341v3.852h6.321v3.852h-6.321v3.839h9.341v3.852z'/%3E%3C/svg%3E");
$img-logo-file: url('#{$assets-path}logo.svg');
$img-logo-blue-file: url('#{$assets-path}logo-blue.svg');
// * text
$letter-spacing: 0.25px !default;

// * fonts
$font-path: '/assets/fonts' !default;
$font-inter-path: $font-path + '/Inter/' !default;

$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Public Sans', sans-serif; //'Halenoir Compact';


//* Icons
$icon-font-family: 'hope-icons' !default;
$icon-font-prefix: 'hpi-';
$icon-font-path: $font-path + '/#{$icon-font-family}' !default;

$hpi-frozen: "\e916";
$hpi-legal: "\e917";
$hpi-pregnancy-support: "\e918";
$hpi-close: "\e913";
$hpi-sur-egg: "\e914";
$hpi-surrogacy: "\e915";
$hpi-arrow-down: "\e900";
$hpi-arrow-left: "\e901";
$hpi-arrow-line-right: "\e902";
$hpi-arrow-right: "\e903";
$hpi-arrow-up: "\e904";
$hpi-egg: "\e905";
$hpi-fet: "\e906";
$hpi-ivf: "\e907";
$hpi-microscope: "\e908";
$hpi-minus: "\e909";
$hpi-plus: "\e90a";
$hpi-quote: "\e90b";
$hpi-sco-fb: "\e90c";
$hpi-soc-in: "\e90d";
$hpi-soc-inst: "\e90e";
$hpi-soc-tell: "\e90f";
$hpi-soc-viber: "\e910";
$hpi-soc-wapp: "\e911";
$hpi-surr: "\e912";

$icons-font-map: (
  arrow-down: $hpi-arrow-down,
  arrow-left: $hpi-arrow-left,
  arrow-line-right: $hpi-arrow-line-right,
  arrow-right: $hpi-arrow-right,
  arrow-up: $hpi-arrow-up,
  egg: $hpi-egg,
  fet: $hpi-fet,
  ivf: $hpi-ivf,
  microscope: $hpi-microscope,
  minus: $hpi-minus,
  plus: $hpi-plus,
  quote: $hpi-quote,
  soc-fb: $hpi-sco-fb,
  soc-in: $hpi-soc-in,
  soc-inst: $hpi-soc-inst,
  soc-tell: $hpi-soc-tell,
  soc-viber: $hpi-soc-viber,
  soc-wapp: $hpi-soc-wapp,
  surr: $hpi-surr,
  close: $hpi-close,
  sur-egg: $hpi-sur-egg,
  surrogacy: $hpi-surrogacy,
  frozen: $hpi-frozen,
  legal: $hpi-legal,
  pregnancy-support: $hpi-pregnancy-support
);

// * buttons
$button-primary-hover-color: var(--cl-white);
$button-primary-hover-bg-color: var(--cl-violet);

$button-primary-disabled-color: var(--cl-white);
$button-primary-disabled-bg-color: var(--cl-violet-1);
$disabled-opacity: 0.9;

$button-transition: background-color 0.3s ease-in-out, transform 0.3s cubic-bezier(0.17, 0.67, 0.82, 0.59),
box-shadow 0.4s ease-in-out, color 0.2s ease-in-out;

//* links
$link-color: currentColor !default;
$link-hover-color: var(--cl-yellow-orange-s) !default;

//* transitions && animations
$transition-default: 0.3s ease-in-out !default;
$transition-border: border-color $transition-default !default;
$transition-shadow: box-shadow $transition-default !default;

//* Scrolls
$scroll-size: var(--scroll-size, rem(10));
$scroll-border-radius: rem(10);
$scroll-thumb-color: clr('pink');
$scroll-thumb-hover-color: clr('pink-dark');
$scroll-track-color: transparent;
$scroll-track-line: inset 0 0 0 1px $scroll-thumb-color;

$font-family-base: $font-family-primary;

//* ngb-container
$enable-grid-classes: false;
//$grid-columns:                12 !default;
//$grid-row-columns:            6 !default;
//$grid-gutter-width: rem(32);
//$container-max-widths: (
//  xl: 1170px
//);

$disabled-color: var(--cl-brown-grey);
$disabled-bg-color: var(--cl-pale-lilac);
$disabled-bg-color-second: clr('pale-lilac-two');
$disabled-opacity: 0.9;

//* ngb-popovers
$popover-bg: #503895 !default;
$popover-body-color: var(--cl-white) !default;
$popover-body-padding-y: rem(8) !default;
$popover-body-padding-x: $contentGutterX2 !default;
$popover-border-width: 1px !default;
$popover-border-radius: rem(6) !default;
//$popover-border-color: clr('dark-stroke') !default;
$popover-box-shadow: 0 3 rem(19) rgba(0, 0, 0, 0.2) !default;
$popover-font-size: rem(12) !default;
$popover-max-width: rem(296) !default;
$popover-header-bg: #503895 !default;
$popover-header-color: var(--cl-white) !default;
$popover-header-padding-y: .3125rem !default;
$popover-header-padding-x: .75rem !default;
//$popover-arrow-width: rem(16);
//$popover-arrow-height: rem(8);
//$popover-arrow-color: $popover-bg;
//$popover-arrow-outer-color: transparent;
$popover-transition: top 0.3s linear;

//* input
$input-color: var(--cl-slate-grey);
$input-background: var(--input-bg-color, var(--cl-white));
$input-border-radius: var(--input-br-radius, rem(4));
$input-border: var(--input-border, 2px solid var(--input-br-color, var(--cl-pale-violet)));
$input-focus-bg-color: var(--cl-yellow-orange);
$input-placeholder: $cl-placeholder;
$input-transition: $transition-border;

//  * Validations elements
$validation-position-y: rem(-18) !default;
$validation-position-x: 0 !default;
$validation-font-size: rem(14) !default;
$validation-font-style: normal !default;
$validation-font-weight: 500 !default;
$validation-color: $cl-red !default;
$validation-bg-color: trasparent !default;


//* $ng-select
//$ng-select-second-placeholder: 'Please select';
$ng-select-highlight: #edade4;
//$ng-select-primary-text: clr('slate-grey');
//$ng-select-disabled-text: $disabled-bg-color-second;
//$ng-select-disabled-border-color: $disabled-color;
//$ng-select-disabled-opacity: $disabled-opacity;
//$ng-select-border: clr('pale-violet');
$ng-select-border-radius: 0;
$ng-select-border-width: rem(2);
//$ng-select-bg: var(--cl-white);
$ng-select-selected: lighten($ng-select-highlight, 40) !default;
//$ng-select-marked: var(--cl-pale-grey);
//$ng-select-placeholder: $cl-placeholder;
//$ng-select-height: rem(40);
//$ng-select-value-padding-left: rem(16);
//$ng-select-value-font-size: rem(14);
//$ng-select-label-font-size: rem(16);
//$ng-select-label-color: var(--cl-steel);
//$ng-select-panel-color: clr('brown-grey');
//$ng-select-item-active-color: var(--cl-yellow-orange);
//
//$ng-select-item-spacer: rem(16);
//$ng-select-box-shadow: 0 0 0 1px var(--cl-yellow-orange);
//$ng-select-box-shadow-opened: $sh-text;
$ng-select-error-color: $cl-red;
//$ng-select-focused-color: var(--cl-yellow-orange);
//$ng-select-container-transition: $transition-border, $transition-shadow;
//$ng-select-arrow-color: var(--cl-slate-grey);
//$ng-select-arrow-hover-color: var(--cl-yellow-orange);
//$ng-select-arrow-size: 10;
//$ng-select-clear-color: var(--cl-slate-grey);
//$ng-select-clear-hover-color: var(--cl-yellow-orange);
$ng-select-items-height: rem(38 * 7);

//* checkbox
$checkbox-label-font-size: rem(16) !default;
$checkbox-label-color: var(--cl-slate-grey) !default;
$checkbox-label-offset: 0 0 0 rem(6) !default;

$checkbox-background: var(--cl-white) !default;
$checkbox-mark-size: rem(20) !default;
$checkbox-mark-radius: rem(3) !default;
$checkbox-mark-border-size: 2px !default;
$checkbox-mark-color: $border-color !default;
$checkbox-active-background-color: var(--cl-battleship-grey) !default;
$checkbox-active-color: var(--cl-white) !default;

