<div class="__wrap" [class.--is-error]="isError">
  <textarea
    class="__field"
    [placeholder]="placeholder"
    [attr.name]="name"

    (ngModelChange)="onChange($event)"
    (keyup)="onChange($event)"
    [(ngModel)]="value"
    [tabIndex]="tabIndex"
    #elmRef>{{ value | json }}</textarea>

  <ng-container *ngIf="isError">
    <mark class="__msg">{{errorMsg}}</mark>
  </ng-container>
</div>
