@import "core";

.__wrap {
  position: relative;

  display: inline-flex;
  width: 100%;

  &.--is-error {
    &:before {
      position: absolute;
      top: rem(8);
      right: rem(5);

      @include pseudo-icon($hpi-close, 10);
      color: $cl-red;

      transform: translate(0, 0);
    }

    .__field {
      border-color: $cl-red;
    }
  }
}

.__field {
  display: inline-flex;
  flex: 1 1;

  min-height: rem(80);
  padding: rem(8) rem(24);

  font-weight: 600;
  font-size: rem(16);
  line-height: rem(20);

  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: rem(2) solid #E6EAEE;
  background: unset;
  box-shadow: none;

  &:focus {
    border-bottom-color: $cl-primary;
  }

  @include placeholder {
    color: $cl-placeholder
  }
}

.__msg {
  position: absolute;
  top: 100%;
  left: rem(8);
  right: rem(5);

  font-weight: 500;
  font-size: rem(10);
  color: $cl-red;

  text-align: right;
}
