<section class="__section">

  <div class="container">
    <div class="gm-text-center">
      <hope-caption content="Frequently asked questions"></hope-caption>

      <hope-description>
        As you consider parenthood, you may have questions along your surrogacy journey and we are here to help with
        some answers.
      </hope-description>
    </div>

    <div class="__list" gdGap="1rem">
      <ng-container>
        <hope-faq-item caption="Who can be treated with gestational surrogacy in Ukraine?">
          Surrogacy in Ukraine can be done for married couples only. Single men, women, heterosexual partners, same-sex
          marriages cannot have surrogacy process in Ukraine.
        </hope-faq-item>

        <hope-faq-item caption="Are there any restrictions to surrogacy process in Ukraine?">
          <p>
            Yes, there are restrictions. You need to be officially married and have fertility problems to start the
            process
            in Ukraine. The length of marriage isn't important.
          </p>

          <h4 class="list-caption --small">Indications for surrogacy process in Ukraine are the following reasons:</h4>

          <ul class="list">
            <li>absence of uterus (congenital or acquired)</li>
            <li>deformation of the uterus making pregnancy and carrying a baby impossible</li>
            <li>
              uterine synechiae (adhesions or scar tissue that form inside the cavity of the uterus) that cannot be
              treated
            </li>
            <li>
              a physical illness under which pregnancy threatens a woman's life or health even if a baby may not be in
              danger
            </li>
            <li>minimum 4 unsuccessful IVF attempts with obtaining the embryos of high quality.</li>
          </ul>
        </hope-faq-item>

        <hope-faq-item caption="What are the legal advantages of surrogacy process in Ukraine?">
          <p>
            Ukraine has one of the best surrogacy laws in the world while it offers affordable costs for surrogacy
            process. Commercial surrogacy is officially legal and regulated by the Article 123, Part 2 of the Family
            Code
            of Ukraine. Ukrainian surrogacy laws are the most favorable in the world because the surrogate mother isn't
            considered as a mother to the baby; the Intended Parents names will be in the birth certificate even if you
            used donor eggs for your program. name.
          </p>

          <h4 class="list-caption --small">Legal advantages:</h4>

          <ul class="list">
            <li>Commercial surrogacy is legal (only gestational)</li>
            <li>No Court Decree is required</li>
            <li>No further adoption procedure required</li>
            <li>Birth certificate is issued in the name of the intended parents after the child’s birth</li>
            <li>Gestational mother has no legal right to be considered as a legal mother of a baby delivered by her.
              Only
              intended parents are considered to be the legal parents of the child born by the gestational carrier.
            </li>
          </ul>
        </hope-faq-item>


        <hope-faq-item caption="How long does the whole surrogacy process take?">
          The length of the process depends on several factors. We typically tell intended parents that they should plan
          on a year and a half from the time they sign on with our agency until they have a child, although it can be
          quicker or longer depending on the legal requirements involved and the course of the IVF treatment.
        </hope-faq-item>


        <hope-faq-item caption="Can I be a parent if I’m single?">
          Ukraine allows surrogacy for only heterosexual married couples with fertility problems.
        </hope-faq-item>

        <hope-faq-item caption="How do I begin the process?">
          Starting your surrogacy journey begins with a complimentary consultation with our experienced team. You'll
          speak
          with a director of our agency. In this meeting you'll have an opportunity to share your story with us and why
          you've chosen surrogacy to grow your family, and we'll explain about our process, and answer any questions you
          have.
        </hope-faq-item>

        <hope-faq-item caption="What are the requirements to become a surrogate (gestational carrier)?">
          <p>
            We’ve established strict requirements for our surrogate applicants to ensure the continued success of our
            program. Here are some of our requirements for surrogate applicants:
          </p>

          <h4 class="list-caption --small">Has delivered a healthy child of her own, and is currently parenting at least
            one child</h4>
          <ul class="list">
            <li>21-35 years of age</li>
            <li>Physically and psychologically healthy</li>
            <li>Body Mass Index (BMI) of no higher than 33</li>
            <li>Support of family and friends</li>
            <li>No use of drugs, cigarettes, or alcohol abuse</li>
            <li>No currently use of anti-depressants</li>
            <li>Leads a stable, responsible lifestyle</li>
          </ul>
        </hope-faq-item>

        <hope-faq-item caption="Are the egg donors anonymous or known?">
          It is illegal to use a known donor in Ukraine, egg donation is anonymous according to our laws.
        </hope-faq-item>

        <hope-faq-item caption="Why New Hope?">
          Your surrogacy agency is your partner on your journey to parenthood and supports you through every stage of
          it. New Hope brings over 10 years of experience, a 95% success rate (the highest success rates in the
          industry),
          and a passionate team who supports you every step of the way.
        </hope-faq-item>
      </ng-container>
    </div>
  </div>
</section>
