@import "core";

.__main {
  @extend %show-fade;

  padding: rem(66) 0;
}

.__post {
  position: relative;
  padding: rem(48);

  border-radius: rem(16);
  background: var(--cl-white);
  box-shadow: $sh-card;
}

.__head {
  margin: 0 0 rem(16);
  padding: 0 0 rem(16);

  font-weight: 600;
  font-size: rem(32);
  line-height: 140%;
  color: $cl-secondary;
}

.__prev {
  position: absolute;
  top: 0;
  left: 0;

  width: rem(34);

  padding: rem(8) rem(20);

  color: var(--cl-white);

  border: none;
  border-radius: rem(16) 0 rem(16);
  background: $cl-primary;

  &:before {
    @include pseudo-icon($hpi-arrow-line-right, 12);

    transform: scaleX(-1);
  }

  @include only-mouse {
    &:hover {
      background: var(--cl-pink-dark);
    }
  }
}

.__date {
  position: absolute;
  top: 0;
  right: 0;

  padding: rem(8) rem(20);

  font-size: rem(14);
  line-height: 120%;
  color: $base-font-color;

  border-radius: 0 rem(16) 0 rem(16);

  background: var(--cl-gray-lighten);
}

.__img {
  display: block;

  min-height: rem(249);
  height: 36vh;

  border-radius: rem(16);
  filter: drop-shadow($sh-card);

  overflow: hidden;

  img {
    width: 100%;
    height: inherit;

    object-fit: cover;
    object-position: center;
  }
}

.__text {
  margin: rem(37) 0 0;

  font-weight: normal;
  font-size: rem(16);
  line-height: 150%;
  color: var(--cl-gray-light);
}

@include max-wide(laptop) {
  .__post {
    padding: rem(48) rem(24) rem(24);
  }
  .__head {
    line-height: 116%;
  }
}
