<section class="__main">
  <div class="container">
    <ng-template [ngIf]="isLoad">
      <div class="__post">
        <header class="__head" fxLayoutAlign="space-between center">
          <mark>{{name}}</mark>
          <span class="__date">{{time}}</span>

          <button class="__prev" fxLayoutAlign="center center" (click)="onBeckToBlog()"></button>
        </header>

        <div class="__content">
          <picture class="__img">
            <img [attr.src]="'assets/img/blog/' + img" alt="">
          </picture>
          <p class="__text" [innerHtml]="content"></p>
        </div>
      </div>
    </ng-template>
  </div>
</section>
