@import "core";

.__main {
  padding: rem(150) 0;
}

.__left {
  --description-mrg: #{0 0 rem(48) 0};
}

.__right {
  position: relative;
  z-index: 1;

  margin-right: rem(-70);

  img {
    position: relative;
    z-index: 1;

    max-width: rem(520);

    transform: scale(1.1);
    background: transparent;
  }
}

.__circle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: var(--surrogacy-circle-size, rem(800));
  height: var(--surrogacy-circle-size, rem(800));

  border: 1px solid #FF99B6;
  border-radius: 50%;

  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1);

  animation: 3s smooth-opacity infinite forwards alternate linear;
  animation-delay: 0s;

  &.--sec {
    --surrogacy-circle-size: #{rem(616)};

    opacity: 0.4;
    animation-delay: 0.4s;
  }

  &.--tr {
    --surrogacy-circle-size: #{rem(442)};

    opacity: 0.6;
    animation-delay: 0.8s;
  }
}

@include max-wide(phones) {
  .__left {
    margin-right: -20vw;
    z-index: 3;
  }
}

