<section class="__main" #surrogacyHostElm>
  <div class="container" gdColumns="1.2fr 0.8fr" gdGap="1.5rem 0" gdAlignColumns="center center">
    <article class="__left" >
      <div [@showTextOnTop]="isStartAnimate">
        <hope-caption [titleTag]="false" content="Surrogacy Programs"></hope-caption>

        <hope-description>
          At New Hope our goal is to support you at every stage of your journey to
          parenthood and provide best care and assistance in such an emotional process. We are
          helping build families since 2012 in surrogacy. Our lawyers and coordinators have almost 20 years of experience
          in the legal and medical fields. Our team has worked hard to create a practice that delivers success. A practice
          that is ethical, responsive, and experienced.
        </hope-description>
      </div>

      <hope-button routerLink="surrogacy-programs" [@scaleElem]="isStartAnimate">Learn more</hope-button>
    </article>

    <article class="__right" fxLayoutAlign="center center" [@showFade]="isStartAnimate">
      <img src="assets/img/sur-bg.png" title="Surrogacy Programs" alt="We are helping build families since 2012 in surrogacy.">

      <div fxLayoutAlign="center center">
        <span class="__circle"></span>
        <span class="__circle --sec"></span>
        <span class="__circle --tr"></span>
      </div>
    </article>
  </div>
</section>
