<section class="__main" #effortsHostElm>
  <div class="container">
    <div class="__top" [@showTextOnLeftToRight]="isStartAnimate">
      <hope-caption class="--current" content="Success is our priority"></hope-caption>

      <hope-description>
        New Hope has been helping build families since 2012 and we always try to achieve the best results.
      </hope-description>
    </div>

    <div class="__list" fxLayout.gt-sm="row wrap" gdGap.lt-md="1.5rem" gdColumns.lt-md="1fr 1fr">
      <article class="__item" gdGap="0.875rem" [@slideOnRight]="isStartAnimate">
        <mark>500+</mark>

        <div>Successful programs</div>
      </article>

      <article class="__item" gdGap="0.875rem" [@slideOnRightSecond]="isStartAnimate">
        <mark>10+</mark>

        <div>Years in the industry</div>
      </article>

      <article class="__item" gdGap="0.875rem" [@slideOnRightThird]="isStartAnimate">
        <mark>95%</mark>

        <div>Success rate</div>
      </article>

      <article class="__item" gdGap="0.875rem" [@slideOnRightFour]="isStartAnimate">
        <mark>20+</mark>

        <div>Qualified specialists</div>
      </article>
    </div>

  </div>
</section>
