@import "core";

.__main {
  padding: rem(168) 0;

  color: var(--cl-white);

  background: url("#{$assets-path}efforts.png") no-repeat top center /cover;
}

.__top {
  max-width: rem(728);
}

.__list {
  place-content: space-between;
  gap: rem(48);

  padding: rem(82) 0 rem(48);
}

.__item {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;

  letter-spacing: -0.05em;

  mark {
    font-weight: bold;
    font-size: rem(60);
    line-height: 100%;

    color: $cl-primary;
    text-shadow: rem(3) rem(-2) rem(1)  var(--cl-white);
  }
}

@include min-wide(fullHD) {
  .__main {
    padding: 14vw 0 17vw;
  }
}

@include max-wide(fullHD) {
  .__main {
    padding: 13vw 0;
  }

  .__list {
    gap: rem(24);

    padding: rem(48) 0;
  }
}

@include max-wide(phones) {
  .__main {
    padding: rem(140) 0 rem(68);
  }
}
