<section class="__main">
  <div class="container">
    <div class="__first-content"
         gdColumns.gt-xs="1fr 1fr"
         gdGap="1.5rem" gdGap.lt-sm="3rem 0"
         gdAlignColumns="center center">
      <div class="__left" [@showTextOnTop]="isAnimation">
        <div class="__capt">
          <hope-caption content="Welcome to New Hope <br>Surrogacy"></hope-caption>
        </div>

        <div class="__text">
          <hope-description>
            New Hope is a full-service surrogacy agency committed to helping you through every step of your journey to
            becoming parents. Our goal is to provide you with the best service in Ukraine.
          </hope-description>
        </div>
      </div>

      <picture class="__pict" fxFlexOrder.lt-sm="-1">
        <source srcset="assets/img/first-bg@x2.png" media="(min-width: 1024px)">
        <img src="assets/img/first-bg.png"
             alt="New Hope is a full-service surrogacy agency committed to helping you through every step of your journey to becoming parents. Our goal is to provide you with the best service in Ukraine."
             title="Welcome to New Hope Surrogacy">
      </picture>
    </div>
  </div>
</section>
