@import "core";

.__main {
  padding: rem(66) 0;
}

.__pict {
  position: relative;

  background: transparent;

  animation: scale-in 3s both alternate cubic-bezier(0, 1, .46, 1.2);
  transform: scale(0);

  will-change: transform, box-shadow;

  img {
    height: 100%;
    filter: drop-shadow(0 rem(4) var(--first-section-sh-of, rem(24)) rgba(101, 101, 101, 0.15)) drop-shadow(0 var(--first-section-sh-of, rem(24)) 0 $cl-secondary);
    transition: filter 3.5s linear;
  }
}

.__left {
  opacity: 0;
}

.__text {
  max-width: rem(530);
}

@include min-wide(phonesLg) {
  .__pict {
    margin: 0 -10% 0 0;
  }
}

@include max-wide(phonesLg) {
  .__main {
    padding: rem(48) 0 0;
  }

  .__pict {
    padding: 0 7vw;

    --first-section-sh-of: #{rem(16)};
  }
}
