@import "core";

:host {
  --slide-is-scale-from: 1.01;
  --slide-is-scale-to: 1.15;

  position: relative;

  display: flex;
  flex-flow: column;

  width: 100%;
  max-width: 100vw;

  //overflow: hidden;

  &:before {
    position: absolute;
    top: 0;
    left: -15vw;
    right: -15vw;
    bottom: 0;
    z-index: -1;

    content: '';

    background: url("#{$assets-path}line-2.svg") no-repeat center center /contain;

    transform: rotate(3deg);
  }
}

.__main {
  padding: rem(200) 0 rem(250);
}

.__item {
  position: relative;

  min-height: rem(240);

  padding: rem(46);

  border-radius: rem(16);

  text-align: left;

  background: url("#{$assets-path}ex-1.jpg") no-repeat center center /cover;
  box-shadow: $sh-card;

  transition: transform .3s linear;

  cursor: pointer;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;

    content: '';

    border-radius: inherit;
    background: $cl-primary;
    mix-blend-mode: normal;

    transition: opacity .3s linear;

    opacity: var(--examonation-item-op, 0.74);
  }

  &.--blue {
    &:before {
      background: $cl-secondary;
    }
  }

  &.--gray {
    &:before {
      background: #5e87c3;
    }
  }

  &.--2 {
    background: url("#{$assets-path}ex-2.jpg") no-repeat center center /cover;
  }

  &.--3 {
    background: url("#{$assets-path}ex-3.jpg") no-repeat center center /cover;
  }

  &.--4 {
    background: url("#{$assets-path}ex-4.jpg") no-repeat center center /cover;
  }

  @include only-mouse {
    &:hover {
      --examonation-item-op: .88;

      transform: scale(1.05);
    }
  }
}

.__capt {
  z-index: 2;
  margin: 0;

  font-weight: bold;
  font-size: rem(32);
  line-height: 140%;

  color: var(--cl-white);
}

@include max-wide(tablet) {
  .__main {
    padding: 10vw 0 20vw;
  }

  .__capt {
    font-size: rem(28);
  }
}

@include max-wide(phones) {
  :host {
    &:before {
      left: -50vw;
      right: -70vw;
    }
  }
}

@include min-wide(laptop) {
  :host {
    &:before {
      will-change: transform;
      animation: scale-in 10s infinite both alternate-reverse linear;
    }
  }

  .__item {
    &:first-child {
      max-width: rem(420);
    }
  }
}

