<section class="__main"  #examinationEml>
  <div class="container __content" gdGap="1.5rem" gdColumns.gt-xs="max-content 1fr">
    <article class="__item"
             gdColumn="1" gdRow.gt-xs="1"
             gdRow.gt-xs="1/3" gdColumn.xs="1" fxLayoutAlign="start end"
             [@showBlocksOnDown]="isStartAnimate"
             (click)="goToLink('sm_screening.pdf')">
      <h3 class="__capt">Screening for Surrogacy</h3>
    </article>

    <article class="__item --gray --2"
             gdColumn="2/3" gdColumn.lt-md="2"
             gdColumn.xs="1" gdRow.gt-xs="1" fxLayoutAlign="start end"
             [@showBlocksOnDownSecond]="isStartAnimate"
             (click)="goToLink('ed_screening.pdf')">
      <h3 class="__capt">
        Screening for Egg Donation
      </h3>
    </article>

    <article class="__item --blue --3"
             gdColumn="2" gdColumn.lt-md="2"
             gdColumn.xs="1" gdRow.gt-xs="2" fxLayoutAlign="start end"
             [@showBlocksOnDownThird]="isStartAnimate"
             (click)="goToLink('screening_for_ivf.pdf')">
      <h3 class="__capt">Screening for IVF</h3>
    </article>

    <!--    <div class="__item &#45;&#45;blue &#45;&#45;4" gdColumn="3" gdColumn.lt-md="1" gdColumn.lt-sm="1" gdRow.gt-xs="2" fxLayoutAlign="end end">-->
    <!--      <h2 class="__capt">-->
    <!--        Screening for Surrogacy-->
    <!--      </h2>-->
    <!--    </div>-->
  </div>
</section>
