@import "core";

.__wrap {
  display: flex;
  flex-flow: column;

  &:before, &:after {
    position: relative;
    z-index: 1;

    display: flex;

    width: 100%;

    content: '';
  }

  &:before {
    height: rem(189);

    margin: 0 0 rem(-6);

    content: '';

    background: url("#{$assets-path}vawe-bg-top.svg") no-repeat center /cover;
  }

  &:after {
    height: rem(160);

    margin: rem(-6) 0 0;

    background: url("#{$assets-path}vawe-bg-down.svg") no-repeat center /cover;
  }
}

.__main {
  position: relative;

  padding: rem(0);

  background: var(--cl-pink-light);
}

.__list {
  margin: rem(48);
}

.__item {
  display: flex;
  align-items: center;
  gap: rem(32);


  font-size: rem(16);
  font-weight: 500;
  line-height: 171%;

  mark {
    max-width: rem(320);
  }
}

.__item-pic {
  position: relative;

  img {
    position: relative;
    z-index: 1;

    width: rem(133);
    height: rem(133);

    border-radius: 50%;

    background: var(--cl-white);

    overflow: hidden;
  }

  &:before, &:after {
    position: absolute;

    content: '';

    border-radius: 50%;
  }

  &:before {
    top: rem(-10);
    left: rem(-10);

    width: rem(142);
    height: rem(142);

    background: $cl-secondary;
  }

  &:after {
    position: absolute;
    bottom: rem(-8);
    right: rem(-8);

    width: rem(125);
    height: rem(125);

    background: $cl-primary;
  }

  &.--sec {
    &:before {
      top: auto;
      left: auto;
      bottom: rem(-10);
      right: rem(-10);
    }

    &:after {
      top: rem(-8);
      left: rem(-8);
      bottom: auto;
      right: auto;
    }
  }
}

@include max-wide(laptop) {
  .__item {
    &:nth-child(2n +2) {
      flex-flow: row-reverse !important;

      text-align: right;
    }
  }
}

@include max-wide(phonesLg) {
  .__list {
    margin: rem(48) 0;
  }
}

@include min-wide(fullHD) {
  :host {
    &:after {
      height: rem(188) !important;

      margin: rem(-40) 0 0;

      transform: scaleY(0.7);
    }
  }
}

@media (min-width: 2200px) {
  :host {
    &:after {
      height: rem(210) !important;

      margin: rem(-50) 0 0;

      transform: scaleY(0.6);
    }
  }
}


