<section class="__wrap" #benefitsHostElm>
  <article class="__main">
    <div class="container">
      <div class="gm-text-center" [@scaleElem]="isStartAnimate">
        <hope-caption content="New Hope Advantage"></hope-caption>
        <hope-description>Our team will support you through every step of your journey</hope-description>
      </div>

      <div class="__list" gdColumns="1fr 1fr" gdColumns.lt-md="1fr" gdGap="2.5rem">

        <article class="__item">
          <picture class="__item-pic" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-1.jpg" alt="We provide support to our clients at all stages of the program"
                 title="provide support" loading="lazy">
          </picture>

          <mark [@showBlocksOnDownThird]="isStartAnimate">We provide support to our clients at all stages of the program</mark>
        </article>

        <article class="__item">
          <picture class="__item-pic --sec" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-4.jpg" alt="Surrogate mother candidates are screened" loading="lazy">
          </picture>

          <mark [@showBlocksOnDown]="isStartAnimate">Surrogate mother candidates are screened and matched under strict
            criteria
          </mark>
        </article>

        <article class="__item">
          <picture class="__item-pic --sec" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-2.jpg"
                 alt="Our team consists of specialists with over 20 years of experience in the Family Law and ART"
                 title="20 years of experience" loading="lazy">
          </picture>

          <mark [@showBlocksOnDownSecond]="isStartAnimate">Our team consists of specialists with over 20 years of experience in
            the Family Law and ART
          </mark>
        </article>

        <article class="__item">
          <picture class="__item-pic" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-5.jpg"
                 alt="We can offer genetic screening for the embryos to increase chances for success"
                 title="Offer genetic screening" loading="lazy">
          </picture>

          <mark [@showBlocksOnDown]="isStartAnimate">We can offer genetic screening for the embryos to increase chances for
            success
          </mark>
        </article>

        <article class="__item">
          <picture class="__item-pic" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-3.jpg"
                 alt="We partner with top IVF clinics that have modern and newest equipment" title="IVF clinics"
                 loading="lazy">
          </picture>

          <mark [@showBlocksOnDownSecond]="isStartAnimate">We partner with top IVF clinics that have modern and newest
            equipment
          </mark>
        </article>

        <article class="__item ">
          <picture class="__item-pic --sec" fxLayout="inline-flex" fxLayoutAlign="center center"
                   [@scaleElem]="isStartAnimate">
            <img src="assets/img/benefits-6.jpg" alt="Our coordinators are assisting the surrogate mothers 24/7"
                 title="surrogate mothers 24/7" loading="lazy">
          </picture>

          <mark [@showBlocksOnDown]="isStartAnimate">Our coordinators are assisting the surrogate mothers 24/7</mark>
        </article>
      </div>
    </div>
  </article>

</section>
