<section>
  <div class="container" fxLayout="column">
    <article gdGap="3rem" gdGap.lt-md="2.5" gdColumns.gt-sm=".6fr 1.4fr">
      <picture class="__pic" fxLayoutAlign="center center" gdGridAlign="center">
        <source srcset="assets/img/about-us-img@x2.png" media="min-width: 1024px">
        <img src="assets/img/about-us-img.png"
             alt="New Hope provides an exclusive service to our clients based on attention to details, individual approach, professionalism, experience and care."
             title="New Hope About Us">
      </picture>

      <div class="__content">
        <hope-caption [titleTag]="false" content="Welcome to new hope!"></hope-caption>

        <div class="__text">
          When choosing a surrogacy agency, experience matters. Most Intended Parents and surrogates want to work with
          an agency that has high success rate, can get them matched quickly, and that has many resources available to
          support and protect them emotionally, physically, financially and legally. <strong>New Hope</strong> is
          committed to helping you through every step of your journey to becoming parents. We work with the best IVF
          centers in Ukraine, hospitals and our team has a vast experience in the medical and legal field. We can offer
          a group of dedicated and experienced surrogacy case managers, counselors and attorneys to support you through
          your journey to parenthood.
          <br><br>
          New Hope provides an exclusive service to our clients based on attention to details, individual approach,
          professionalism, experience and care. Our agency fees cover all of the services including screenings, support,
          legal services, counseling, pregnancy coordination, birth support more. New Hope fees remain fixed, regardless
          of how long it takes to complete the surrogacy process.
          <br><br>
          Surrogacy is a complex and emotional journey, both for intended parents and surrogates. New Hope is a
          full-service boutique surrogacy agency, can guide you through this process, coordinating the necessary
          services along each step of the way to the parenthood.
        </div>
      </div>
    </article>

    <article class="__mission">
      <h3 class="__capt">OUR MISSION</h3>

      <div class="__text-line">
        For more than 10 years, our Team has guided intended parents, gestational surrogates, and egg donors through a
        remarkable process. We deeply care about every case in our practice and try to make the journey a positive one
        for everyone involved. We are happy that with our help the intended parents have their long-awaited children,
        surrogates and egg donors had a possibility to support their own families. At New Hope we are always trying to
        make this world a better place for everyone involved in the process with us.
      </div>
    </article>
  </div>
</section>
