@import "core";

:host {
  display: flex;
  flex-flow: column;

  padding: rem(66) 0;
}

.__pic {
  position: relative;

  margin: 9% auto 0 -8vw;

  max-width: rem(426);
  max-height: rem(540);

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 50%;
    height: 22%;

    content: '';

    background: transparent url("#{$assets-path}logo.svg") no-repeat;
    transform: translate(-30%, -36%);
  }

  img {
    width: 110%;

    filter: drop-shadow(1.4vw -0.9vw rem(0) $cl-primary);
  }
}

.__capt {
  margin: 0 0 rem(24);

  font-weight: bold;
  font-size: rem(24);
  line-height: 110%;
  color: $cl-primary;
}

.__mission {
  margin: rem(48) auto rem(68);
}

.__text {
  max-width: rem(690);

  font-size: rem(16);
  line-height: 150%;

  strong {
    font-weight: 600;
    color: $cl-primary;
  }
}

.__text-line {
  position: relative;
  max-width: rem(730);

  padding: rem(6) rem(16) rem(6) rem(25);

  font-weight: 500;
  font-size: rem(16);
  line-height: 188%;
  color: var(--cl-gray-light);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: rem(7);
    height: 100%;

    content: '';

    border-radius: rem(7);
    background: $cl-primary;
  }
}

@include max-wide(laptop) {
  .__mission {
    margin: rem(48) auto;
  }

  .__pic {
    margin: 0 0 0 -8vw;

    img {
      width: 95%;
    }
  }

  .__text, .__text-line {
    max-width: none;

    font-size: rem(17);
    line-height: 160%;
  }
}

@include max-wide(phonesLg) {
  :host {
    padding: rem(48) 0;
  }

  .__pic {
    margin: 0 auto !important;

    img {
      width: 65%;
    }
  }

}
