<ng-template [ngIf]="isLoadingPage">
  <router-outlet></router-outlet>
</ng-template>

<ngx-loading-bar color="#FF6A95" [height]="'6px'" diameter="48px"></ngx-loading-bar>
<!--<ngx-loading-bar color="#FF6A95" [height]="'6px'" diameter="48px"></ngx-loading-bar>-->

<!--<ng-template [ngIf]="isChangeCursor">-->
<!--  <hope-cursor></hope-cursor>-->
<!--</ng-template>-->

<!--<ng-template [ngIf]="isTheming==='newYear'">-->
<!--  <hope-root-effect></hope-root-effect>-->
<!--</ng-template>-->
