@import "core";

:host {
  flex-flow: column;
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1;

  /*  &.--fixed-footer {
      .__content {
        margin-bottom: rem(500);
      }

      .__foot {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }*/
}

.__content {
  flex: 1 1;

  z-index: 1;
}

