<hope-header [@showBlockOnDown]="true"></hope-header>

<main class="__content" fxLayout="column">
  <router-outlet></router-outlet>
</main>

<hope-footer class="__foot" [ngClass]="{'--offset --small': isContact}"></hope-footer>

<hope-consultation [toggleMenu]="(isConsultationShow$ | async)"
                   (hideEvent)="hideConsultationAside()">
</hope-consultation>

<hope-policy-cookie *ngIf="(triggerCookieWindow$ | async)"
                    [@showHide]="(triggerCookieWindow$ | async)">
</hope-policy-cookie>

<hope-button-top></hope-button-top>
