<article class="__item" gdGap="1.5rem">

  <div class="__top" fxLayout="column" fxLayoutAlign="center start">
    <div class="__capt">{{name}}</div>
    <div class="__price">{{price}}</div>
    <i [ngClass]="'hpi-' + icon"></i>
  </div>

  <div class="__desc" [innerHTML]="description">
    <ng-content></ng-content>
    <!--    {{description}}-->
  </div>

  <button type="button" class="__btn" (click)="openConsultationAside()" >Learn more</button>

  <ng-container *ngIf="detailsList">
    <div class="__detail">
      <div class="__detail-head" fxLayoutAlign="space-between center center">
        <span>Surrogacy Fees</span>

        <i class="hpi-arrow-down" [ngClass]="{'--is-show': detailList}" (click)="showDetailList()"></i>
      </div>

      <ng-container *ngIf="detailList">
        <div class="__detail-list" gdColumns.gt-xs="1fr 1fr" gdGap="1.5rem">
          <article class="__detail-item" *ngFor="let item of detailsList">
            <mark class="__detail-item-name">{{item.name}}</mark>
            <p class="__detail-item-text">{{item.text}}</p>
            <strong class="__detail-item-price">{{item.price}}</strong>
          </article>
        </div>
      </ng-container>
    </div>
  </ng-container>
</article>
