@import "core";

:host {
  --program-item-sapcer: #{rem(48)};
}

.__item {
  position: relative;

  padding: var(--program-item-sapcer, rem(48));

  border-radius: rem(16);
  background: var(--cl-white);
  box-shadow: $sh-card;

  user-select: none;

  transition: transform .23s linear;

  @include only-mouse {
    &:hover {
      --program-item-btn-op: 1;
      transform: scale(1.02) translate(0, -3%);

      .__price {
        color: var(--cl-pink-dark);
      }
    }
  }
}

.__capt {
  margin: 0 0 rem(16);

  font-weight: bold;
  font-size: rem(32);
  line-height: 106%;
  color: $cl-secondary;
}

.__price {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: bold;
  font-size: rem(42);
  line-height: 130%;
  color: $cl-primary;
  transition: color .3s linear;
}

.__btn {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: rem(8) rem(24);

  font-size: rem(16);
  color: var(--cl-white);

  border-radius: 0 rem(16) 0 rem(16);
  border: none;
  background: $cl-secondary;

  opacity: var(--program-item-btn-op, 0);
  transition: opacity .2s linear,  background-color .3s linear;;

  @include only-mouse {
    &:hover {
      background: var(--cl-pink-dark);
    }
  }
}

.__desc {
  max-width: 96%;

  font-weight: normal;
  font-size: rem(18);
  line-height: 180%;

  ::ng-deep {
    b, strong {
      color: $cl-primary;
    }
  }
}

.__top {
  position: relative;

  padding: 0 rem(100) 0 0;

  @include insert-icons {
    position: absolute;
    right: 0;

    margin: auto 0;

    font-size: rem(88);
    color: $cl-primary;
  }
}

.__detail-head {
  font-weight: 600;
  font-size: rem(24);
  line-height: 150%;

  color: $cl-primary;

  @include insert-icons {
    transition: transform .3s linear;
    cursor: pointer;

    &.--is-show {
      transform: rotate(180deg);
    }

    @include only-mouse {
      &:hover {
        color: $cl-primary !important;
      }
    }
  }
}

.__detail-list {
  margin: var(--program-item-sapcer) calc(var(--program-item-sapcer) * -1) calc(var(--program-item-sapcer) * -1);
  padding: var(--program-item-sapcer);

  border-radius: rem(16);

  background: rgba(#E6EAEE, 0.37);
}

.__detail-item {
  position: relative;

  padding: rem(4) rem(16) rem(4) rem(20);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: rem(4);
    content: '';

    border-radius: rem(8);
    background: $cl-primary;
  }
}

.__detail-item-text {
  margin: rem(8) 0;

  font-size: rem(14);
  line-height: 140%;
}

.__detail-item-name {
  font-weight: bold;
  font-size: rem(16);
  line-height: 100%;
  color: $cl-secondary;
}

.__detail-item-price {
  font-family: $font-family-secondary;
  font-weight: bold;
  font-size: rem(20);
  line-height: 140%;
  color: $cl-primary;
}

@include max-wide(tablet) {
  :host {
    --program-item-sapcer: #{rem(32)};
  }

  .__capt {
    margin: 0 0 rem(8);

    font-size: rem(28);
  }

  .__price {
    font-size: rem(32);
  }

  .__top {
    @include insert-icons {
      font-size: rem(62);
    }
  }
}

@include max-wide(phones) {
  .__top {
    padding-right: rem(34);

    @include insert-icons {
      top: rem(-50);
      right: rem(-50);

      padding: rem(20);

      font-size: rem(38);
      color: var(--cl-white);

      border-radius: 50%;
      background: $cl-primary;
      box-shadow: -0.625rem 0.25rem 3.125rem rgb(84 83 94 / 13%);
    }
  }

  .__capt {
    font-size: rem(24);
  }

  .__price {
    font-size: rem(30);
  }

  .__desc {
    line-height: 156%;
  }
}
