@import "core";

.__wrap {
  position: relative;

  display: inline-flex;
  width: 100%;

  &.--is-error {
    &:before {
      position: absolute;
      top: 50%;
      right: rem(5);

      @include pseudo-icon($hpi-close, 10);
      color: $cl-red;

      transform: translate(0, -50%);
    }

    .__field {
      border-color: $cl-red;
    }
  }
}

.__field {
  display: inline-flex;
  flex: 1 1;

  min-height: rem(38);
  padding: 0 rem(24);

  font-weight: 600;
  font-size: rem(16);

  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: rem(2) solid #E6EAEE;
  background: unset;
  box-shadow: none;

  &:focus {
    border-bottom-color: $cl-primary;
  }

  @include placeholder {
    color: $cl-placeholder;
  }

  &.--not-arrows {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}
