<section class="__blog">
  <div class="container">
    <div class="__list" gdColumns="repeat(auto-fill, minmax(17.5rem, 1fr))" gdGap="1.5rem">
      <hope-card
        class="__item"
        *ngFor="let item of blogData trackBy: trackByFn"
        [name]="item.name"
        [img]="item.poster"
        [description]="sliceContent(item.content) "
        [date]="item.date"
        (click)="onViewDetails(item.id, item.name)">
      </hope-card>
    </div>
  </div>
</section>
