@import "core";

.__capt {
  margin: rem(28) 0 rem(16);
}

.__card {
  position: relative;

  padding: rem(48);

  color: var(--cl-white);

  border-radius: rem(16);
  background: $cl-primary url("#{$assets-path}/doc.jpg") no-repeat center center /cover;
  box-shadow: $sh-card, inset 0 0 rem(120) rem(100) #000;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: inherit;
    background: var(--cl-pink-dark);
    opacity: 0.82;;
  }
}

.__list {
  margin: rem(32) 0 rem(32);

  li {
    color: $base-font-color;
    font-weight: 700;
    background: var(--cl-white);

    padding: rem(16) rem(32);

    border-radius: rem(180);
    line-height: 118%;

    filter: drop-shadow($sh-card) !important;

    strong {
      position: relative;
      font-size: rem(33);
      font-weight: 700;
      font-family: $font-family-secondary;
      color: $cl-secondary;
    }
  }
}

.__card-content {
  position: relative;
  z-index: 2;
}

.__rates {
  display: flex;
  justify-content: space-around;
  gap: rem(16);

  padding: rem(24) 0;
}

.__rate {
  display: flex;
  flex-flow: column nowrap;
  place-items: center center;

  gap: rem(16);

  text-align: center;

  mark {
    position: relative;

    display: inline-flex;
    align-items: center;
    place-content: center center;

    width: rem(150);
    height: rem(150);

    padding: rem(16);

    font-size: rem(32);
    font-family: $font-family-secondary;
    font-weight: 700;

    border-radius: 50%;
    border: rem(12) solid var(--cl-white);
    box-shadow: $sh-card;

    &:before {
      position: absolute;
      top: 50%;
      right: rem(-17);

      width: rem(12);
      height: rem(12);

      content: '';

      border-radius: 50%;
      background: $cl-primary;
      transform: translate(-50%, rem(-6)) scale(1.8);
    }
  }

  span {
    display: inline-flex;

    max-width: rem(320);
    font-size: rem(20);
  }
}

@include min-wide(laptop) {
  .__section {
    padding: rem(120) 0 rem(80);
  }
}


@include min-wide(phonesLg) {
  .__section {
    padding: rem(60) 0 rem(24);
  }
}

@include max-wide(phones) {
  .__card {
    padding: rem(32);
  }

  .__list {
    padding: 0;

    li {
      padding: rem(14) rem(20);
      font-size: rem(17);
    }

    strong {
      //position: relative;
      font-size: rem(28)!important;
    }
  }

  .__card-content {
    line-height: 170%;
  }
}
