<section class="__section" #parentHostElm>
  <div class="container">
    <div class="__card" [@showBlockOnTop]="isStartAnimate">
      <div class="__card-content">
        <h2 class="__capt gm-mt-0">Partner with the most successful surrogacy agency in Ukraine.</h2>

        <hope-description>
          When you begin a surrogacy journey, you want to be sure you're working with the best agency, and that you're
          going to be successful. Surrogacy is expensive, and having an agency with a high success rate that can
          guarantee you'll end your journey with a baby puts intended parents' minds at ease.
        </hope-description>

        <h2 class="__capt"> New Hope Surrogacy success rates</h2>

        <hope-description>
          Over the past <strong>500+</strong> surrogacy journeys, New Hope is proud to share the success rates for
          surrogacy journeys where intended parents brought home a baby:

          <ul class="__list" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="flex-start flex-start">
            <li fxLayoutAlign="center center" fxLayoutGap="1rem">
              <strong>95%</strong> <span>success rate for surrogacy with donor eggs with one transfer</span>
            </li>
            <li fxLayoutAlign="center center" fxLayoutGap="1rem">
              <strong>99%</strong> <span>success rate for those who completed at least two transfers</span>
            </li>
          </ul>
        </hope-description>

        <hope-description>
          Some of our clients who had their baby return for a second or third surrogacy journey with New Hope. Surrogacy
          is an emotional journey and a complex one. Having the right legal expertise and support throughout the journey
          provides a reliable result. Intended parents should look to work with lawyers who are experienced in Assisted
          Reproductive Technology (ART) law and we can provide this service. We partner with experienced lawyers and
          attorneys in Kyiv that can protect your interests and assist when required.
          <br><br>

          We will manage every detail for you throughout your journey. Our surrogacy coordinators have over 15 years of
          experience in the reproductive field. We also have physicians and other specialists available to guide and
          assist. New Hope strives to provide the best fertility care, from maintaining the highest legal, professional
          and human standards, to supporting you through every stage of your journey to parenthood. <b>Our goal is to
          bring families together</b>!
          <br> <br>

          <!--        <h2 class="__capt"> New Hope Surrogacy success rates</h2>-->

          We specialize on the processes from <strong>Australia</strong>, <strong>USA</strong>, <strong>Canada</strong>,
          <strong>UK</strong>, <strong>Ireland</strong>, <strong>Germany</strong> and other <strong>European</strong>
          countries.
        </hope-description>
      </div>
    </div>
  </div>
</section>
