@import "core";

:host {
  display: flex;

  width: 100%;
  height: 100%;

  flex: 1 1;
  align-items: stretch;
}

.__main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.__left {
  padding: $contentGutter;
  background: var() --cl-gray-light;

  background: red;
  align-items: center;
}

.__right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding: $contentGutterX3;


}

.__text {
  font-size: rem(22);
}


