<section class="__main">

  <article class="__left">
    <div class="__head">

    </div>

  </article>

  <aside class="__right">
    <hope-caption content="Database"></hope-caption>
    <p class="__text">
      For more than 12 years of work, we have formed a large database of donors and surrogate mothers. But the
      information is very fleeting, our candidates become out of date, so the New Hope team always updates and updates
      the information.
    </p>
    <hope-form-access-database>

    </hope-form-access-database>

  </aside>
</section>
