<section #reviewsHostElm [@showTextOnTop]="isStartAnimate">
  <div class="container">
    <div class="gm-text-center">
      <hope-caption content="Reviews"></hope-caption>
    </div>
  </div>

  <div class="__slider">
    <swiper [config]="config">
      <ng-template swiperSlide *ngFor="let item of lists">
        <article class="__item" gdGap="0.875rem">
          <span class="__name">{{item.name}}</span>
          <mark class="__text">{{item.text}}</mark>

          <div fxLayout="inline" fxLayoutAlign="space-between center center">
            <a class="__link" href routerLink="/testimonials">Learn more</a>
            <span class="__date">{{item.data}}</span>
          </div>
        </article>
      </ng-template>
    </swiper>
  </div>
</section>
