@import "core";

.__slider {
  position: relative;

  margin: 0;
  padding: rem(90) 0;

  ::ng-deep {
    .swiper {
      overflow: unset;

      &:before, &:after {
        position: absolute;
        top: -15%;
        left: 0;
        bottom: -15%;
        z-index: 10;

        width: 20vw;

        content: '';

        background: $gr-light-fade;;
      }

      &:after {
        right: 0;
        left: auto;
      }

      &:before {
        transform: scaleX(-1);
      }
    }

    .swiper-slide {
      max-width: rem(432);
    }

    .swiper-button-prev, .swiper-button-next {
      position: absolute;
      top: 50%;
      z-index: 11;

      transform: translate(0, -50%);
    }

    .swiper-button-prev {
      left: 7vw;
    }

    .swiper-button-next {
      right: 7vw;
    }
  }
}

.__item {
  position: relative;
  max-width: rem(432);

  padding: rem(32) rem(44);

  border-radius: rem(16);

  background: var(--cl-white);
  box-shadow: $sh-card;
  user-select: none;

  &:before {
    position: absolute;
    top: rem(60);
    left: rem(-24);

    @include pseudo-icon($hpi-quote, 49);

    color: $cl-primary;
  }

  @include only-mouse {
    transition: transform .3s linear;

    &:hover {

      z-index: 1;
      transform: scale(1.16);

      .__link {
        opacity: 1 !important;
      }
    }
  }
}

.__name {
  font-weight: bold;
  font-size: rem(30);
  line-height: 130%;

  color: $cl-primary;
}

.__text {
  max-width: rem(344);

  font-style: normal;
  font-weight: 600;
  font-size: rem(18);
  line-height: 140%;

  color: var(--cl-gray-light);

  @include text-dot-vertical(3)
}

.__date {
  font-size: rem(14);
  line-height: 106%;

  text-align: right;
  color: var(--cl-gray);

  @include only-touch {
    display: none;
  }
}

.__link {
  margin: 0 0 0 rem(-28);

  font-size: rem(14);
  font-weight: 600;
  color: $cl-primary;

  &:before {
    margin: auto rem(10) auto;
    @include pseudo-icon($hpi-arrow-line-right, 10)
  }

  @include only-mouse {
    opacity: 0;

    &:hover {
      color: $cl-secondary;
    }
  }

  @include only-touch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
  }
}

@include max-wide(phones) {
  .__slider {
    padding: rem(48) $contentGutter rem(90);

    ::ng-deep {
      .swiper {
        &:before, &:after {
          content: none;
        }
      }

      .swiper-slide {
        max-width: none;
      }

      .swiper-button-prev {
        left: 50%;

        transform: translate(-110%, 0);
      }

      .swiper-button-next {
        right: 50%;
        transform: translate(110%, 0);
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 110%;
      }
    }
  }

  .__item {
    padding: rem(32);
  }

  .__name {
    font-size: rem(24);
  }

  .__text {
    font-size: rem(16);
  }
}
