<section class="__section">
  <div class="container">
    <hope-caption [titleTag]="false" content="NGS 24 chromosomes"></hope-caption>

    <div class="_content gm-clear">
      <img class="__img " src="assets/img/gen-1.jpg" alt="ngs 24">

      <hope-description>
        <span class="gm-mt-3">
        <b>Next-Generation Sequencing (NGS)</b> is the latest approach for preimplantation genetic diagnoses <b><a
          routerLink="/pgd">(PGD)</a> NGS (CGH)</b> is
        a highly advanced scientific technique to test and diagnose embryos for specific genetic or chromosomal
        abnormalities. We can then select the embryos that are not affected with the condition being tested
        for, before implantation to maximize the chance of a successful pregnancy. A significant strength of
        next-generation sequencing is that it can detect abnormalities across the entire human genome.

        <br><br>This includes deletions, substitutions, insertions, duplications, chromosome inversions/translocations,
        and copy number changes. What’s more, <b>NGS</b> testing can detect all these abnormalities using less DNA than what’s
        required for other traditional sequencing methodologies, with faster turnaround times.
        <br><br>
        </span>

        <h3 class="list-caption">Couples who may consider Preimplantation Genetic Diagnosis include:</h3>

        <ul class="list --normal --center-mark">
          <li>those who are at risk of having a child with an inherited genetic condition</li>
          <li>people who have had recurrent miscarriage</li>
          <li>those having had repeated embryo transfers without pregnancy</li>
          <li>those where one is known to have a chromosome rearrangement</li>
          <li>anyone having a previous chromosomal abnormality in a pregnancy</li>
          <li>women older than 36 (usually to test for Down syndrome where the female partner is over 38 years old)</li>
        </ul>
      </hope-description>
    </div>
  </div>
</section>
