@import "core";

:host {
  @extend %show-fade;
}

.__section {
  --caption-mog: #{0 0 rem(32)};

  padding: rem(66) 0;
}

.__img {
  margin-bottom: rem(24);
}

@include min-wide(tablet) {
  .__img {
    position: relative;
    float: right;

    max-width: 30vw;

    margin-left: rem(48);
  }
}
