@import "core";

:host {
  @extend %show-fade;

  display: flex;
  align-items: center;
  flex: 1 1;
  flex-flow: column;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.__main {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-flow: column;

  width: 100%;
  height: 100%;
}

.__wrap {
  position: relative;
}

.__map {
  display: flex;
  align-items: center;
  flex: 1 1;
  flex-flow: column;

  width: 100%;
  height: 100%;

  &::ng-deep {
    .map-container {
      display: flex;
      align-items: center;
      flex: 1 1;
      flex-flow: column;

      width: 100%;
      height: 100%;

      & > div {
        background: var(--cl-white) !important;
      }
    }
  }

}

.__info {
  position: absolute;
  top: rem(100);
  left: 0;
  z-index: 1;
}

@include max-wide(phones) {
  .__info {
    top: rem(48);
    left: 50%;

    transform: translate(-50%, 0);
  }
}

@include min-wide(phones) {
  .__info {
    --slide-is-scale-from: 0;
    --slide-is-scale-to: 1;

    animation: scale-in 1.2s forwards linear;
    will-change: transition;
  }
}
