<section class="__main">
  <div class="container __wrap">
    <hope-contact-info class="__info"></hope-contact-info>
  </div>

  <ng-template [ngIf]="apiLoaded | async">
    <google-map class="__map"
                height="100%"
                width="100%"
                [zoom]="zoom"
                [center]="center"
                [options]="options">

      <map-marker [options]="optionsMarker"></map-marker>
    </google-map>
  </ng-template>

</section>
