@import "core";

:host {
  @extend %show-fade;
}

.__section {
  position: relative;

  padding: rem(66) 0;
}

.__img {
  position: fixed;
  top: 50%;
  right: 2vw;
  z-index: -1;

  opacity: 0.16;
  transform: translate(0 , -40%);
}

/*.__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: var(--surrogacy-circle-size, rem(800));
  height: var(--surrogacy-circle-size, rem(800));

  border: 1px solid #FF99B6;
  border-radius: 50%;

  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1);

  animation: 3s smooth-opacity infinite forwards alternate linear;
  animation-delay: 0s;

  &.--sec {
    --surrogacy-circle-size: #{rem(616)};

    opacity: 0.4;
    animation-delay: 0.4s;
  }

  &.--tr {
    --surrogacy-circle-size: #{rem(442)};

    opacity: 0.6;
    animation-delay: 0.8s;
  }
}*/
