<section class="__section">
  <div class="container">
    <hope-caption [titleTag]="false" class="gm-text-center" content="Surrogacy Process"></hope-caption>

    <div class="_content">
      <hope-description>
        Deciding to start surrogacy process is an important milestone in your journey towards parenthood. Fertility
        treatment and surrogacy process itself can be emotionally and physically stressful, but it can also open up a
        world of options and can bring “new hope” to many who are struggling with infertility. At New Hope our goal is
        to support you at every stage of your journey to parenthood and provide best care and assistance in such an
        emotional process.
      </hope-description>

      <hope-description>
        <br><br>

        <h3 class="list-caption">
          New Hope provides a wide range of services and support throughout your surrogacy program including:
        </h3>


        <ul class="list --normal --center-mark">
          <li>
            Surrogate mother match and screening
            <br>You will be provided with the list of suitable candidates available for your program
          </li>
          <li>
            Egg donor match and screening
            <br> You can select the egg donor from our database. The candidate will start the IVF process exclusively
            for
            you and eggs will be fresh (not from a frozen bank)
          </li>
          <li>
            IVF cycle support for the candidates and IPs
            <br>Our case manager and coordinator will be supporting the candidates through their IVF process at every
            step
            in our partner fertility clinic
          </li>
          <li>
            Legal support
            <br> We assist the IPs with understanding how the differences in laws can impact their legal rights and
            obligations. We also assist with the process of getting the necessary paperwork to return home with their
            baby.
            <br>
            Our legal services include drafting contracts between the IPs and gestational surrogate, notary’s services,
            submitting legal paperwork to the fertility clinic, preparing all the documents for the registration of
            birth
            and for the Embassy.
          </li>

          <li>
            Pregnancy coordination at our partner hospital
            <br>Our pregnancy coordinator supports surrogates at every stage. She is present at all appointments in the
            hospital, schedules check-ups, 24/7 support available for the surrogates, coordinates the process with the
            OB
            GYN and helps with all the steps.
          </li>
          <li>
            Support for the IPs
            <br> Our case manager will always be in touch with you if you have any questions or concerns. We want you to
            feel secure and protected during the international surrogacy process that’s why we are available 24/7 as we
            understand how challenging it is to wait for the baby abroad. We want you to feel involved and connected and
            we will be supporting you all the time, providing advice, counselling, recommendations about your process.
            At
            New Hope we deeply care about every case in our practice.
          </li>
        </ul>
      </hope-description>

      <hope-description>
        <br><br>
        <h3 class="list-caption">MEDICAL REQUIREMENTS</h3>

        <ul class="list --normal --center-mark">
          <li>absence of uterus (congenital or acquired)</li>
          <li>deformation of the uterus making pregnancy and carrying a baby impossible</li>
          <li>uterine synechiae (adhesions or scar tissue that form inside the cavity of the uterus) that cannot be
            treated
          </li>
          <li>a physical illness under which pregnancy threatens a woman's life or health even if a baby may not be in
            danger
          </li>
          <li>minimum 4 unsuccessful IVF attempts with obtaining high quality embryos</li>
          <li>parents must be free from Hepatitis B, Hepatitis C, HIV, syphilis</li>
        </ul>
        <br><br>
        <h3 class="list-caption">LEGAL ADVANTAGES</h3>
        <ul class="list --normal --center-mark">
          <li>Strongest legal status in the world regarding surrogacy</li>
          <li>Commercial surrogacy is legal</li>
          <li>No Court Decree is required</li>
          <li>Birth certificate is issued in the name of the intended parents</li>
          <li>Gestational carrier has no legal right to be considered as a legal mother of a baby</li>
        </ul>
      </hope-description>
    </div>

    <article class="__img" fxLayoutAlign="center center">
      <img src="assets/img/sur-bg.png" title="Surrogacy Programs" alt="We are helping build families since 2012 in surrogacy.">

<!--      <div fxLayoutAlign="center center">-->
<!--        <span class="__circle"></span>-->
<!--        <span class="__circle &#45;&#45;sec"></span>-->
<!--        <span class="__circle &#45;&#45;tr"></span>-->
<!--      </div>-->
    </article>
  </div>
</section>
