@import "core";

:host {
  transition: opacity .5s cubic-bezier(.17, .67, .83, .67);
  opacity: var(--card-opacity, 1);

  @include only-mouse {
    &:hover {
      --card-opacity: 1;
    }
  }
}

.__card {
  position: relative;

  padding: rem(24) rem(28);

  width: fit-content;
  height: 100%;

  background: var(--cl-white);
  box-shadow: $sh-card;
  border-radius: rem(16);

  cursor: pointer;
}

.__pic {
  --slide-is-translate-from: 0, 4px;
  --slide-is-translate-end:  0, 0;

  display: inline-block;

  margin: rem(-24) rem(-28) rem(24);

  height: rem(182);

  border-radius: inherit;
  overflow: hidden;

  animation: 1.5s slide-is forwards alternate linear, 1.9s smooth-opacity forwards alternate ease-in-out;

  img {
    height: 100%;

    object-fit: cover;
  }
}

.__name {
  @include text-dot-vertical(1);

  margin-bottom: auto;

  font-style: normal;
  font-weight: 600;
  font-size: rem(20);
  line-height: 140%;
  color: $cl-primary;
}

.__desc {
  @include text-dot-vertical(3);

  max-height: rem(62);

  margin: rem(12) 0;

  font-weight: normal;
  font-size: rem(14);
  line-height: 150%;
  color: var(--cl-gray-light);
}

.__date {
  position: absolute;
  top: 0;
  right: 0;

  padding: rem(5) rem(16);

  font-weight: 600;
  font-size: rem(12);
  line-height: 140%;
  color: var(--cl-white);
  letter-spacing: rem(0.3);

  background: var(--cl-gray-light);
  border-radius: 0 rem(16);
}

@include only-mouse {
  .__name:hover {
    color: $cl-secondary;
  }
}
