<article class="__card" fxLayout="column">
  <picture class="__pic" fxLayout="inline">
    <img [attr.src]="'assets/img/blog/'+ img" alt="">
  </picture>

  <a class="__name">{{name}}</a>

  <p class="__desc" [innerHTML]="description"></p>

  <mark class="__date">{{date}}</mark>
</article>
