@import "core";

.__main {
  padding: rem(96) 0;
}

.__item {
  gap: rem(32);

  font-size: rem(18);
  line-height: 150%;

  &.--invert {
    --info-item-line-color: #{$cl-secondary};

    .__capt {
      color: $cl-primary;
    }

    .__item-img {
      border-radius: rem(150) 0;
    }
  }
}

.__item-content {
  position: relative;

  max-width: rem(673);

  margin: auto 0;
  padding: rem(28) rem(28) rem(28) rem(35);;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: rem(7);
    height: 100%;

    content: '';

    border-radius: rem(7);

    background: var(--info-item-line-color, $cl-primary);
  }
}

.__capt {
  margin: 0 0 rem(20);

  font-weight: bold;
  font-size: rem(32);
  line-height: 140%;
  color: $cl-secondary;
}

.__item-img {
  display: flex;
  align-items: center;

  border-radius: 0 rem(150);

  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@include max-wide(phones) {
  .__main {
    padding-bottom: rem(24);
  }
}

@include min-wide(phones) {

  .__item-img {
    min-width: rem(340);
  }
}
