<section class="__main">
  <div class="container" gdGap="4rem" gdGap.lt-sm="2rem">

    <article class="__item" fxLayout="row" fxLayout.lt-sm="column" #infoHostElm [@showTextOnTop]="isStartAnimate">
      <div class="__item-content">
        <h2 class="__capt">Legal Advantages</h2>
        <div>
          Ukraine is one of a few countries, where surrogacy is legal. Our surrogacy lawyers will take care about all
          legal aspects of your surrogacy journey - from drafting the surrogacy contracts to receiving the birth
          certificate of the baby and assistance with your exit paperwork.
        </div>
      </div>

      <picture class="__item-img" fxFlexOrder.lt-sm="-1">
        <img src="assets/img/info-1.jpg" alt="Ukraine is one of a few countries, where surrogacy is legal."
             title="Legal Advantages" loading="lazy">
      </picture>
    </article>

    <article class="__item --invert" fxLayout="row" fxLayout.lt-sm="column" [@showTextOnTop]="isStartAnimate">
      <picture class="__item-img">
        <img src="assets/img/info-2.jpg"
             alt="It is very important to find an appropriate candidate for your surrogacy program. Our surrogate mother candidates are healthy young women fully screened and approved by our fertility specialist. "
             title="Find Your Dream Surrogate Mother" loading="lazy">
      </picture>

      <div class="__item-content">
        <h2 class="__capt">Find Your Dream Surrogate Mother</h2>
        <div>
          It is very important to find an appropriate candidate for your surrogacy program. Our surrogate mother
          candidates are healthy young women fully screened and approved by our fertility specialist. They are meeting
          our strict criteria of becoming a nurturing and caring lady for your baby.
        </div>
      </div>
    </article>

    <article class="__item" fxLayout="row" fxLayout.lt-sm="column" [@showTextOnTop]="isStartAnimate">
      <div class="__item-content">
        <h2 class="__capt">Surrogate support</h2>
        <div>
          We provide a full support to our surrogate mother candidates at every stage of the process, including
          counseling, psychological and medical assistance, opportunity to join support groups with other surrogates in
          our agency. New Hope is famous for its guidance, care and help for our candidates and they often return for a
          second journey with our agency.
        </div>
      </div>

      <picture class="__item-img" fxFlexOrder.lt-sm="-1">
        <img src="assets/img/info-3.jpg"
             alt="We provide a full support to our surrogate mother candidates at every stage of the process, including counseling, psychological and medical assistance, opportunity to join support groups with other surrogates in our agency."
             title="Surrogate support" loading="lazy">
      </picture>
    </article>
  </div>
</section>
