<section class="__main">
  <div class="container">
    <div class="__top">
      <hope-caption content="Services"></hope-caption>

      <hope-description>
        Our agency provides surrogacy and egg donation services to the Intended Parents across the world. We help you at
        every stage of your journey - from starting your IVF process to greating a baby.
      </hope-description>
    </div>

    <div class="__slider">
      <swiper [config]="config">
        <ng-template swiperSlide *ngFor="let item of servicesList">
          <article class="__item" fxLayout="column"  routerLink="/costs">
            <span class="__item-icn" [ngClass]="item.icon"></span>
            <h3 class="__item-name" [innerHTML]="item.name"></h3>
          </article>
        </ng-template>
      </swiper>
    </div>

    <div fxLayoutAlign="center center">
      <hope-button routerLink="/costs">Learn more</hope-button>
    </div>
  </div>
</section>
