@import "core";

//@keyframes explosion {
//  @for $i from 1 through 10 {
//    $number: $i * 10;
//    $percent: $number + "%";
//    #{$percent} {
//      content: $i + "";
//      color: white;
//      font-size: $i * 20px;
//    }
//  }
//}

//:host {
//  display: block;
//
//  max-width: 100vw;
//
//  overflow: hidden;
//}

.__main {
  padding: rem(110) 0 rem(120);
}

.__top {
  max-width: rem(840);

  margin: 0 0 0 auto;

  text-align: right;

  animation: swipe-down 2.5s both alternate linear;
}


.container {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: -16%;
    z-index: -1;

    width: rem(600);
    height: rem(778);

    content: '';

    background: url("#{$assets-path}second-ng.png") no-repeat left center /contain;
    opacity: 0.6;
  }
}

.__slider {
  $slider-offset: rem(40);

  position: relative;

  margin: (rem(66) - $slider-offset) -20vw (rem(104) - $slider-offset) 0;
  padding: $slider-offset 0 $slider-offset rem(10);

  overflow: hidden;

  ::ng-deep {
    .swiper {
      overflow: unset;

      &:after {
        position: absolute;
        top: -15%;
        right: 0;
        bottom: -15%;
        z-index: 10;

        width: var(--swiper-after-plash, 33%);

        content: '';

        background: $gr-light-fade;
      }
    }

    .swiper-slide {
      max-width: rem(230);

      animation: scale-in 2s both alternate;
    }

    .swiper-button-next {
      position: absolute;
      top: 50%;
      right: var(--swiper-button-next-right, 10%);
      z-index: 11;

      transform: translate(0, -50%);
    }

    .swiper-button-prev {
      display: none !important;
    }
  }
}

.__item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  width: rem(230);
  height: rem(227);

  padding: rem(24);

  background: var(--cl-white);
  border-radius: rem(16);
  box-shadow: $sh-card;

  transition: transform .3s linear;

  @include only-mouse {
    &:hover {
      z-index: 1;
      transform: scale(1.15);
    }
  }
}

.__item-name {
  font-weight: bold;
  font-size: rem(24);
  line-height: 130%;
}

.__item-icn {
  justify-content: space-between;

  width: rem(99);
  height: rem(99);

  margin: 0 0 0 auto;

  font-size: rem(88);

  color: $cl-primary;

  filter: drop-shadow(1px 1px 0px #FF6A95);
  &:before{
    animation: explosion 7s linear infinite reverse;
    transition: color .1s ease;
  }
}

@include only-mouse {
  .__main {
    animation: smooth-opacity 2s 1s both alternate linear;
  }
}

@include max-wide(notebookLg) {
  .__slider {
    --swiper-button-next-right: #{16%};
    --swiper-after-plash: #{38%};
    --grad-opacity: #{60%}
  }
}

@include max-wide(desktop) {
  .__main {
    padding: rem(30) 0 rem(120);
  }

  .container {
    &:before {
      left: -20vw;

      width: 88vw;
    }
  }

  .__slider {
    padding-left: 0;
    margin-left: $containerOffset;
  }
}

@include max-wide(phones) {
  .__main {
    padding: rem(68) 0 0;
  }

  .container {
    &:before {
      width: 90vw;

      margin-top: rem(45);
    }
  }
}
