<section class="__section">
  <div class="container">

    <article class="gm-text-center">
      <hope-caption [titleTag]="false" content="Programs costs"></hope-caption>
    </article>

    <article class="__list" gdGap="1.5rem">
      <ng-container *ngFor="let item of list">
        <hope-program-item
          [name]="item.name"
          [price]="item.price"
          [icon]="item.icon"
          [description]="item.description"
          [detailsList]="item.details"
        >
        </hope-program-item>
      </ng-container>
    </article>

    <article class="__down">
      <hope-description>
        <h2 class="__capt">How much does surrogacy cost</h2>
        <span>
          It is one of the first questions for nearly every hopeful intended parent: How much is surrogacy? There are many factors influencing the total cost of surrogacy. To gain an accurate understanding of overall surrogacy costs, intended parents need to understand the various services required throughout the surrogacy process.
          <br><br>
          Gestational surrogacy cost can be broken down into two main categories: agency fees and variable expenses. Every situation is unique, so the cost of growing your family using surrogacy depends on several factors.
          <br>

          <span class="__detail" fxLayout="column" fxLayoutGap="0.6rem" fxLayoutAlign="flex-start flex-start">
            <b>Surrogacy agency fees</b>
            <b>Travel expenses</b>
            <b>The use of egg donation</b>
            <b>Number of IVF cycles to achieve pregnancy</b>
            <b>The use of additional techniques like&nbsp;<a href routerLink="pgd">PGD</a>,&nbsp;<a routerLink="nipt">NIPT</a> </b>
            <b>The price of surrogacy in Ukraine ranges from $45,000 to $60,000 for most families depends on the agency. This cost includes agency fees, surrogate compensation and expenses, legal fees, and medical costs at a fertility clinic, prenatal care and delivery.</b>
          </span>
      </span>
      </hope-description>
    </article>
  </div>
</section>
