@import "core";

:host {
  --caption-mog: #{0 0 rem(48)};

  @extend %show-fade;
}

.__section {
  padding: rem(66) 0;
}

.__down {
  --program-item-sapcer: #{rem(48)};

  margin: rem(48) 0 0;
  padding: var(--program-item-sapcer);

  color: var(--cl-white);

  border-radius: rem(16);
  //background: $cl-primary;
  background: var(--cl-pink-dark);
  box-shadow: $sh-card, inset 0 0 rem(330) rem(30)  rgba(#000, .1);

}

.__capt {
  margin: 0 0 rem(32);

  font-size: rem(48);
  line-height: 110%;
}

.__detail {
  --link-color: #{$cl-primary};

  margin: rem(24) 0 0;

  b {
    padding: rem(10) rem(16);

    font-size: rem(20);
    line-height: 140%;

    color: var(--cl-black);
    border-radius: rem(8);
    background: var(--cl-white);
    box-shadow: $sh-card;
  }
}

@include max-wide(phones) {
  .__down {
    --program-item-sapcer: #{rem(32)} !important;
  }

  .__capt {
    font-size: rem(32);
  }
}
