@import "core";

$header-spacer: rem(10);

:host {
  //--link-color: #{var(--cl-white)};
  --link-color-hover: #{var(--cl-white)};

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z-index(header);

  min-height: var(--header-hgt);

  padding: $header-spacer 0;

  color: var(--cl-black);

  background-color: var(--cl-white);
  box-shadow: 0 0 0 2px rgba(#fff, 0.2);

  transform: translateY(-20vh);

  transition: background-color .6s ease-in-out, box-shadow .233s linear;

  &.--not-fixed {
    display: block;
    position: relative !important;
  }

  &.--shadow {
    box-shadow: $sh-card !important;
  }

  @if ($new-year-themes) {
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;

      width: 100vw;
      height: rem(70);

      content: var(--header-gard, none);

      background: url('#{$assets-path}snow/gr.png') repeat-x top center;
    }
  }
}

.__nav {
  display: flex;
  gap: rem(54);

  margin: auto 0 auto auto;
  white-space: nowrap;
}

.__btn-menu {
  margin: auto 0 auto auto;
}

.__link {
  position: relative;

  padding: 0 rem(10);

  font-weight: 600;
  font-size: rem(20);
  text-decoration: none;

  &.--active {
    color: $cl-primary;
  }

  @include only-mouse {
    &:hover {
      color: $cl-primary;
    }
  }
}

@include max-wide(laptop) {
  .__nav {
    display: none !important;
  }
}

@include min-wide(laptop) {
  .__btn-menu {
    display: none !important;
  }

  .__nav {
    margin: auto rem(94) auto auto;

    white-space: nowrap;
  }
}

@include max-wide(desktopMd) {
  .__nav {
    gap: rem(30);
  }
}


@include max-wide(phones) {
  :host {
    --btn-min-wdh: none !important;
    --btn-hgt: #{rem(38)};
    --btn-font-size: #{rem(15)};
    --btn-pdd: #{0 rem(16)};
  }
}

/*
@include keyframes(show-menu) {
  from {
    max-height: 0;

    padding-bottom: 0;
    padding-top: 0;
  }

  to {
    max-height: rem(500);
  }
}

@include keyframes(visibility-an) {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

*/
