<header class="__main">
  <div class="container" fxLayout="row nowrap" fxLayoutAlign="space-between center center" fxFlexAlign="center"
       fxLayoutGap="1rem">
    <div class="__logo" fxLayoutAlign="center center">
      <hope-logo></hope-logo>
    </div>

    <div class="__right" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <nav class="__nav">
        <a class="__link" href routerLink="/" [hidden]="isNotHome" (click)="resetPositionHome()">Home</a>
        <a class="__link" href routerLink="/costs" routerLinkActive="--active" (click)="resetPosition()"> Costs</a>
        <a class="__link" href routerLink="/about-us" routerLinkActive="--active" (click)="resetPosition()">About</a>
        <a class="__link" href routerLink="/faq" routerLinkActive="--active" (click)="resetPosition()">FAQ</a>
        <a class="__link" href routerLink="/blog" routerLinkActive="--active" (click)="resetPosition()">Blog</a>
        <a class="__link" href routerLink="/contact" routerLinkActive="--active" (click)="resetPosition()">Contact</a>
      </nav>

      <hope-button class="--blink" (click)="openConsultationAside()">Get In Touch</hope-button>

      <hope-button-menu class="__btn-menu"
                        [ngClass]="{'--is-open': isMenuOpen}"
                        (click)="triggerMenu()"></hope-button-menu>
    </div>
  </div>
</header>

<hope-mobile-menu [ngClass]="{'--is-open': isMenuOpen}"
                  (closeEvent)="triggerMenu(); resetPosition()"></hope-mobile-menu>
