@import "core";

:host {
  position: fixed;
  bottom: 23vh;
  right: 9vw;
  z-index: z-index(modal);

  display: inline-flex;

  animation: 3s arrow-top infinite both alternate linear;

  &.--hide {
    display: none;
  }

  @include max-wide(laptop) {
    //bottom: rem(350);
  }

  @include max-wide(phones) {
    //bottom: rem(510);
  }
}

.__prev {
  width: rem(34);

  padding: rem(8) rem(20);

  color: var(--cl-white);

  border: rem(2) solid var(--cl-white);
  border-radius: rem(16) 0 rem(16);
  background: $cl-primary;

  box-shadow: rem(0) rem(0) rem(0) rem(10) $cl-secondary, rem(0) rem(4) rem(50) rgba(84, 83, 94, 0.23);

  transform: rotate(-45deg);

  &:before {
    display: inline-flex;

    @include pseudo-icon($hpi-arrow-line-right, 12);

    transform: scaleX(-1) rotate(227deg) translate(-2px, 4px);
  }

  @include only-mouse {
    &:hover {
      background: var(--cl-pink-dark);
    }
  }
}
