<section class="__section">
  <div class="container">
    <hope-caption [titleTag]="false" content="NIPT"></hope-caption>

    <div class="_content gm-clear">
      <img class="__img " src="assets/img/gen-3.jpg" alt="nipt">

      <hope-description>
        <span class="gm-mt-3">
          <b>Noninvasive prenatal testing (NIPT)</b> is a method of determining the risk that the fetus will be born with certain genetic abnormalities. This testing analyzes small fragments of DNA that are circulating in a pregnant woman’s blood.
          <br><br>During pregnancy, the surrogate mother’s bloodstream contains a mix of cfDNA that comes from her cells and cells from the placenta. The placenta is tissue in the uterus that links the fetus and the mother’s blood supply. These cells are shed into the surrogate mother’s bloodstream throughout pregnancy. The DNA in placental cells is usually identical to the DNA of the fetus. Analyzing cfDNA from the placenta provides an opportunity for early detection of certain genetic abnormalities without harming the fetus.
          <br><br>NIPT is most often used to look for chromosomal disorders that are caused by the presence of an extra or missing copy (aneuploidy) of a chromosome. NIPT primarily looks for Down syndrome (trisomy 21, caused by an extra chromosome 21), trisomy 18 (caused by an extra chromosome 18), trisomy 13 (caused by an extra chromosome 13), and extra or missing copies of the X chromosome and Y chromosome (the sex chromosomes). The accuracy of the test varies by disorder.
          <br><br>NIPT is considered noninvasive because it requires drawing blood only from the pregnant woman and does not pose any risk to the fetus. NIPT is a screening test, which means that it will not give a definitive answer about whether or not a fetus has a genetic condition. The test can only estimate whether the risk of having certain conditions is increased or decreased. In some cases, NIPT results indicate an increased risk for a genetic abnormality when the fetus is actually unaffected (false positive), or the results indicate a decreased risk for a genetic abnormality when the fetus is actually affected (false negative). Because NIPT analyzes both fetal and maternal cfDNA, the test may detect a genetic condition in the surrogate mother.
          <br><br>
        </span>
      </hope-description>
    </div>
  </div>
</section>

