<div class="__card" [ngClass]="{'--small': toggleContent}">
  <h3 class="__title" [ngClass]="{'gm-mrg': toggleContent}">CONTACTS</h3>

  <ng-container *ngIf="!toggleContent">
    <div class="__info" gdGap="1rem">
      <div fxLayout="row nowrap"
           fxLayoutAlign="flex-start center center "
           fxLayoutGap="3.25rem"
           fxLayoutGap.lt-sm="1rem">
        <a class="__link gm-text-nowrap" [attr.href]="'tel:' + phoneLink " target="_blank">{{phone}}</a>

        <div class="__links" gdColumns="max-content max-content max-content" gdGap="1.5rem" gdGap.lt-sm="1rem">
          <a class="__link --icon hpi-soc-viber"[attr.href]="watsapp" target="_blank"></a>
          <a class="__link --icon hpi-soc-tell"[attr.href]="telegram" target="_blank"></a>
          <a class="__link --icon hpi-soc-wapp"[attr.href]="sanitize(viber)" target="_blank"></a>
        </div>
      </div>

<!--      <a class="__link &#45;&#45;alt gm-text-nowrap" [attr.href]="'tel:' + phoneSecondLink " target="_blank">{{phoneSecond}}</a>-->

      <a class="__link" [attr.href]="'mailto:'+ email" target="_blank">{{email}}</a>

      <a class="__link"
         [attr.href]="addressLink"
         target="_blank">
        {{address}}
      </a>
    </div>

    <h3 class="__title">FOLLOW US</h3>

    <div class="__links" gdAuto="column" gdGap="3rem" gdGap.lt-sm="1.5rem">
      <a class="__link --icon hpi-soc-fb" [attr.href]="facebook" target="_blank"></a>
      <a class="__link --icon hpi-soc-in" [attr.href]="linkedin" target="_blank"></a>
      <a class="__link --icon hpi-soc-inst" [attr.href]="instagram" target="_blank"></a>
    </div>
  </ng-container>

  <button class="__btn" [ngClass]="{'--is-active': toggleContent}" (click)="showContent()"></button>
</div>
