@import "core";

.__card {
  position: relative;

  max-width: rem(513);

  margin: 0 var(--container-gutter);
  padding: rem(48);

  background: var(--cl-white);
  border-radius: rem(16);
  box-shadow: $sh-card;
  overflow: hidden;

  transition: padding .3s ease-in-out, height .133s linear;

  &.--small {
    width: rem(380);

    padding: rem(28) rem(48);
  }
}

.__title {
  margin: 0 0 rem(24);

  font-weight: 600;
  font-size: rem(32);
  line-height: 140%;
  color: $cl-secondary;
}

.__info {
  margin: 0 0 rem(44)
}

.__link {
  --link-color-hover: #{$cl-secondary};

  position: relative;

  display: inline-flex;
  align-items: center;

  text-decoration: none;

  font-weight: 600;
  font-size: rem(18);
  line-height: 106%;

  &:not(.--icon) {
    min-height: rem(46);

    padding: rem(2) 0 rem(2) rem(32);

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: rem(7);

      content: '';

      border-radius: rem(7);
      background: $cl-primary;
    }
  }

  &.--icon {
    --link-color: #{$cl-primary};
    font-size: rem(32);
  }

  &.--alt {
    margin-top: rem(-28);

    &:after {
      position: absolute;
      top: 0;
      left:  rem(32);

      content: '↓ additional ';
      font-size: rem(10);
      color: $cl-primary;

      //background: $cl-primary;
    }
  }
}

.__links {
  display: inline-grid !important;

  width: max-content;

  margin-left: rem(24);
}

.__btn {
  position: absolute;
  bottom: 0;
  right: 0;

  width: rem(88);
  height: rem(88);

  padding: 0;

  border: unset;
  background: unset;

  &.--is-active {
    &:before {
      transform: translate(-50%, -50%) rotate(130deg); //
    }
  }

  &:before {
    position: absolute;
    top: 65%;
    left: 70%;
    z-index: 1;

    @include pseudo-icon($hpi-arrow-down, 24);
    color: var(--cl-white);

    transform: translate(-50%, -50%) rotate(-54deg); //
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';

    border-bottom: rem(88) solid $cl-primary;
    border-left: rem(88) solid transparent;

    transition: border .3s linear;
  }

  @include only-mouse {
    &:hover {
      &:after {
        border-bottom-color: var(--cl-pink-dark);
      }
    }
  }
}

@include max-wide(tablet) {
  .__card {
    width: auto;
  }
}

@include max-wide(phones) {
  .__card {
    padding: rem(20);

    &.--small {
      width: rem(320);
    }
  }

  .__links {
    margin-left: rem(16);
  }

  .__link {
    font-size: rem(16);

    &:not(.--icon) {
      min-height: rem(46);

      padding: rem(2) 0 rem(2) rem(24);
    }
  }
}

