<section class="__section">
  <div class="container" gdGap="0.875rem">
    <hope-caption [titleTag]="false" class="gm-text-center" content="Customer Reviews"></hope-caption>

    <div class="__list">
      <article class="__item" *ngFor="let item of list">
        <div class="__card" gdGap="0.5rem" [@scaleElem]="isAnimation">
          <span class="__name">{{item.name}}</span>
          <mark class="__text">{{item.text}}</mark>

          <span class="__date">{{item.data}}</span>
        </div>
      </article>
    </div>

    <!-- <footer fxLayoutAlign="center">
      <hope-button>
        <a href="https://g.page/r/CVeN2oohrbBoEAg/review" target="_blank">Add review</a>
      </hope-button>
    </footer> -->
  </div>
</section>

