@import "core";

:host {
  @extend %show-fade;
}

.__section {
  padding: rem(66) 0;
}

.__card {
  position: relative;

  padding: rem(24) rem(32);

  border-left: rem(6) solid $cl-primary;

  border-radius: 0 rem(16) rem(16) 0;
  background: var(--cl-white);
  filter: drop-shadow(rem(-10) rem(4) rem(14) rgba(84, 83, 94, 0.13));


  &:after {
    position: absolute;
    top: rem(10);
    right: rem(10);
    z-index: -1;

    @include pseudo-icon($hpi-quote, 178);
    line-height: 0.6 !important;
    color: $cl-primary;

    opacity: .1;
  }
}

.__name {
  font-size: rem(28);
  font-weight: 700;

  color: $cl-primary;

}

.__text {

  font-size: rem(20);
  line-height: 1.6;
  letter-spacing: 0.19px;
  font-weight: 500;
  color: var(--cl-black); // var(--cl-gray-light);
}

.__date {
  position: absolute;
  top: 0;
  right: 0;

  padding: rem(4) rem(12);

  font-size: rem(14);
  //line-height: 106%;
  font-weight: 500;

  text-align: right;
  color: var(--cl-white);
  //color: var(--cl-gray);

  border-radius: 0 rem(16) 0 rem(16);
  //background: $cl-primary;
  background: $cl-secondary;
}

.__list {
  width: auto;
  column-count: 2;
  column-width: auto;
  column-fill: initial;

  column-gap: var(--reviews-grap, $contentGutterX2);

}

.__item {
  display: inline-flex;
  width: unset;
  margin-bottom: $contentGutterX2;

  vertical-align: top;
  break-inside: avoid-column;
}

@include max-wide(laptop) {
  .__list {
    column-count: 2;
  }
}


@include max-wide(phonesLg) {
  .__list {
    column-count: 1;
  }
}
